/ media
/ col
.col-sm-5.col-md-4.col-lg-3.mg-t-10
  .card
    .card-header.d-flex.align-items-center.justify-content-between
      %h6.mg-b-0.tx-bold=t('evidence.witnesses')
    -if Evidence.where(board_id: current_user.projects.first.board_ids).present?
      %ul.card.activity-table.list-group.list-group-flush.tx-13{:style => "height: 340px;"}
        -Witness.where(id: Evidence.where(board_id: current_user.projects.first.board_ids).pluck(:witness_id).uniq).order(created_at: :desc).each do |witness|
          %li.list-group-item.d-flex.pd-sm-x-20
            %small.tx-13.tx-color-03.mg-b-0.pd-t-10.mg-b-0 #{witness.campaign.name}
            .mg-l-auto.text-right.pd-t-10
              = link_to evidences_dashboard_provider_witness_path(witness, evidence: "true"), {:remote => "true", :method => "get", 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "tx-13 text-uppercase"} do
                = t('evidence.upload_file')
                %i{"class" => "fa fa-arrow-up", "aria-hidden" => "true"}
    -else
      .card-body.pd-t-80.align-items-center.justify-content-between{:style => "height: 340px;"}
        .row-flex
          .col-md-12.text-center
            %i.fa.fa-camera.fnt-xlg{"aria-hidden" => "true"}
            %h6.tx-13.tx-color-03.mg-b-0.pd-t-10= t('evidence.upload_evidence_description')

  = render 'dashboards/provider_charts/download_csv'
