- @board.board_default_contents.each do |media|
  -if media.content.is_video?
    = video_tag(media.content.multimedia_url, class: "bilbo-official-ad #{"rotation-#{@board.rotation_degrees.to_i}" if @board.rotation_degrees != 0.0}", loop: true, preload: "auto", muted: "muted", id: "default-content-#{media.content.id}")
  -elsif media.content.is_image?
    = image_tag media.content.multimedia_url(:large), class: "bilbo-official-ad #{"rotation-#{@board.rotation_degrees.to_i}" if @board.rotation_degrees != 0.0}", id: "default-content-#{media.content.id}"
  -else
    = content_tag("iframe", '', src: media.content.url, height: "100%", width: "100%",  class: "bilbo-official-ad #{"rotation-#{@board.rotation_degrees.to_i}" if @board.rotation_degrees != 0.0}", :scrolling => "no", id: "default-content-#{media.content.id}")
