.col-sm-12.col-md-4.col-lg-3.pd-b-5.pd-md-l-0.mmcard
  .card.card-file
    .card-file-thumb.bg-white
      - meta = get_image_size_from_metadata(multimedia)
      -if multimedia.video?
        = video_tag(url_from_media(multimedia), class: "img-inherit", :controls => true, :controlslist => "nodownload" , autoplay: false, loop: true, muted: 'muted')
      -else
        -if meta[:height] <= 1080
          = image_tag multimedia, class: "img-inherit", :data => {lity: true}
        -else
          = image_tag "construction_video.webp", class: "img-inherit"
    .card-body
      -if meta[:height] <= 1080
        %h6.mmtitle= multimedia.filename.base
      - else
        %h6.mmtitle= I18n.t('ads.processing', filename: multimedia.filename.base)
      - if meta[:width].nil?
        %span= t("ads.measures")
      -else
        %span= "#{meta[:width]} x #{meta[:height]}"
      %div.pd-t-10
      %span= I18n.t('ads.transition')
      = select_tag "",options_for_select(Ad.transitions.map{|x|  [t("ads.transitions.#{x[0]}"),x[1]]}, multimedia.transition) ,onchange: "$.post('#{ad_attachment_path(multimedia.record,multimedia)}',{'_method':'put', 'effect': this.value} );", class: 'custom-select'
    .card-footer
      %span.d-sm-inline
        = t("general_inputs.size")
        \:
      = number_to_human_size(multimedia.byte_size, precision: 2)
      = link_to raw("<i class='fe fe-trash fnt-md tx-danger a-right'></i>"), ad_attachment_path(multimedia.record, multimedia), class: "float-right", method: :delete, data: { confirm: t("general_inputs.delete_confirmation") }

/ col
