<div class="col-sm-12 col-md-4 col-lg-3 pd-b-10 pd-md-l-0">
  <div class="card card-file">
    <div class="card-file-thumb bg-white">
        <%= image_tag multimedia, class: "img-inherit", :data => {lity: true} %>
    </div>
    <div class="card-body">
      <h6><%= multimedia.filename %></h6>
      <span><%= "#{multimedia.metadata[:width]} x #{multimedia.metadata[:height]}" %> </span>
    </div>
    <div class="card-footer"><span class="d-sm-inline"><%= t("general_inputs.size") %>: </span><%= number_to_human_size(multimedia.byte_size, precision: 2) %><%= link_to raw("<i class='fe fe-trash fnt-md tx-danger a-right'></i>"), ad_attachment_path(multimedia.record, multimedia), class: "float-right", method: :delete, data: { confirm: t("general_inputs.delete_confirmation") } %></div>
  </div>
</div><!-- col -->
