.col-sm-12.col-md-4.col-lg-3.pd-b-5.pd-md-l-0.mmcard.mg-t-10
  .card.card-file
    .card-file-thumb.bg-white
      - meta = get_image_size_from_metadata(multimedia)
      -if multimedia.video?
        = link_to multimedia, class: "glightbox img-inherit", :data => {caption: multimedia.filename.base, group: multimedia.record.id} do
          = image_tag generate_thumbnail(multimedia, 600, 600), class: "img-inherit", :controls => false, :controlslist => "nodownload" , autoplay: false, loop: true, muted: 'muted'
      -else
        -if meta[:height] <= 1080
          = link_to multimedia, class: "glightbox img-inherit", :data => {caption: multimedia.filename.base, group: multimedia.record.id, type: "image"} do
            = image_tag generate_thumbnail(multimedia, 600, 600), class: "img-inherit"
        -else
          = image_tag "construction_video.gif", class: "img-inherit"
    .card-body
      -if multimedia.video?
        %h6.mmtitle= multimedia.filename.base
      -else
        -if meta[:height] <= 1080
          %h6.mmtitle= multimedia.filename.base
        - else
          %h6.mmtitle= I18n.t('ads.processing', filename: multimedia.filename.base)
      - if meta[:width].nil?
        %span= t("ads.measures")
      -else
        %span= "#{meta[:width].round(0)} x #{meta[:height].round(0)}"
      %div.pd-t-10
      %span= I18n.t('ads.transition')
      = select_tag "",options_for_select(Ad.transitions.map{|x|  [t("ads.transitions.#{x[0]}"),x[1]]}, multimedia.transition) ,onchange: "$.post('#{ad_attachment_path(multimedia.record,multimedia)}',{'_method':'put', 'effect': this.value} );", class: 'custom-select'
    .card-footer
      %span.d-sm-inline
        = t("general_inputs.size")
        \:
      = number_to_human_size(multimedia.byte_size, precision: 2)
      = link_to raw("<i class='fe fe-trash fnt-md tx-danger a-right'></i>"), ad_attachment_path(multimedia.record, multimedia), class: "float-right", method: :delete, data: { confirm: t("general_inputs.delete_confirmation") }

/ col
