.col-sm-12.col-md-4.col-lg-3.pd-b-5.pd-md-l-0
  .card.card-file
    .card-file-thumb.bg-white
      = image_tag multimedia, class: "img-inherit", :data => {lity: true}
    .card-body
      %h6= multimedia.filename
      %span= "#{multimedia.metadata[:width]} x #{multimedia.metadata[:height]}"
      %div.pd-t-10
      %span= I18n.t('ads.transition')
      = select_tag "",options_for_select(Ad.transitions.reject.with_index{ |x, i| x[1] == multimedia.transition }.map{|x|  [x[0],x[1]]}) ,onchange: "$.post('#{ad_attachment_path(multimedia.record,multimedia)}',{'_method':'put', 'effect': this.value} );", class: 'custom-select',:prompt => Ad.transitions.key(multimedia.transition)
    .card-footer
      %span.d-sm-inline
        = t("general_inputs.size")
        \:
      = number_to_human_size(multimedia.byte_size, precision: 2)
      = link_to raw("<i class='fe fe-trash fnt-md tx-danger a-right'></i>"), ad_attachment_path(multimedia.record, multimedia), class: "float-right", method: :delete, data: { confirm: t("general_inputs.delete_confirmation") }

/ col
