= render 'shared/header', menu: "ads"
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item.active{"aria-current" => "page"}= t("header.ads")
        %h4.mg-b-0.tx-spacing--1= t("ads.ads")
      .d-none.d-md-block
        %a{"data-toggle" => "modal", :href => "#modalNewAd"}
          %button.btn.btn-sm.pd-x-15.btn-primary.btn-uppercase.mg-l-5
            %i.wd-10.mg-r-5.fe.fe-plus
            = t("ads.new_ad")
    / Content
.content
  .container#gallery_ads.pd-x-0.pd-lg-x-12.pd-xl-x-0
    .row#ads_body
      = render :partial => "new_ad_card"
      = render :partial => 'overview_card', collection: @ad_upcoming, as: :ad
    .container#paginator.text-center.tx-13.pd-t-10
      = link_to_next_page @ad_upcoming, "#{t("ads.more_ads")}"'<i class="ion-arrow-down-c" style="padding-left:5px;"></i>'.html_safe, :remote => true, :param_name => "ad_upcoming_page"
  / container
/ content
= render partial: "ads/new"
