%tr
  %td= sale.description
  %td= sale.percent
  %td= sale.status
  %td= sale.starts_at.strftime("%F %T")
  %td= sale.ends_at.strftime("%F %T")
  %td
    - if sale.status == "running"
      = distance_of_time_in_words(Time.zone.now, sale.ends_at)
    - elsif sale.status == "scheduled"
      = "Starts in #{distance_of_time_in_words(Time.zone.now, sale.starts_at)}"
    - else
      \-
  %td= sale.board_sales.count
  %td
    .dropdown
      %span.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Acciones
      .dropdown-menu
        %a.dropdown-item{:href => edit_admin_sale_path(sale)}
          %i.fe.fe-edit.mg-r-5
          Edit Sale
        = link_to admin_sale_path(sale), class: "dropdown-item", method: :delete do
          %i.fe.fe-trash.mg-r-5.tx-danger
          Delete Sale
