= render 'shared/header', menu: "contents"
.filemgr-wrapper
  = render "contents/sidebar"
  #multimediaTab.filemgr-content
    .filemgr-content-header.white-background.d-flex.align-items-center.justify-content-between
      .search-form.w-50p
        %i.fe.fe-search.pd-r-5.fnt-md
        %input#searchMultimedia.form-control{:placeholder => t("general_inputs.search"), :type => "search"}/
      .btn.btn-xs.btn-primary.d-block.d-sm-none
        = render "contents/upload_dropdown"
      / search-form
    / filemgr-content-header
    .filemgr-content-body
      .pd-20.pd-lg-25.pd-xl-30
        %h4.mg-b-15.mg-lg-b-25= t("ads.all_multimedia_files")
        #multimediaElements.card-group
          = render partial: "single_multimedia", collection: @contents, as: :content
        .container#paginator.text-center.tx-13.pd-t-10
          = link_to_next_page @contents, "#{t("ads.more_ads")}"'<i class="ion-arrow-down-c" style="padding-left:5px;"></i>'.html_safe, :remote => true, :param_name => "upcoming_page"
