<%= render 'shared_user/header' %>


<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="row">
      <div class="col-lg-3 col-xl-2 d-none d-lg-block">
      </div><!-- col -->

      <div class="col-lg-9 col-xl-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Configuracion</li>
          </ol>
        </nav>
        <h3 class="mg-b-25">Installation</h3>

        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="bd pd-20">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>


                <div class="form-group">
                  <%= image_tag user_avatar(resource, 80), class: "ronded-circle" %>
                  <%= f.file_field :avatar, accept: "image/png,image/jpg,image/jpeg" %>
                </div>

                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="form-group">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password", required: true, class: "form-control" %>
                </div>

                <div class="actions">
                  <%= f.submit "Update" %>
                </div>
              <% end %>
            </div>
          </div>
        </div><!-- row -->
      </div><!-- col -->
    </div><!-- row -->
  </div>
</div><!-- content -->
