<%= render 'shared/header', menu: "account" %>


<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="row">
      <div class="col-lg-3 col-xl-2 d-none d-lg-block">
      </div><!-- col -->

      <div class="col-lg-9 col-xl-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="#">Usuarios</a></li>
            <li class="breadcrumb-item active" aria-current="page">Configuracion</li>
          </ol>
        </nav>
        <h3 class="mg-b-25">Configuracion</h3>

        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <div class="pd-20">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, remote: true) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group d-flex justify-content-between">
                  <div class="col-xs-6 col-sm-2">
                    <%= image_tag user_avatar(resource, 80), class: "rounded-circle" %>
                  </div>
                  <div class=" custom-file col-xs-6 col-sm-8 col-md-10 align-self-center ">
                    <%= f.file_field :avatar, accept: "image/png,image/jpg,image/jpeg", class: "custom-file-input" %>
                    <%= f.label(:avatar, t("general_inputs.choose_a_file"), class: "custom-file-label") %>
                  </div>
                </div>


                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, class: "form-control", disabled: true %>
                </div>
                <div class="divider-text"><%= t("account_settings.general_information_divider") %></div>


                <div class="form-row">
                  <div class="form-group col-md-8">
                    <%= f.label t("account_settings.name") %><br />
                    <%= f.text_field :name, class: "form-control" %>
                  </div>
                  <div class="form-group col-md-4">
                    <%= f.label t("account_settings.idiom") %><br />
                    <%= f.select("locale", [["español","es"],["english","en"]], {}, {:class => "custom-select"}) %>
                  </div>
                </div>


                    <div class="divider-text"><%= t("account_settings.password_divider") %></div>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label t("account_settings.password_hint") %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:  t('account_settings.password_divider') %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= "#{@minimum_password_length} #{t('account_settings.minimum_characters')}" %></em>
                  <% end %>
                </div>

                <div class="form-group col-md-6">
                  <%= f.label t("account_settings.password_confirmation") %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:  t('account_settings.password_divider') %>
                </div>
              </div>
              <div class="form-group">
                  <%= f.label t("account_settings.current_password") %><br />
                  <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
                </div>

                <div class="actions">
                  <%= f.submit t("account_settings.update"), class: "btn btn-primary btn-block" %>
                </div>

              <% end %>

            </div>
          </div>
        </div><!-- row -->
      </div><!-- col -->
    </div><!-- row -->
  </div>
</div><!-- content -->
