%tr
  %th
    -if board.images.attachments.present?
      -board.images.each do |image|
        = image_tag image, class: "img wd-50 ht-50 rounded"
    -else
      = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
  %td.valign-middle-f.tx-bold= board.name
  %td.valign-middle-f.tx-gray-700 #{board.duration} Seg
  %td.valign-middle-f.tx-gray-700 1920x1080
  -if board.images_only
    %td.valign-middle-f.tx-gray-700 Imagen
  -else
    %td.valign-middle-f.tx-gray-700 Imagen, video
  %td<
    %div
      %div{:id => "images-#{board.slug}"}
        -if board.board_campaigns.find_by(campaign_id: @campaign).present?
          = render partial: 'campaigns/wizard/add_content_button', locals: {board: board}
          = render partial: 'campaigns/wizard/show_selected_content', collection: board.board_campaigns.find_by(board_id: board.id, campaign_id: @campaign).contents_board_campaign.map{|cont| cont.content}, as: :img, locals: {board_slug: board.slug}
          = hidden_field_tag "content_board_campaign_id", board.board_campaigns.find_by(board_id: board.id, campaign_id: @campaign).contents_board_campaign.map{|cc| cc.content_id}, :id => "#{board.slug}"
        -else
          = render partial: 'campaigns/wizard/add_content_button', locals: {board: board}
          = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
          = hidden_field_tag "content_board_campaign_id", board.board_campaigns.where(board_id: board.id, campaign_id: @campaign).map{|cc| cc.content_id}, :id => "#{board.slug}"
