%tr
  %th
    -if board.board_photos.present?
      - board.board_photos.each do |image|
        = image_tag image.image_url(:small), class: "img wd-50 ht-50 rounded"
    -else
      = image_tag "#{image_path("placeholder_sm")}", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
  %td.valign-middle-f.tx-bold= board.name
  %td.valign-middle-f.tx-gray-700#bilbo_duration #{board.duration} #{t("bilbos.sec")}
  %td.valign-middle-f.tx-gray-700= board.recommended_image_size
  -if board.images_only
    %td.valign-middle-f.tx-gray-700= t("bilbos.image")
  -else
    %td.valign-middle-f.tx-gray-700= t("bilbos.both_image_video")
  %td<
    %div.d-flex
      = render partial: 'campaigns/wizard/add_content_button', locals: {board: board, campaign: @campaign}
      %div.d-flex{:id => "images-#{board.slug}", style: "overflow-x: auto;"}
