%tr.ht-85
  %td.border-0
    -if board.images.attachments.present?
      - image = board.images.first
      = image_tag url_from_media(image), class: "img wd-80 ht-80 rounded"
    -else
      = image_tag "#{image_path("placeholder_sm")}", class: "mg-r-5 mg-b-5 img wd-80 ht-80 rounded"
  %td.border-0
    %span{class: "#{'invisible' if !board.smart}"}
      .badge.badge-info.wizard-badge-smart
        %i.fe.fe-star
        SMART
    %h6.pd-t-10.tx-bold=board.name
    %p.tx-12.tx-gray-2="#{t("bilbos.face")}: #{(board.face.in? ["north","south","east","west"])? I18n.t("bilbos.#{board.face}") : board.face.capitalize}"
  %td.border-0.col-5
    .row
      -if !board.steps
        %span.col-12
          .input-group.pd-x-0
            .input-group-prepend
              %span.input-group-text.bg-transparent.tx-14.bd-0.tx-gray-3
                $
            %input{id: "budget-#{board.id}", type: "number", :step => "any", :class => "w-100-mobile form-control tx-gray-3 input-number", style:"", value: "#{BoardsCampaigns.find_by(campaign: @campaign, board: board).present?? BoardsCampaigns.find_by(campaign: @campaign, board: board).budget : "#{board.minimum_budget}"}", min: "#{board.minimum_budget}"}
            .input-group-append
              .input-group-text.bd-r-0.bg-transparent
                %span.material-icons.tx-14.tx-gray-3
                  play_circle_outline
            %input.bd-l-0{:id => "impressions-#{board.id}", :min => "1", :step => "1", :type => "number", :class => "tx-gray-3 form-control input-number"}
            %span.d-none{id: "budget_error_message-#{board.id}"}=t('campaign.minimum_budget_per_bilbo', {name: board.name, min_budget: board.minimum_budget})
      -else
        %span.col-12
          .input-group.pd-x-0
            .input-group-prepend
              %span.input-group-text.bg-transparent.tx-14.bd-0
                %i.icon.ion-locked.tx-gray-3
            = select_tag "budget-#{board.id}", options_for_select(board.no_smart_prices, board.no_smart_prices[0][0]), class:"w-100-mobile form-control input-number tx-gray-3", style:""
            .input-group-append
              .input-group-text.bd-r-0.bg-transparent
                %span.material-icons.tx-14.tx-gray-3
                  play_circle_outline
            %input.bd-l-0{:id => "impressions-#{board.id}", :min => "1", :step => "1", disabled:"" , :type => "text", :class => "tx-gray-3 bg-transparent form-control input-number"}
            %span.d-none{id: "budget_error_message-#{board.id}"}=t('campaign.minimum_budget_per_bilbo', {name: board.name, min_budget: board.minimum_budget})

        %input.d-none{:id => "minimum-#{board.id}", :readonly => "readonly", :type => "number", :value => "#{board.minimum_budget}"}
        %input.d-none{:id => "board-class-#{board.id}", :value => t("bilbos.#{board.category}")}
    .row.pd-t-10.pd-l-30
      %p.col-5.tx-12.tx-gray-3=t('campaign.daily_budget')
      %p.col-6.tx-12.tx-gray-3.pd-l-25=t('campaign.daily_spots')
