%h3.d-none=t("campaign.wizard.budget")
%section
  .row
    .col-sm-12.col-md-12.col-lg-8.col-xl-8
      %h3.tx-bold= t('campaign.wizard.budget')
      %label.d-block= t('campaign.select_budget')
      %div#tablebody.ht-350.mg-t-30.pos-relative
        %table.table-responsive.table.wizard-table.border-0#tablebody
          %tbody#budget_distribution
    .col-sm-12.col-md-12.col-lg-4.col-xl-4
      %h3.tx-bold= t('campaign.details')
      %label.d-block= t('campaign.total_investment')
      .table-responsive.ht-350.mg-t-30
        %table.table.wizard-table.border-0
          %tbody
            %tr
              %td.border-0.tx-gray-3=t("general_inputs.name")
              %td.border-0.tx-gray-2=@campaign.name
            %tr
              %td.border-0.tx-gray-3=t("bilbos.duration")
              %td.border-0.tx-gray-2="#{@campaign.active_days.to_s} #{t("week_days.days")}"
            %tr
              %td.border-0.tx-gray-3=t("campaign.dates")
              %td.border-0.tx-gray-2="#{(I18n.l @campaign.starts_at, format: "%d-%b")} #{t("campaign.wizard.to")} #{I18n.l(@campaign.ends_at, format: "%d-%b")}" rescue t('campaign.wizard.ongoing_campaign')
            %tr
              %td.border-0.tx-gray-3=t("campaign.objective")
              %td.border-0.tx-gray-2=t("campaign.objectives.#{@campaign.objective}")
            %tr
              %td.border-0.tx-gray-3=t("campaign.wizard.selected_bilbos")
              %td.border-0.tx-gray-2{id: 'board_count'}
            %tr
              %td.border-0.tx-gray-3=t("bilbos.search.media_type")
              %td.border-0.tx-gray-2{id: 'board_class'}
            %tr
              %td.border-0.h2="Total"
              %td.border-0.h2.tx-gray-1{id: 'total_budget'}
%input.d-none#active_days{"value": "#{@campaign.active_days}"}
= f.hidden_field :budget_distribution, value: "", id: "budget_values"
