%h3= t('campaign.wizard.budget')
%section.mg-t-30
  %form
    = hidden_field_tag :max_impressions, ''
    %label.d-block= t('campaign.wizard.daily_budget_description')
    .input-group.col-sm-12.col-md-6.col-xl-4.pd-x-0
      .input-group-prepend
        %span.input-group-text
          %i.fe.fe-wallet
      = f.text_field :budget, :class => "form-control input-number", required: true
      %span#budget_error_message.d-none= t('campaign.minimum_budget_per_bilbo')
      .input-group-append
        %span.input-group-text.pd-t-0.pd-b-0.pd-l-0.pd-r-10{"data-placement" => "top", "data-toggle" => "tooltip", :title => t('campaign.wizard.impressions_forecast')}
          %input#impressions.input-group-text.border-0.text-center.no-outline-focus.pd-l-0.pd-r-0.input-number_integer{:min => "1", :step => "1", :type => "number"}
            %i.pd-l-5.fe.fe-desktop
    .col-4
    .divider-text= t('campaign.wizard.campaign_duration')
    .form-row
      .col-12
        .custom-control.custom-radio
          %input#date_campaign.custom-control-input{:name => "customRadio", :type => "radio", :checked => "#{'true' if !@campaign.ongoing?}"}/
          %label.custom-control-label{:for => "date_campaign"}= t('campaign.wizard.pick_date')
        .custom-control.custom-radio
          %input#ongoing_campaign.custom-control-input{:name => "customRadio", :type => "radio", :checked => "#{'true' if @campaign.ongoing?}"}/
          %label.custom-control-label{:for => "ongoing_campaign"}= t('campaign.wizard.ongoing_campaign')
      .col-12.form-row
        .col-6= f.text_field :starts_at, :class => "form-control", placeholder: t('campaign.wizard.start_date')
        .col-6= f.text_field :ends_at, :class => "form-control", placeholder: t('campaign.wizard.end_date')
