%h3= t('campaign.wizard.choose_bilbos')
%section.ht-100p-f.row.mg-0.pos-relative-f
  = render partial: "boards/selected_bilbos_list_view", locals:{f:f}
  .wd-100p.position-relative
    = render "boards/sidebar"
    .pos-absolute.t-0.b-0.r-0.transition-delay.map-left-space
      = render partial: 'boards/map/loading_effect'
      = render partial: 'boards/board_map'
  #boardInfo.col-md-12.col-xl-3.mg-t-10.order-1.d-none
    / card
    %ul#boardTab.nav.nav-tabs.nav-justified.d-none{:role => "tablist"}
      / content filled with js
    %ul.nav.nav-tabs.nav-justified.pd-b-5{:role => "tablist"}
      %li.nav-item
        %select.boardSelect.custom-select.custom-select-blue
          / content filled with js
    #boardTabContent.tab-content.bd.bd-gray-300.bd-t-0.pd-5.rounded
      / content filled with js
  / end card
