#modalContent.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1", "data-images-only": "#{@board.images_only?}"}
  .modal-dialog.modal-dialog-centered.modal-lg{:role => "document"}
    .modal-content
      %input#board_slug.d-none{:readonly => "readonly", :value => "#{@slug}"}/
      .modal-header
        %h5.modal-title.tx-bold #{t("content.bilbo_select")} #{@board.name}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .container-fluid
          .row
            .col-3
              .dropdown.dropdown-icon.flex-fill
                %button.btn.btn-xs.btn-block.btn-secondary{"aria-expanded" => "true", "data-toggle" => "dropdown"}
                  %i.fe.fe-plus
                  =t("content.upload_content")
                .dropdown-menu.tx-13{:style => "position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 27px, 0px);", "x-placement" => "bottom-start"}
                  = link_to new_multimedia_contents_path, remote: true, class: "dropdown-item" do
                    %i.fe.fe-large.fe-file-image.pd-r-5.tx-16
                    %span=t("content.upload_image")
                  = link_to new_multimedia_contents_path, remote: true, class: "dropdown-item" do
                    %i.fe.fe-large.fe-file-image.pd-r-5.tx-16
                    %span=t("content.upload_video")
                  -if current_user.is_provider?
                    = link_to new_url_contents_path, remote: true, class: "dropdown-item" do
                      %i.fe.fe-large.fe-link-external.pd-r-5.tx-16
                      %span=t("content.add_web_content")
              .pd-t-20.pd-b-10
                %label.tx-sans.tx-uppercase.tx-medium.tx-10.tx-spacing-1.tx-color-03.pd-l-10
                  =t("content.filter_content")
                %nav.nav.nav-sidebar.tx-13
                  %a.filter_content.nav-link.active{:href => "#none"}
                    %i.pd-x-5.fnt-md.fe.fe-file
                    %span=t("content.all_content")
                  %a.filter_content.nav-link{:href => "#image"}
                    %i.pd-x-5.fnt-md.fe.fe-file-image
                    %span=t("content.images")
                  %a.filter_content.nav-link{:href => "#video"}
                    %i.pd-x-5.fnt-md.fe.fe-file-movie
                    %span=t("content.videos")
                  -if current_user.is_provider?
                    %a.filter_content.nav-link{:href => "#web"}
                      %i.pd-x-5.fnt-md.fe.fe-link-external
                      %span=t("content.websites")
            .col-9.ht-500{style: "overflow-y: auto;"}
              .wizard-card-deck.content.align-items-center#single_content
              .container#paginator.text-center.tx-13.pd-t-10
                = link_to_next_page @content, "#{t("ads.more_ads")}"'<i class="ion-arrow-down-c" style="padding-left:5px;"></i>'.html_safe, :remote => true, :param_name => "ad_upcoming_page"
      .modal-footer
        = button_tag t("wizard.next"), type: 'button', onclick: "append_content();", class: "btn btn-primary"
      %input#slug-board.d-none{:readonly => "readonly", :value => "slug-#{@board.slug.to_s}"}/
