%h3= t('campaign.wizard.budget')
%section
  %form
    .row.justify-content-xl-center
    .divider-text= 'selecciona en que horas deseas que se muestren tus creativos' 
    .col-12.form-row.justify-content-xl-center
      .quantity{style: "margin-right: 10px;margin-left: 10px;"}
        %input#per_minute{:max => "9", :min => "1", :step => "1", :type => "number", :value => "1", :class => "form-control"}
      %span{style: "margin-top:10px;"}= t('campaign.wizard.impresions_hour')
      .quantity{style: "margin-right: 10px;margin-left: 20px;"}
        %input{:type => "time", :class => "form-control"}
      %span{style: "margin-top:10px;"}= 'to'
      .quantity{style: "margin-right: 10px;margin-left: 20px;"}
        %input{:type => "time", :class => "form-control"}
    .col-4
    .divider-text= t('campaign.wizard.campaign_duration')
    .form-row
      .col-12
        .custom-control.custom-radio
          %input#date_campaign.custom-control-input{:name => "customRadio", :type => "radio", :checked => "#{'true' if !@campaign.ongoing?}"}/
          %label.custom-control-label{:for => "date_campaign"}= t('campaign.wizard.pick_date')
        .custom-control.custom-radio
          %input#ongoing_campaign.custom-control-input{:name => "customRadio", :type => "radio", :checked => "#{'true' if @campaign.ongoing?}"}/
          %label.custom-control-label{:for => "ongoing_campaign"}= t('campaign.wizard.ongoing_campaign')
      .col-12.form-row
        .col-6= f.text_field :starts_at, :class => "form-control", placeholder: t('campaign.wizard.start_date')
        .col-6= f.text_field :ends_at, :class => "form-control", placeholder: t('campaign.wizard.end_date')
