%h3= t('campaign.wizard.campaign_hour')
%section
  %form
    .row.justify-content-xl-center
    = t('campaign.wizard.impressions_hour_explanation').html_safe
    .divider-text= t('campaign.wizard.title_impressions_per_hour')
    .col-12.form-row.justify-content-xl-center
      = f.fields_for :impression_hours do |imp|
        = render 'impression_hour_fields', f: imp
      .links.w-100.d-flex.justify-content-center.mg-t-10
        = link_to_add_association I18n.t('campaign.add_schedule'), f, :impression_hours, class: "text-light btn btn-primary", :id => "add_schedule", :onclick => "buttonCount();"
        %span#button_schedule_error_message.d-none= t('campaign.must_add_schedule')
