.modal.fade.effect-slide-in-top#modalSummary{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-body.pd-20
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h5.tx-18.tx-sm-20.tx-bold=t('campaign.wizard.ads_schedule')
        %p.tx-14.tx-gray-2=t('campaign.wizard.ads_schedule_description')
        .table-responsive.ht-350.mg-t-30
          %table.table.wizard-table
            %tbody
              %tr
                %td.tx-gray-3=t('bilbos.day')
                %td.tx-gray-3=t('campaign.classification.budget')
                %td.tx-gray-3=t('campaign.impressions')
                %td.tx-gray-3=t('campaign.schedules')
              -@rows_per_day.each do |day, rows|
                - rows.times do |i|
                  %tr
                    -if i==0
                      %td.tx-gray-2{rowspan: rows}=t("week_days.#{day}")
                      %td.tx-gray-2{rowspan: rows, id: "budget_#{day}"}
                    %td.tx-gray-2{id: "impressions_#{day}_#{i}"}
                    %td.tx-gray-2{id: "ranges_#{day}_#{i}"}
                - if rows == 0
                  %tr
                    %td.tx-gray-2=t("week_days.#{day}")
                    %td.tx-gray-2 -
                    %td.tx-gray-2 -
                    %td.tx-gray-2 -

      .modal-footer
        %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
