%h3= t("campaign.wizard.pick_ad")
%section.mg-t-15
  .col-12
    %table.table
      %thead.thead-secondary
        %tr
          %th{:scope => "col"}
          %th{:scope => "col"} Bilbo
          %th{:scope => "col"} Duración
          %th{:scope => "col"} Tamaño
          %th{:scope => "col"} Formatos
          %th{:scope => "col"} Anuncios
      %tbody
        %tr
          %th
            = image_tag "https://via.placeholder.com/100", class: "img wd-50 ht-50 rounded"
          %td.valign-middle-f.tx-bold Pantalla LCT Saltillo
          %td.valign-middle-f.tx-gray-700 10 Seg
          %td.valign-middle-f.tx-gray-700 1920x1080 px
          %td.valign-middle-f.tx-gray-700 Imagen, video
          %td<
            %div
              = link_to root_path, class: "btn btn-outline-primary bd-dotted wd-50 ht-50 btn-icon mg-r-5 mg-b-5" do
                %i.fe.fe-plus.valign-middle-f
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
        %tr
          %th
            = image_tag "https://via.placeholder.com/100", class: "img wd-50 ht-50 rounded"
          %td.valign-middle-f.tx-bold Pantalla LCT Saltillo
          %td.valign-middle-f.tx-gray-700 10 Seg
          %td.valign-middle-f.tx-gray-700 1920x1080 px
          %td.valign-middle-f.tx-gray-700 Imagen, video
          %td<
            %div
              = link_to root_path, class: "btn btn-outline-primary bd-dotted wd-50 ht-50 btn-icon mg-r-5 mg-b-5" do
                %i.fe.fe-plus.valign-middle-f
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
              = image_tag "https://via.placeholder.com/100", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded"
