%h3= t("campaign.wizard.pick_ad")
%section.mg-t-15
  .col-12
    %table.table.wizard-table
      %thead.bg-ui-01
        %tr.ht-45
          %th{:scope => "col"}
          %th{:scope => "col"}= t("bilbos.bilbo")
          %th{:scope => "col"}= t("bilbos.duration")
          %th{:scope => "col"}= t("general_inputs.size")
          %th{:scope => "col"}= t("bilbos.formats")
          %th{:scope => "col"}= t("bilbos.ads")
      %tbody#content_inf
= render partial: 'campaigns/wizard/content'
%input#campaign_id.d-none{:readonly => "readonly", :value => "#{@campaign.slug}"}/
%span#error_adding.d-none= t('content.adding_content')
