.card.wd-30p{"data-content": "#{content.id}"}
  -if content.is_url?
    %iframe{:src => "#{content.url}", class: "card-img-top", scrolling: "no"}
  -elsif content.is_video?
    = image_tag content.multimedia_url(:small), class: "card-img-top"
  - else
    -if content.multimedia(:large).height <= 1080
      = image_tag content.multimedia_url(:small), class: "card-img-top"
    - else
      = image_tag "construction_video.webp", class: "card-img-top"
  .card-body.pd-5-f
    -if content.is_url?
      %p.card-text{style: "margin-bottom: 0.5rem;"}= content.url
      %p.card-text
        %small.text-muted URL
    -else
      %p.card-text{style: "margin-bottom: 0.5rem;"}= content.multimedia.metadata["filename"].truncate(30)
      %p.card-text
        %small.text-muted= "#{content.multimedia(:large).width.round(0)} x #{content.multimedia(:large).height.round(0)}"
