.col-sm
  -if content.is_video?
    = link_to content.multimedia_url(:transcoded), class: "glightbox img-inherit", :data => {caption: content.multimedia.metadata["filename"], group: @project.slug, id: "#{content.id}"} do
      .card#card-ad-link{"data-content": "#{content.id}", class: "img wd-100 ht-100 rounded"}
        = image_tag content.multimedia_url(:large), class: "img-inherit", :controls => false, :controlslist => "nodownload" , autoplay: false, loop: true, muted: 'muted'
  -else
    -if content.multimedia(:large).height <= 1080
      = link_to content.multimedia_url(:large), class: "glightbox img-inherit", :data => {caption: content.multimedia.metadata["filename"], group: @project.slug, type: "image", id: "#{content.id}"} do
        .card#card-ad-link{"data-content": "#{content.id}", class: "img wd-100 ht-100 rounded"}
          = image_tag content.multimedia_url(:small), class: "img wd-100 ht-100 rounded"
    -else
      = image_tag "construction_video.webp", class: "img-inherit"
    -if content.is_video?
      %h6.mmtitle= content.multimedia.metadata["filename"].truncate(30)
    -else
      -if content.multimedia(:large).height <= 1080
        %h6.mmtitle= content.multimedia.metadata["filename"].truncate(30)
      - else
        %h6.mmtitle= I18n.t('ads.processing', filename: content.multimedia.metadata["filename"].truncate(30))
    - if content.multimedia(:large).width.nil?
      %span= t("ads.measures")
    -else
      %span= "#{content.multimedia(:large).width.round(0)} x #{content.multimedia(:large).height.round(0)}"
    %div.pd-t-10
