%h3.d-none= t('campaign.wizard.summary')
%section
  .row
    .col-lg-8.col-xl-8.col-sm-12.col-md-12
      %h3.tx-bold=t('campaign.wizard.summary')
      %p=t('campaign.wizard.summary_description')
      %div#summary_boards
    .col-sm-12.col-md-12.col-lg-4.col-xl-4
      %h3.tx-bold=t('campaign.wizard.total_investment_title')
      %label.d-block= t('campaign.total_investment')
      .table-responsive.mg-t-30
        %table.table.wizard-table.border-0
          %tbody
            %tr
              %td.border-0.tx-gray-3=t("general_inputs.name")
              %td.border-0.tx-gray-2=@campaign.name
            %tr
              %td.border-0.tx-gray-3=t("bilbos.duration")
              %td.border-0.tx-gray-2="#{@campaign.active_days.to_s} #{t("week_days.days")}"
            %tr
              %td.border-0.tx-gray-3=t("campaign.dates")
              %td.border-0.tx-gray-2="#{(I18n.l @campaign.starts_at, format: "%d-%b")} #{t("campaign.wizard.to")} #{I18n.l(@campaign.ends_at, format: "%d-%b")}" rescue t('campaign.wizard.ongoing_campaign')
            %tr
              %td.border-0.tx-gray-3=t("campaign.objective")
              %td.border-0.tx-gray-2=t("campaign.objectives.#{@campaign.objective}")
            %tr
              %td.border-0.tx-gray-3=t('campaign.wizard.campaign_classification')
              %td.border-0.tx-gray-2=t("campaign.classification.#{@campaign.classification}")
            %tr
              %td.border-0.tx-gray-3=t("campaign.wizard.selected_bilbos")
              %td.border-0.tx-gray-2{id: 'board_count_summary'}
            -# %tr
            -#   %td.border-0.tx-gray-3=t("bilbos.search.media_type")
            -#   %td.border-0.tx-gray-2{id: 'board_class_summary'}
            -if @campaign.is_per_hour?
              %tr
                %td.border-0{colspan: 2}=link_to "#{t('campaign.wizard.ads_schedule')}", "#modalSummary", data: { toggle: "modal" }
            -elsif @campaign.is_per_minute?
              %tr
                %td.tx-gray-3=t('campaign.wizard.frequency')
                %td.tx-gray-2{id: "frequency"}
            %tr
              %td.border-0.h2="Total"
              %td.border-0.h2.tx-gray-1{id: 'total_budget_summary'}
        %input.d-none#start_date{value: @campaign.starts_at}
        %input.d-none#end_date{value: @campaign.ends_at}
        %input.d-none#summary_active_days{value: "#{@campaign.active_days}"}
        %input.d-none#translation_impressions_each{value: t("campaign.wizard.impressions")}
        %input.d-none#translation_minutes{value: t("campaign.wizard.minutes")}
        %input.d-none#user_balance{value: "#{current_user.balance}"}
      .row.pd-l-10#out_of_credits{class: "invisible"}
        .badge.billboard-badge
          .pd-l-20.pd-r-20.pd-t-5.pd-b-5
            %i.fa.fa-exclamation-triangle.tx-14
              =t('campaign.wizard.not_enough_credits')
