<tr>
  <td><%= invoice.invoice_number %></td>
  <td><%= I18n.l(invoice.created_at.to_date, format: :long) %></td>
  <td><%= "#{invoice.payment.first_name} #{invoice.payment.last_name}" %></td>
  <td><%= number_to_currency_usd((invoice.payment.total + invoice.payment.transaction_fee)) %></td>
  <td><%= invoice.payment.paid_with %></td>
  <td class="tx-center">
    <span class="badge badge-<%= invoice.payment.status %> tx-12"><%= t("payments.#{invoice.payment.status}") %></span>
  </td>
  <% if invoice.payment.paid_with == "SPEI" && !(invoice.payment.cancelled? || invoice.payment.rejected? || invoice.payment.paid?) %>
    <td>
      <div class="dropdown">
        <span class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t("payments.actions") %>
        </span>
        <div class="dropdown-menu">
          <% if invoice.payment.waiting_for_payment? %>
            <%= link_to t("payments.check_payment"),  check_payment_payment_path(invoice.payment.id), class: "dropdown-item", remote: true %>
            <%= link_to t("payments.cancel"), cancel_spei_payment_path(invoice.payment.id), class: "dropdown-item", method: :delete, data: { confirm: t("payments.confirm_cancel"), title: t("general_inputs.confirm_submit"), commit: t("general_inputs.confirm"), cancel: t("general_inputs.cancel") } %>
              <a class="dropdown-item" href="<%= generate_sheet_payments_url(price: invoice.payment.total_in_cents, format: :pdf) %>" target="_blank"><%= t("payments.payment_sheet") %> <i class="fe fe-link-external"></i></a>
          <% end %>
          <% if invoice.payment.paid? || invoice.payment.reviewing_payment? %>
            <a class="dropdown-item" href="<%= invoice_path(invoice) %>" target="_blank"><%= t("invoices.go_to_invoice") %> <i class="fe fe-link-external"></i></a>
          <% end %>
        </div>
      </div>
    </td>
  <% elsif invoice.payment.paid_with == "Paypal Express" || invoice.payment.paid? %>
    <td><a href="<%= invoice_path(invoice) %>"><%= t("invoices.go_to_invoice") %></a></td>
  <% else %>
  <td></td>
  <% end %>
</tr>
