<%= render 'shared/header', menu: "" %>
<div class="content content-fixed bd-b">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h4 class="mg-b-5"><%= t("invoices.invoice") %> #<%= @invoice.invoice_number %></h4>
        <p class="mg-b-0 tx-color-03"><%= I18n.l(@invoice.created_at.to_date, format: :long) %></p>
      </div>
      <div class="mg-t-20 mg-sm-t-0">
        <button class="btn btn-white" onclick="window.print();"><i class="mg-r-5 fe fe-print"></i> <%= t("invoices.print") %></button>
      </div>
    </div>
  </div><!-- container -->
</div><!-- content -->

<div class="content tx-13">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="row">
      <div class="col-sm-6">
        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03">Billed From</label>
        <h6 class="tx-15 mg-b-10">Bilbo</h6>
        <p class="mg-b-0">Salvador Gonzalez Lobo 529 Col. República Oriente, Saltillo. Coah.</p>
        <p class="mg-b-0">Tel No: +52 844 688 20 30</p>
        <p class="mg-b-0">Email: contacto@bilbo.mx</p>
      </div><!-- col -->
      <div class="col-sm-6 tx-right d-none d-md-block">
        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03"><%= t("invoices.number") %></label>
        <h1 class="tx-normal tx-color-04 mg-b-10 tx-spacing--2">#<%= @invoice.invoice_number %></h1>
      </div><!-- col -->
      <div class="col-sm-6 col-lg-8 mg-t-40 mg-sm-t-0 mg-md-t-40">
        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03"><%= t("invoiced.billed_to") %></label>
        <h6 class="tx-15 mg-b-10"><%= "#{@invoice.payment.first_name} #{@invoice.payment.last_name}" %></h6>
        <p class="mg-b-0">Email: <%= @invoice.user.email %></p>
      </div><!-- col -->
      <div class="col-sm-6 col-lg-4 mg-t-40">
        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03"><%= t("invoices.information") %></label>
        <ul class="list-unstyled lh-7">
          <li class="d-flex justify-content-between">
            <span><%= t("invoices.number") %></span>
            <span><%= @invoice.invoice_number %></span>
          </li>
          <li class="d-flex justify-content-between">
            <span><%= t("invoices.issued_at") %></span>
            <span><%= I18n.l(@invoice.created_at.to_date, format: :long) %></span>
          </li>
        </ul>
      </div><!-- col -->
    </div><!-- row -->

    <div class="table-responsive mg-t-40">
      <table class="table table-invoice bd-b">
        <thead>
          <tr>
            <th class="wd-20p"><%= t("invoices.type") %></th>
            <th class="wd-40p d-none d-sm-table-cell"><%= t("invoices.description") %></th>
            <th class="tx-center"><%= t("invoices.quantity") %></th>
            <th class="tx-right"><%= t("invoices.unit_price") %></th>
            <th class="tx-right"><%= t("invoices.total") %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tx-nowrap"><%= t("bilbos.credits") %></td>
            <td class="d-none d-sm-table-cell tx-color-03"><%= t("payments.credits_text") %></td>
            <td class="tx-center"><%= @invoice.payment.total %></td>
            <td class="tx-right">$1</td>
            <td class="tx-right"><%= number_to_currency_usd(@invoice.payment.total) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-between">
      <div class="col-sm-6 col-lg-6 order-2 order-sm-0 mg-t-40 mg-sm-t-0">
        <label class="tx-sans tx-uppercase tx-10 tx-medium tx-spacing-1 tx-color-03"><%= t("invoices.notes") %></label>
        <p><%= t("invoices.all_prices_are_in_currency", currency: ENV.fetch("CURRENCY")) %></p>
      </div><!-- col -->
      <div class="col-sm-6 col-lg-4 order-1 order-sm-0">
        <ul class="list-unstyled lh-7 pd-r-10">
          <li class="d-flex justify-content-between">
            <span>Sub-Total</span>
            <span><%= number_to_currency_usd(@invoice.payment.total) %></span>
          </li>
          <li class="d-flex justify-content-between">
            <span>Transaction Fee</span>
            <span><%= number_to_currency_usd(@invoice.payment.transaction_fee) %></span>
          </li>
          <!-- <li class="d-flex justify-content-between">
            <span>Discount</span>
            <span>-$50.00</span>
          </li> -->
          <li class="d-flex justify-content-between">
            <strong>Total</strong>
            <strong><%= number_to_currency_usd((@invoice.payment.total + @invoice.payment.transaction_fee)) %></strong>
          </li>
        </ul>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- content -->
