//= form_for @witness, html: { enctype: "multipart/form-data" } do |f|
#modal-window-witnesses.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title.tx-bold Subir archivos para testigos
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .col-6.col-md-6
          %label Campaña #{@witness.campaign.name}
          %label Fecha de peticion #{@witness.created_at}
        .col-12
          %table.table.wizard-table
            %thead.bg-ui-01
              %tr.ht-45
                %th{:scope => "col"}Pantalla seleccionada
                %th{:scope => "col"}Archivos
            %tbody
              -@witness.evidences.each do |evidence|
                -if current_user.projects.first.board_ids.include? evidence.board_id
                  %tr
                    %td<
                      %div.d-flex
                        -if evidence.board.images.attachments.present?
                          - evidence.board.images.each do |image|
                            = image_tag url_from_media(image), class: "img wd-80 ht-80 rounded"
                        -else
                          = image_tag "#{image_path("placeholder_sm")}", class: "mg-r-5 mg-b-5 img wd-80 ht-80 rounded"
                        %label.valign-middle-f.tx-bold= evidence.board.name
                    %td<
                      %div.d-flex
                        = link_to new_evidence_evidence_path(evidence), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: "btn btn-outline-primary bd-dotted wd-50 ht-50 btn-icon mg-r-5 mg-b-5"} do
                          %i.fe.fe-plus{style: "vertical-align: bottom;display: -webkit-inline-box;"}
                        %div.d-flex{:id => "evidences-#{evidence.board.slug}", style: "overflow-x: scroll;"}
                          -if evidence.multimedia_data.present?
                            %figure.img-caption.pos-relative.mg-b-0.fit-content.d-inline-block{id: "evidence-#{evidence.id}-#{evidence.board.slug}"}
                              = image_tag evidence.multimedia_url, {class: "mg-r-5 img wd-50 ht-50 rounded o-fit-cover"}
                            %figcaption.pos-absolute.a-0.wd-50.ht-50.mg-r-5.rounded.d-flex.flex-column.justify-content-center.bg-white-9.transition-base.op-0

      .modal-footer
        %button.btn.btn-primary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}Aceptar
