.card.tx-white.bg-primary.bottom-left.cursor-pointer.animated.fadeOutLeftBig#showHint
  .card-header.tx-bold
    %i.tx-16.fe.fe-arrow-left

.card.tx-white.bg-primary.bottom-left.animated.fadeInLeftBig
  .card-header.tx-bold.mw-200p
    .tx-center
      = t('main_wizard.pending_items')
    .card-body.pd-x-0.pd-y-5.mg-t-10.cursor-pointer
      .row{"data-toggle" => "modal", :href => "#modalNewPayment"}
        .col-10
          %span.tx-normal
            - if @purchased_credits
              %i.tx-16.fe.fe-check-circle
            - else
              %i.tx-16.fe.fe-check-circle-o
            = t('main_wizard.purchase_credits')
        .col-2
          %i.fe.fe-arrow-left
      %hr.hr-border-white
      = link_to new_multimedia_contents_path, remote: true do
        .row{"data-toggle" => "modal", :href => "#modalNewAd"}
          .col-10
            %span.tx-normal{style: "color:white;"}
              - if @created_ads
                %i.tx-16.fe.fe-check-circle{style: "color:#fff;"}
              - else
                %i.tx-16.fe.fe-check-circle-o{style: "color:#fff;"}
              = t('main_wizard.upload_ad')
          .col-2
            %i.fe.fe-arrow-right{style: "color:#fff;"}
      %hr.hr-border-white
      .row.mg-b-10{"data-toggle" => "modal", :href => "#modalNewCampaign"}
        .col-10
          %span.tx-normal
            - if @created_campaigns
              %i.tx-16.fe.fe-check-circle
            - else
              %i.tx-16.fe.fe-check-circle-o
            = t('main_wizard.create_campaign')
        .col-2
          %i.fe.fe-arrow-right

      %a.card-link-underline.mg-t-10#hideHint{:href => "#"}= t('main_wizard.hide_message')
