<%= render 'shared_user/header', menu: "" %>

<div class="content content-fixed bd-b">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="/"><%= t("campaign.home") %></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= t('notifications.notifications') %></li>
          </ol>
        </nav>
        <h4 class="mg-b-0"><%= t('notifications.notifications') %></h4>
      </div>
      <div class="d-none d-md-block">
        <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"><%= t('notifications.mark_as_read') %></button>
      </div>
    </div>
  </div>
  <!-- container -->
</div>

<div class="content">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="media d-block d-lg-flex">
      <div class="media-body">
        <div class="timeline-group tx-13">
          <div class="timeline-label">Today</div>

          <div class="timeline-item">
            <div class="timeline-time">10:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">New campaign on Bilbo V. Carranza Saltillo</h6>
              <p>
                <a href="">HEB</a>
                Saltillo, Coah.</p>

              <p>HEB has assigned a new campaign to your bilbo. Please accept or decline the offer.
              </p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Review Campaign</a>
              </nav>
            </div>
          </div>

          <div class="timeline-item">
            <div class="timeline-time">10:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">Your monthly report is available</h6>
              <p>
                <a href="">Bilbo Team</a>
              </p>

              <p>Your report for January 2020 is ready
              </p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Download Report</a>
              </nav>
            </div>
          </div>
          <div class="timeline-label">Yesterday</div>
          <!-- timeline-item -->
          <div class="timeline-item">
            <div class="timeline-time">10:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">New campaign on Bilbo V. Carranza Saltillo</h6>
              <p>
                <a href="">HEB</a>
                Saltillo, Coah.</p>

              <p>HEB has assigned a new campaign to your bilbo. Please accept or decline the offer.
              </p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Review Campaign</a>
              </nav>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-time">10:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">New campaign on Bilbo V. Carranza Saltillo</h6>
              <p>
                <a href="">HEB</a>
                Saltillo, Coah.</p>

              <p>HEB has assigned a new campaign to your bilbo. Please accept or decline the offer.
              </p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Review Campaign</a>
              </nav>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-time">10:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">New campaign on Bilbo V. Carranza Saltillo</h6>
              <p>
                <a href="">HEB</a>
                Saltillo, Coah.</p>

              <p>HEB has assigned a new campaign to your bilbo. Please accept or decline the offer.
              </p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Review Campaign</a>
              </nav>
            </div>
          </div>
          <div class="timeline-label">January 22</div>
          <div class="timeline-item">
            <div class="timeline-time">10:30pm</div>
            <div class="timeline-body">
              <h6 class="mg-b-0">New campaign on Bilbo V. Carranza Saltillo</h6>
              <p>
                <a href="">HEB</a>
                Saltillo, Coah.</p>

              <p>HEB has assigned a new campaign to your bilbo. Please accept or decline the offer.
              </p>
              <nav class="nav nav-row mg-t-15">
                <a href="" class="nav-link">Review Campaign</a>
              </nav>
            </div>
          </div>
          <!-- timeline-item -->
        </div>
        <!-- timeline-group -->

      </div>
      <!-- media-body -->
    </div>
    <!-- media -->
  </div>
  <!-- container -->
</div>
