#modalVerify.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg{:role => "document"}
    .modal-content
      .modal-body.pd-20.pd-sm-30
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h5.tx-18.tx-sm-20.mg-b-30= t("payments.verify_account")
        %p= t("payments.verification_text")
        %p
          = t("payments.verification_needed")
          %a{:href => "https://bilbo.freshdesk.com/support/solutions/articles/64000068621-verificar-cuenta", :target => "_blank"}= t("payments.verify_account")
        .row
          .col-12.m-auto
            .pd-20
              = form_for(:verification, url: verification_path, method: :post, :html => { data: { parsley_validate: true } }, local: false) do |f|
                .divider-text= t("payments.personal_info")
                .form-group.row
                  .col-sm-3
                    = f.label :name, raw("#{t("payments.full_name")} <span class='tx-danger'>*</span>")
                    -if current_user.is_admin?
                      = f.hidden_field :user_id, id:"user-id", :value => ""
                    -else
                      = f.hidden_field :user_id, :value => current_user.id
                  .col-sm-9
                    = f.text_field :name, class: "form-control", value: current_user.name, required: true
                .form-group.row
                  .col-sm-3
                    = f.label :official_id, raw("#{t("payments.official_identification")} <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.file_field :official_id, accept:'image/*', class: "custom-file-input", required: true
                    = f.label :official_id, t("payments.select_file"), class: "custom-file-label file-input-100"
                .form-group.row
                  .col-sm-3
                    = f.label :phone, raw("#{t("payments.phone_number")} <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.text_field :phone, placeholder: "555-555-5555", class: "form-control input-phone", required: true
                .divider-text= t("payments.company_data")
                .form-group.row
                  .col-sm-3
                    = f.label :business_name, raw("#{t("payments.name")} <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.text_field :business_name, class: "form-control", required: true
                .form-group.row
                  .col-sm-3
                    = f.label :business_address, raw("#{t("payments.address")} <span class='tx-danger'>*</span>")
                  .col-sm-9
                    .form-group
                      = f.label :street_1, t("payments.street")
                      = f.text_field :street_1, class: "form-control", placeholder: t("payments.place_holder_street"), required: true
                    .form-group
                      = f.label :street_2, t("payments.suburb")
                      = f.text_field :street_2, class: "form-control", placeholder: t("payments.place_holder_suburb"), required: true
                    .form-row
                      .form-group.col-md-6
                        = f.label :zip_code, t("payments.zip_code")
                        = f.text_field :zip_code, class: "form-control", required: true
                      .form-group.col-md-6
                        = f.label :city, t("payments.city")
                        = f.text_field :city, class: "form-control", required: true
                    .form-row
                      .form-group.col-md-6
                        = f.label :state, t("payments.state")
                        = f.text_field :state, class: "form-control", required: true
                      .form-group.col-md-6
                        = f.label :country, t("payments.country")
                        = f.country_select( :country, { priority_countries: ["MX", "US"], selected: "MX" }, { class: "custom-select", required: true })
                .form-group.row
                  .col-sm-3
                    = f.label :website, raw("#{t("payments.web_page")} <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.text_field :website, class: "form-control input-website"
                .divider-text= t("payments.fiscal_data")
                %p
                  = t("payments.require_invoices")
                  %a{:href => "https://bilbo.freshdesk.com/support/solutions/articles/64000060132-como-funciona-la-facturaci%C3%B3n", :target => "_blank"}= t("payments.campaign_billing_works")
                .form-group.row
                  .col-sm-3
                    = f.label :business_code, "RFC"
                  .col-sm-9
                    = f.text_field :business_code, class: "form-control"
                .form-group.row
                  .col-sm-3
                    = f.label :official_business_name, t("payments.business_name")
                  .col-sm-9
                    = f.text_field :official_business_name, class: "form-control"
                = f.submit t("payments.send"), class: "btn btn-primary"
      .modal-footer
        %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
      / modal-footer
    / modal-content
  / modal-dialog
/ modal
