<div class="modal fade effect-slide-in-top" id="modalVerify" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body pd-20 pd-sm-30">
        <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h5 class="tx-18 tx-sm-20 mg-b-30"><%= t("payments.buy_credits") %></h5>
        <p><%= t("payments.credits_text") %></p>
        <p><%= t("payments.verification_needed") %> <a href="https://bilbo.freshdesk.com/support/solutions/articles/64000068621-verificar-cuenta" target="_blank"><%= t("payments.verify_account") %></a></p>
        <div class="row">
          <div class="col-12 m-auto">
            <div class="pd-20">
              <%= form_for(:verification, url: verification_path, method: :post, :html => { data: { parsley_validate: true } }, local: false) do |f| %>
              <div class="divider-text">Datos Personales</div>
              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :name, raw("Nombre Completo <span class='tx-danger'>*</span>") %>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :name, class: "form-control", value: current_user.name, required: true %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :official_id, raw("Identificación Oficial <span class='tx-danger'>*</span>")  %>
                </div>
                <div class="col-sm-9">
                  <%= f.file_field :official_id, class: "custom-file-input", required: true %>
                  <%= f.label :official_id, "Elegir Archivo", class: "custom-file-label file-input-100" %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :phone, raw("Número de teléfono <span class='tx-danger'>*</span>")  %>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :phone, placeholder: "555-555-5555", class: "form-control input-phone", required: true %>
                </div>
              </div>

              <div class="divider-text">Datos de la Empresa</div>

              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :business_name, raw("Nombre <span class='tx-danger'>*</span>") %>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :business_name, class: "form-control", required: true %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :business_address, raw("Dirección <span class='tx-danger'>*</span>")  %>
                </div>
                <div class="col-sm-9">
                  <div class="form-group">
                    <%= f.label :street_1, "Calle" %>
                    <%= f.text_field :street_1, class: "form-control", placeholder: "Paseo de la Reforma #400 ", required: true %>
                  </div>
                  <div class="form-group">
                    <%= f.label :street_2, "Colonia" %>
                    <%= f.text_field :street_2, class: "form-control", placeholder: "Colonia Juarez", required: true %>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= f.label :zip_code, "Código Postal" %>
                      <%= f.text_field :zip_code, class: "form-control", required: true %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label :city, "Ciudad" %>
                      <%= f.text_field :city, class: "form-control", required: true %>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <%= f.label :state, "Estado" %>
                      <%= f.text_field :state, class: "form-control", required: true %>
                    </div>
                    <div class="form-group col-md-6">
                      <%= f.label :country, "País" %>
                      <%= f.country_select( :country, { priority_countries: ["MX", "US"], selected: "MX" }, { class: "custom-select", required: true }) %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :website, raw("Página web <span class='tx-danger'>*</span>")  %>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :website, class: "form-control input-website" %>
                </div>
              </div>

              <div class="divider-text">Datos Fiscales</div>
              <p>Si requieres que se emitan facturas para tus campañas llena los datos fiscales. Para más información haz click en la siguiente liga.
              <a href="https://bilbo.freshdesk.com/support/solutions/articles/64000060132-como-funciona-la-facturaci%C3%B3n" target="_blank">Como funciona la facturación de Campañas</a></p>

              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :business_code, "RFC" %>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :business_code, class: "form-control" %>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-3">
                  <%= f.label :official_business_name, "Razón Social" %>
                </div>
                <div class="col-sm-9">
                  <%= f.text_field :official_business_name, class: "form-control" %>
                </div>
              </div>

              <%= f.submit "Enviar", class: "btn btn-primary" %>
              <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal"><%= t("general_inputs.close") %></button>
    </div>
    <!-- modal-footer -->
  </div>
  <!-- modal-content -->
</div>
<!-- modal-dialog -->
</div>
<!-- modal -->
