#modalVerify.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered.modal-lg{:role => "document"}
    .modal-content
      .modal-body.pd-20.pd-sm-30
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h5.tx-18.tx-sm-20.mg-b-30= t("payments.buy_credits")
        %p= t("payments.credits_text")
        %p
          = t("payments.verification_needed")
          %a{:href => "https://bilbo.freshdesk.com/support/solutions/articles/64000068621-verificar-cuenta", :target => "_blank"}= t("payments.verify_account")
        .row
          .col-12.m-auto
            .pd-20
              = form_for(:verification, url: verification_path, method: :post, :html => { data: { parsley_validate: true } }, local: false) do |f|
                .divider-text Datos Personales
                .form-group.row
                  .col-sm-3
                    = f.label :name, raw("Nombre Completo <span class='tx-danger'>*</span>")
                    -if current_user.is_admin?
                      = f.hidden_field :user_id, id:"user-id", :value => ""
                    -else
                      = f.hidden_field :user_id, :value => current_user.id
                  .col-sm-9
                    = f.text_field :name, class: "form-control", value: current_user.name, required: true
                .form-group.row
                  .col-sm-3
                    = f.label :official_id, raw("Identificación Oficial <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.file_field :official_id, accept:'image/*', class: "custom-file-input", required: true
                    = f.label :official_id, "Elegir Archivo", class: "custom-file-label file-input-100"
                .form-group.row
                  .col-sm-3
                    = f.label :phone, raw("Número de teléfono <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.text_field :phone, placeholder: "555-555-5555", class: "form-control input-phone", required: true
                .divider-text Datos de la Empresa
                .form-group.row
                  .col-sm-3
                    = f.label :business_name, raw("Nombre <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.text_field :business_name, class: "form-control", required: true
                .form-group.row
                  .col-sm-3
                    = f.label :business_address, raw("Dirección <span class='tx-danger'>*</span>")
                  .col-sm-9
                    .form-group
                      = f.label :street_1, "Calle"
                      = f.text_field :street_1, class: "form-control", placeholder: "Paseo de la Reforma #400 ", required: true
                    .form-group
                      = f.label :street_2, "Colonia"
                      = f.text_field :street_2, class: "form-control", placeholder: "Colonia Juarez", required: true
                    .form-row
                      .form-group.col-md-6
                        = f.label :zip_code, "Código Postal"
                        = f.text_field :zip_code, class: "form-control", required: true
                      .form-group.col-md-6
                        = f.label :city, "Ciudad"
                        = f.text_field :city, class: "form-control", required: true
                    .form-row
                      .form-group.col-md-6
                        = f.label :state, "Estado"
                        = f.text_field :state, class: "form-control", required: true
                      .form-group.col-md-6
                        = f.label :country, "País"
                        = f.country_select( :country, { priority_countries: ["MX", "US"], selected: "MX" }, { class: "custom-select", required: true })
                .form-group.row
                  .col-sm-3
                    = f.label :website, raw("Página web <span class='tx-danger'>*</span>")
                  .col-sm-9
                    = f.text_field :website, class: "form-control input-website"
                .divider-text Datos Fiscales
                %p
                  Si requieres que se emitan facturas para tus campañas llena los datos fiscales. Para más información haz click en la siguiente liga.
                  %a{:href => "https://bilbo.freshdesk.com/support/solutions/articles/64000060132-como-funciona-la-facturaci%C3%B3n", :target => "_blank"} Como funciona la facturación de Campañas
                .form-group.row
                  .col-sm-3
                    = f.label :business_code, "RFC"
                  .col-sm-9
                    = f.text_field :business_code, class: "form-control"
                .form-group.row
                  .col-sm-3
                    = f.label :official_business_name, "Razón Social"
                  .col-sm-9
                    = f.text_field :official_business_name, class: "form-control"
                = f.submit "Enviar", class: "btn btn-primary"
      .modal-footer
        %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
      / modal-footer
    / modal-content
  / modal-dialog
/ modal
