<%= render "devise/shared/header"%>
<%= devise_error_messages! %>
<div class="content content-fixed content-auth">
  <div class="container">
    <div class="media align-items-stretch justify-content-center ht-100p">
      <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
        <div class="pd-t-20 wd-100p">
          <h4 class="tx-color-01 mg-b-5">
            <%= t('devise.mailer.reset_password_instructions.link_text')%>
          </h4>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <div class="d-flex justify-content-between mg-b-5">
                <label class="mg-b-0-f">
                  <%= t('authentication.password') %>
                </label>
              </div>
              <%= f.password_field :password, required: true, autofocus: true, autocomplete: "current-password", class: "form-control", placeholder: t('authentication.password_hint') %>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between mg-b-5">
                <label class="mg-b-0-f">
                  <%= t('authentication.password_confirmation') %>
                </label>
              </div>
              <%= f.password_field :password_confirmation, required: true, autocomplete: "current-password", class: "form-control", placeholder: t('authentication.password_confirmation_hint') %>
            </div>
            <button class="btn btn-brand-02 btn-block">
                <%= t('devise.mailer.reset_password_instructions.link_text')%>
            </button>
          <% end %>
        </div>
      </div>
      <div class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
        <div class="mx-lg-wd-500 mx-xl-wd-550">
          <%= image_tag image_path("humaaans/illustration_password"), class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
</div>
