%body
  #introJSskipLabel.d-none{"data-intro": t("introjs.skip")}
  #introJSdoneLabel.d-none{"data-intro": t("introjs.done")}
  %header.navbar.navbar-header.navbar-header-fixed
    %a#mainMenuOpen.burger-menu{:href => ""}
      %i.fe.fe-bar.fnt-md
    .navbar-brand
      %a.df-logo{:href => "/", class: "d-none d-md-block"}= image_tag("https://s3.us-east-2.amazonaws.com/cdn.bilbo.mx/Bilbo-logo.png", class: "wd-80")
    / navbar-brand
    #navbarMenu.navbar-menu-wrapper
      %ul.nav.navbar-menu
        %li.nav-label.pd-l-20.pd-lg-l-25.d-lg-none= t("header.navigation")
        - if @project.classification == 'user'
          %li{:class => "nav-item #{"active" if menu == "dashboard"}"}
            %a.nav-link{:href => campaigns_path, id: "campaignLink", "data-intro": t("introjs.campaigns"), "data-step": 1}
              %i.fe.fe-box
              = t('header.campaigns')
          %li{:class => "nav-item #{"active" if menu == "ads"}"}
            %a.nav-link{:href => ads_path, id: "adLink", "data-intro": t("introjs.ads"), "data-step": 2}
              %i.fe.fe-box
              = t('header.ads')
          %li{:class => "nav-item #{"active" if menu == "boards"}"}
            %a.nav-link{:href => boards_path, id: "boardLink", "data-intro": t("introjs.map"), "data-step": 3}
              %i.fe.fe-box>
              = t('header.map')
        - elsif @project.classification == 'provider'
          %li{:class => "nav-item #{"active" if menu == "statistics"}"}
            %a.nav-link{:href => provider_statistics_dashboards_path}
              %i.fe.fe-box
              = t('header.main')
          %li{:class => "nav-item #{"active" if menu == "my_bilbos"}"}
            %a.nav-link{:href => owned_boards_path}
              %i.fe.fe-box
              = t("header.my_bilbos")
          %li{:class => "nav-item #{"active" if menu == "dashboard"}"}
            %a.nav-link{:href => campaigns_path}
              %i.fe.fe-box
              = t('header.campaigns')
          %li{:class => "nav-item #{"active" if menu == "ads"}"}
            %a.nav-link{:href => ads_path}
              %i.fe.fe-box
              = t('header.ads')
        %li{:class => "nav-item"}
          %a.nav-link{:href => "https://bilbo.freshdesk.com/support/home", :target => "_blank", id: "helpLink", "data-intro": t("introjs.help")}
            %i.fe.fe-box
            = t('header.help_center')
        - if @project.classification == 'user' && current_page?(campaigns_path)
          %li{:class => "nav-item d-none d-md-block"}
            %span.nav-link.cursor-pointer{id: "launch_wizard", class: "#{'opacityPulse-css tx-danger-f' if current_user.created_at > 5.minutes.ago}", "data-intro": t("introjs.intro", name: current_user.name)}
              %i.fe.fe-box
              = t('header.wizard')

    / navbar-menu-wrapper
    .navbar-right
      / teams
      .dropdown
        %span#teamMenuButton.tx-14.dropdown-toggle.cursor-pointer{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", "data-intro": t("introjs.projects"), "data-step": 4}
          = truncate(@project.name, length: 15)
        .dropdown-menu{"aria-labelledby" => "teamMenuButton"}
          - current_user.projects.enabled.each do |pr|
            = link_to pr.name, change_project_project_path(pr.slug), class: "dropdown-item"
          .dropdown-divider
          = link_to raw("<i class='fe fe-plus mg-r-5 tx-10'></i> " + t("projects.new_project").downcase), projects_path, class: "dropdown-item"
      - if current_user.is_user?
        = link_to "#{number_to_currency_usd(current_user.balance)}", "#modalNewPayment", class: "btn btn-buy tx-nowrap", id: "introBalance", data: { toggle: "modal", intro: t("introjs.budget"), step: 5}
      / notifications
      .dropdown.dropdown-notification
        %a.dropdown-link.new-indicator#notifBell{"data-toggle" => "dropdown", :href => "", "data-intro": t("introjs.notifications"), "data-step": 6}
          - if @unread_notifications_count > 0
            %svg.feather.feather-bell{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"}
            %span= @unread_notifications_count
          - else
            %svg.feather.feather-bell{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
              %path{:d => "M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"}
        .dropdown-menu.dropdown-menu-right
          .dropdown-header= t('notifications.notifications')
          = render partial: 'notifications/notification_header_card', collection: @project.notifications.first(5), as: :notification
          .dropdown-footer.d-flex.justify-content-around
            = link_to(t('notifications.actions.view_all'), notifications_path)
            = link_to(t('notifications.actions.clear'), clear_notifications_path)
        / dropdown-menu
      / end notifications
      .dropdown.dropdown-profile
        %a.dropdown-link{"data-display" => "static", "data-toggle" => "dropdown", :href => ""}
          .avatar.avatar-sm= image_tag user_avatar(current_user, 500), class: "rounded-circle", id: "userDropdownImage", data: {intro: t("introjs.profile"), step: 7}
        / dropdown-link
        .dropdown-menu.dropdown-menu-right
          .avatar.avatar-lg.mg-b-15= image_tag user_avatar(current_user, 500), class: "rounded-circle"
          %h6.tx-semibold.mg-b-5= current_user.name
          %p.tx-12.tx-color-03= @project.name
          - if @project.classification == 'user'
            - if not current_user.verified
              .alert.alert-solid.alert-danger.pd-y-5.tx-center.cursor-pointer{"data-toggle" => "modal", :href => "#modalVerify"}
                = t('payments.verify_account')
            %a.dropdown-item{"data-placement" => "bottom", "data-toggle" => "modal", :href => "#modalNewPayment", :title => "#{t('header.purchase_credits')}"}
              %i.material-icons.tx-16.mg-r-10 attach_money
              = number_to_currency_credit(current_user.balance)
            %a.dropdown-item.tx-center{"data-toggle" => "modal", :href => "#modalNewPayment"}
              %i.fe.fe-plus.mg-r-10
              = t('header.purchase_credits')
            .dropdown-divider
            - if @project.admins.include? current_user.id
              %a.dropdown-item{"data-toggle" => "modal", :href => "#modalManageTeam"}
                %i.fe.fe-users.mg-r-10
                = t('header.manage_team')
            %a.dropdown-item{:href => projects_path}
              %i.fe.fe-folder.mg-r-10
              = t('header.manage_projects')
            %a.dropdown-item{:href => invoices_path}
              %i.fe.fe-document.mg-r-10
              = t('header.invoices')
              - if current_user.payments.pending_payments.count > 0
                %span.badge.badge-warning.mg-l-5
                  = t("payments.pending_payment")
            %a.dropdown-item{:href => provider_invoices_path}
              %i.fe.fe-document.mg-r-10
              = t('provider_invoices.provider_invoices')
            %a.dropdown-item{:href => edit_user_registration_path}
              %i.fe.fe-gear.mg-r-10
              = t('header.account_settings')
          - elsif @project.classification == 'provider'
            .dropdown-divider
            %a.dropdown-item{:href => edit_user_registration_path}
              %i.fe.fe-gear.mg-r-10
              = t('header.account_settings')
            - if @project.admins.include? current_user.id
              %a.dropdown-item{"data-toggle" => "modal", :href => "#modalManageTeam"}
                %i.fe.fe-users.mg-r-10
                = t('header.manage_team')
            - else
              %a.dropdown-item{:href => projects_path}
                %i.fe.fe-folder.mg-r-10
                = t('header.manage_projects')
          %hr/
          - if current_user != true_user
            = link_to(("<i class='fe fe-logout mg-r-10'></i>" + 'Stop impersonate').html_safe, stop_impersonating_admin_users_path, method: :get, class: "dropdown-item")
          - else
            = link_to(("<i class='fe fe-logout mg-r-10'></i>" + t('header.logout')).html_safe, destroy_user_session_path, method: :delete, class: "dropdown-item")
        / dropdown-menu
      / dropdown
    / navbar-right
  / navbar
  = render "payments/new"  if @project.classification == 'user'
  - if not current_user.verified?
    = render "users/verify"  if @project.classification == 'user'
  - if @project.admins.include? current_user.id
    = render "project_users/manage_modal"
