<div class="modal fade effect-slide-in-top" id="modalNewBilbo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pd-20 pd-sm-30">
        <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h5 class="tx-18 tx-sm-20 mg-b-30"><%= t("bilbos.new_bilbo") %></h5>

        <div class="row">
          <div class="col-12 m-auto">
            <div class="pd-20">
              <%= form_with(model: Board, url: boards_path, method: :post, :html => { :id => "new_board", data: { parsley_validate: true, parsley_errors_messages_disabled: true } }, local: false) do |f| %>


              <div class="form-group" id="new" >
                <%= f.label t("bilbos.provider") %>
                <%= f.autocomplete_field :user_email, autocomplete_user_email_searches_path, :append_to => "#new", class: "form-control", :id_element => '#some_element', placeholder: t("bilbos.provider"), 'data-showNoMatches' => false, type: 'email', :fields => {:roles => '#roles_element'} %>
                <%= f.hidden_field :project_id, id:"some_element"%>
              </div>

              <div class="form-group">
                <%= f.label t("general_inputs.name") %><br/>
                <%= f.text_field :name, class: "form-control", value: "", autocomplete: "off", required: true, placeholder: t("general_inputs.name") %>
              </div>

              <div class="form-group">
                <%= f.label t("general_inputs.address") %><br/>
                <div class="row">
                  <div class="col-12 mg-b-10">
                    <%= f.text_field :address, class: "form-control google_autocomplete", value: "", required: true, autocomplete: "off",placeholder: t("general_inputs.address")%>
                  </div>
                  <div class="col-4 pd-r-5">
                    <%= f.text_field :lat, class: "form-control", placeholder: "Latitud", required: true %>
                  </div>
                  <div class="col-4 pd-x-5">
                    <%= f.text_field :lng, class: "form-control", placeholder: "Longitud", required: true %>
                  </div>
                  <div class="col-4 pd-l-5">
                    <%= f.text_field :utc_offset, class: "form-control", placeholder: "Minutos con UTC", required: true %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <%= f.label t('bilbos.category') %>
                    <%= f.select("category", [[t("bilbos.billboard"),"billboard"],[t("bilbos.wallboard"),"wallboard"],[t("bilbos.television"),"television"]], {}, {:class => "custom-select"}) %>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <%= f.label t('bilbos.avg_views') %>
                    <%= f.text_field :avg_daily_views, class: "form-control", autocomplete: "off", required: true, placeholder: "200" %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <%= f.label t('bilbos.expected_profit') %>
                    <div class="input-group mg-b-10">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                      </div>
                      <%= f.text_field :base_earnings, class: "form-control", autocomplete: "off", required: true, placeholder: "200", aria: { describedby: "bilbobaseearnings", label: "Base Earnings"} %>
                      <div class="input-group-append">
                        <span class="input-group-text" id="bilbobaseearnings"><%= ENV.fetch("CURRENCY") %></span>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-6">
                    <%= f.label t('bilbos.extra_percentage_earnings') %>
                    <div class="input-group mg-b-10">
                      <%= f.text_field :extra_percentage_earnings, class: "form-control", required: true, placeholder: "0" %>
                      <div class="input-group-append">
                        <span class="input-group-text">%</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label t('bilbos.face') %><br/>
                <%= f.text_field :face, class: "form-control", autocomplete: "off", required: true, placeholder: t('bilbos.face'), list: "faces" %>
                <datalist id="faces">
                  <option value="<%= t("bilbos.north") %>">
                  <option value="<%= t("bilbos.south") %>">
                  <option value="<%= t("bilbos.east") %>">
                  <option value="<%= t("bilbos.west") %>">
                  <option value="Cuarto 1">
                </datalist>
              </div>

              <div class="form-group">
                <%= f.label " Social class" %><br/>
                <%= f.text_field :social_class, class: "form-control", autocomplete: "off", required: true, placeholder: "A", list: "social" %>
                <datalist id="social">
                  <option value= "A">
                  <option value="AA">
                  <option value="AAA">
                  <option value="AAA+">
                </datalist>
              </div>

              <div class="form-group">
                <%= f.label t('bilbos.dimensions') %><br/>
                <div class="row">
                  <div class="col-6">
                    <%= f.text_field :width, class: "form-control", placeholder: "width", required: true %>
                  </div>
                  <div class="col-6">
                    <%= f.text_field :height, class: "form-control", placeholder: "height", required: true %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <%= f.label t("bilbos.start_time") %><br/>
                    <%= f.time_field :start_time, class: "form-control", required: true %>
                  </div>
                  <div class="col-6">
                    <%= f.label t("bilbos.end_time") %><br/>
                    <%= f.time_field :end_time, class: "form-control", required: true %>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <%= f.label t("bilbos.ad_duration") %><br/>
                    <%= f.text_field :duration, class: "form-control", value: 10, required: true%>
                  </div>
                  <div class="col-6">
                    <div class="custom-control custom-checkbox">
                      <%= f.check_box :images_only, class: "custom-control-input" %>
                      <%= f.label :images_only, t("bilbos.images_only_form"), class: "custom-control-label" %>
                    </div>

                  </div>
                </div>
              </div>

               <div class="form-group">
                <%= f.label :images %>
                <%= f.file_field :images, required: true, multiple: true, class: "form-control"%>
              </div>
              <div class="form-group">
               <%= f.label :default_image %>
               <%= f.file_field :default_image, required: true, class: "form-control"%>
             </div>
             <div class="form-group">
               <div class="col-12">
                 <%= f.label t("bilbos.mac_address") %><br/>
                 <%= f.text_field :mac_address, class: "form-control", required: true%>
               </div>
              </div>

              <div class="actions col-sm-12 col-md-6 m-auto">
                <%= f.submit t("general_inputs.create"), class: "btn btn-primary btn-block", id: "submit_board" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal"><%= t("general_inputs.close") %></button>
      </div><!-- modal-footer -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
