= render 'shared/header', menu: "dashboard"
.content.content-fixed.bd-b.white-background
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-flex.align-items-center.justify-content-between
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item.active{"aria-current" => "page"}= t("header.manage_projects")
        %h4.mg-b-0.tx-spacing--1= t("header.manage_projects")
      .d-none.d-md-block
        %a{"data-toggle" => "modal", :href => "#modalNewProject"}
          %button.btn.btn-sm.pd-x-15.btn-primary.btn-uppercase.mg-l-5
            %i.wd-10.mg-r-5.fe.fe-plus
            = t("projects.new_project")
.content
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .row.row-xs
      = render partial: "projects/project_card", collection: @projects, as: :project

= render "projects/new_project_modal"
