<%= render 'devise/shared/header' %>
<!-- navbar -->

<div class="content content-fixed content-auth">
<div class="container">
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
    <div class="media-body align-items-center d-none d-lg-flex">
      <div class="mx-wd-600">
        <img src="https://via.placeholder.com/1260x950" class="img-fluid" alt="">
      </div>
    </div>
    <!-- media-body -->
    <div class="sign-wrapper mg-lg-l-50 mg-xl-l-60">
      <div class="wd-100p">
        <h3 class="tx-color-01 mg-b-5"><%= t('authentication.sign_in') %></h3>
        <p class="tx-color-03 tx-16 mg-b-40"><%= t('authentication.sign_in_banner') %></p>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <label><%= t('authentication.email_address') %></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: t('authentication.email_address_sample') , class: "form-control" %>
        </div>
        <div class="form-group">
          <div class="d-flex justify-content-between mg-b-5">
            <label class="mg-b-0-f"><%= t('authentication.password') %></label>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: t('authentication.password_hint') %>
          <%= link_to t('authentication.forgot_password_question'), new_password_path(resource_name), class: "tx-13" %>
        </div>
        <button class="btn btn-brand-02 btn-block"><%= t('devise.generic.sign_in') %></button>
      <% end %>
      <!-- <div class="divider-text"><%= t('devise.generic.or') %></div>
      <button onclick="window.location.href = '<%= user_facebook_omniauth_authorize_path %>';" class="btn btn-outline-facebook btn-block"><%= t('devise.generic.connect_with') %>
        Facebook</button>
      <button onclick="window.location.href = '<%= user_google_oauth2_omniauth_authorize_path %>';" class="btn btn-outline-google btn-block"><%= t('devise.generic.connect_with') %>
        Google</button> -->
      <div class="tx-13 mg-t-20 tx-center"><%= t('devise.registrations.dont_have_account') %>
        <%= link_to t('devise.registrations.register_now'), new_user_registration_path %></div>
    </div>
  </div>
  <!-- sign-wrapper -->
</div>
<!-- media -->
</div>
<!-- container -->
</div>
<!-- content -->
