= render 'devise/shared/header'
.content.content-fixed.content-auth
  .container
    = render "devise/shared/error_messages", resource: resource
    .media.align-items-stretch.justify-content-center.ht-100p
      .sign-wrapper.mg-lg-r-50.mg-xl-r-60
        .pd-t-20.wd-100p
          %h4.tx-color-01.mg-b-5= t('authentication.sign_up')
          %p.tx-color-03.tx-16.mg-b-40= t('authentication.sign_up_banner')
          = form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|
            = f.hidden_field :invitation_token, readonly: true
            - if f.object.class.require_password_on_accepting
              .form-group
                .d-flex.justify-content-between.mg-b-5
                  %label.mg-b-0-f= t('authentication.password')
                = f.password_field :password, required: true, autocomplete: "current-password", class: "form-control", placeholder: t('authentication.password_hint')
              .form-group
                .d-flex.justify-content-between.mg-b-5
                  %label.mg-b-0-f= t('authentication.password_confirmation')
                = f.password_field :password_confirmation, required: true, autocomplete: "current-password", class: "form-control", placeholder: t('authentication.password_confirmation_hint')
            .form-group
              .d-flex.justify-content-between.mg-b-5
                %label.mg-b-0-f= t('authentication.name')
              = f.text_field :name, class: "form-control", required: true, placeholder: t('authentication.name_hint')
            .form-group.tx-12
              = t('authentication.terms_of_service_agreement')
            %button.btn.btn-brand-02.btn-block= t('authentication.create_account')
          .tx-13.mg-t-20.tx-center
            = t('authentication.already_have_account')
            = link_to t('authentication.sign_in'), root_path
      .media-body.pd-y-30.pd-lg-x-50.pd-xl-x-60.align-items-center.d-none.d-lg-flex.pos-relative
        .mx-lg-wd-500.mx-xl-wd-550
          = image_tag image_path("humaaans/illustration_signup"), class: "img-fluid"
