-if media.is_video?
  = video_tag(media.multimedia_url, class: "bilbo-official-ad #{"rotation-#{board.rotation_degrees.to_i}" if board.rotation_degrees != 0.0}", style: "display: none;", loop: true, preload: "auto", muted: "muted", id: "default-content-#{media.id}")
-elsif media.is_image?
  = image_tag media.multimedia_url(:large), class: "bilbo-official-ad #{"rotation-#{board.rotation_degrees.to_i}" if board.rotation_degrees != 0.0}", style: "display: none;", id: "default-content-#{media.id}"
-else
  = content_tag("iframe", '', src: media.url, height: "100%", width: "100%",  class: "bilbo-official-ad #{"rotation-#{board.rotation_degrees.to_i}" if board.rotation_degrees != 0.0}", style: "display: none;", :scrolling => "no", id: "default-content-#{media.id}")
