<li class="nav-item">
  <a class="nav-link <%= "active" if board_iteration.first? && params[:selected_id].blank? || board.id.to_s == params[:selected_id] %>" id="<%= board.slug %>-tab" data-toggle="tab" href="#<%= board.slug %>" role="tab" aria-controls="home" aria-selected="<%= board_iteration.first? ? "true" : "false" %>"><%= board.face %></a>
</li>
