<div class="tab-pane fade show <%= "active" if board_iteration.first? %>" id="<%= board.face %>" role="tabpanel" aria-labelledby="<%= board.face %>-tab">
    <table class="table-dashboard-two">
      <tbody>
        <tr>
          <td>
            <i class="fe fe-eye ic-teal pd-r-5-f"></i>
          </td>
          <td class="tx-medium"><%= t("bilbos.face") %></td>
          <td class="text-right"><%= t("bilbos.#{board.face}") %></td>
        </tr>
        <tr>
          <td>
            <i class="fe fe-location ic-pink pd-r-5-f"></i>
          </td>
          <td class="tx-medium"><%= t("bilbos.address") %></td>
          <td class="text-right"><%= board.address %></td>
        </tr>
        <tr>
          <td>
            <i class="fe fe-users ic-primary pd-r-5-f"></i>
          </td>
          <td class="tx-medium"><%= t("bilbos.avg_views") %></td>
          <td class="text-right"><%= number_with_delimiter(board.avg_daily_views, :delimiter => ',') %>/<%= t("bilbos.day") %></td>
        </tr>
        <tr>
          <td>
            <i class="fe fe-clock ic-warning pd-r-5-f"></i>
          </td>
          <td class="tx-medium"><%= t("bilbos.duration") %></td>
          <td class="text-right"><%= board.duration %> <%= t("bilbos.seconds") %></td>
        </tr>
        <tr>
          <td>
            <i class="fe fe-money ic-success pd-r-5-f"></i>
          </td>
          <td class="tx-medium"><%= t("bilbos.price_per_print") %></td>
          <td class="text-right">$0.005 MXN</td>
        </tr>
        <tr>
          <td>
            <i class="fe fe-expand ic-pink pd-r-5-f"></i>
          </td>
          <td class="tx-medium"><%= t("bilbos.dimensions") %></td>
          <td class="text-right"><%= board.width %> x <%= board.height %></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="<%= image_path("board_placeholder") %>" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="<%= image_path("board_placeholder") %>" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="<%= image_path("board_placeholder") %>" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
