= form_with(model: board, :html => { :id => "new_board", enctype: "multipart/form-data", data: { parsley_validate: true, parsley_errors_messages_disabled: true } }, local: false) do |f|
  .form-group
    = f.label t("general_inputs.name")
    %br/
    = f.text_field :name, class: "form-control", autocomplete: "off", required: true, placeholder: t("general_inputs.name")
  .form-group
    = f.label t("general_inputs.address")
    %br/
    .row
      .col-12.mg-b-10
        = f.text_field :address, class: "form-control google_autocomplete", required: true, autocomplete: "off", placeholder: t("general_inputs.address")
      .col-3
        = f.text_field :country, class: "form-control", placeholder: "País", required: true
      .col-3
        = f.text_field :country_state, class: "form-control", placeholder: "Estado", required: true
      .col-3
        = f.text_field :city, class: "form-control", placeholder: "Ciudad", required: true
      .col-3
        = f.text_field :postal_code, class: "form-control", placeholder: "Código postal", required: true
      .col-6.col-md-4
        = f.text_field :lat, class: "form-control", placeholder: "Latitud", required: true
      .col-6.col-md-4
        = f.text_field :lng, class: "form-control", placeholder: "Longitud", required: true
      .col-6.col-md-4
        = f.text_field :utc_offset, class: "form-control", placeholder: "Minutos con UTC", required: true
      .col-12.mg-y-10
        = f.text_field :street_view_url, class: "form-control", autocomplete: "off", placeholder: "Street view URL"
  .form-group
    .row
      .col-sm-12.col-md-4
        = f.label t('bilbos.category')
        = f.select("category", [[t("bilbos.billboard"),"billboard"],[t("bilbos.wallboard"),"wallboard"],[t("bilbos.television"),"television"]], {}, {:class => "custom-select"})
      .col-sm-12.col-md-4
        = f.label t('bilbos.avg_views')
        = f.text_field :avg_daily_views, class: "form-control", autocomplete: "off", required: true, placeholder: "200"
      .col-sm-12.col-md-4
        = f.label t('bilbos.displays_number')
        = f.text_field :displays_number, class: "form-control", autocomplete: "off", placeholder: "1"
  .form-group
    .row
      .col-sm-12.col-md-6
        = f.label "Precio de proveedor"
        .input-group.mg-b-10
          .input-group-prepend
            %span#basic-addon1.input-group-text $
          = f.text_field :provider_earnings, class: "form-control", autocomplete: "off", required: true, placeholder: "200"
          .input-group-append
            %span#bilbobaseearnings.input-group-text= ENV.fetch("CURRENCY")
      .col-sm-12.col-md-6
        = f.label "Precio en Bilbo (lista)"
        .input-group.mg-b-10
          .input-group-prepend
            %span#basic-addon1.input-group-text $
          = f.text_field :base_earnings, class: "form-control", autocomplete: "off", required: true, placeholder: "200", aria: { describedby: "bilbobaseearnings", label: "Base Earnings"}
          .input-group-append
            %span#bilbobaseearnings.input-group-text= ENV.fetch("CURRENCY")
  .form-group
    = f.label t('bilbos.face')
    %br/
    = f.text_field :face, class: "form-control", autocomplete: "off", required: true, placeholder: t('bilbos.face'), list: "faces"
    %datalist#faces
      %option{:value => t("bilbos.north")}
      %option{:value => t("bilbos.south")}
      %option{:value => t("bilbos.east")}
      %option{:value => t("bilbos.west")}
      %option{:value => "Cuarto 1"}
  .form-group
    = f.label " Social class"
    %br/
    = f.text_field :social_class, class: "form-control", autocomplete: "off", required: true, placeholder: "A", list: "social"
    %datalist#social
      %option{:value => "A"}
      %option{:value => "AA"}
      %option{:value => "AAA"}
      %option{:value => "AAA+"}
  .form-group
    = f.label t('bilbos.dimensions')
    %br/
    .row
      .col-6
        = f.text_field :width, class: "form-control", placeholder: "width", required: true
      .col-6
        = f.text_field :height, class: "form-control", placeholder: "height", required: true
  .form-group
    .row
      .col-6
        = f.label t("bilbos.start_time")
        %br/
        = f.time_field :start_time, class: "form-control", required: true, value: board.start_time.strftime("%H:%M")
      .col-6
        = f.label t("bilbos.end_time")
        %br/
        = f.time_field :end_time, class: "form-control", required: true, value: board.end_time.strftime("%H:%M")
  .form-group
    .row
      .col-6
        = f.label t("bilbos.ad_duration")
        %br/
        = f.text_field :duration, class: "form-control", required: true
      .col-6
        = f.label t("bilbos.mac_address")
        %br/
        = f.text_field :mac_address, class: "form-control", placeholder: "aa:bb:cc:dd:ee:ff"
      .col-6
        .custom-control.custom-checkbox
          = f.check_box :images_only, class: "custom-control-input"
          %br/
          = f.label :images_only, t("bilbos.images_only_form"), class: "custom-control-label"
          %br/
      .col-6
        .custom-control.custom-checkbox
          = f.check_box :keep_old_cycle_price_on_active_campaigns, {checked: true, class: "custom-control-input"}
          %br/
          = f.label :keep_old_cycle_price_on_active_campaigns, t("bilbos.keep_old_cycle_price_on_active_campaigns"), class: "custom-control-label"
          %br/
      .col-6
        .custom-control.custom-checkbox
          = f.check_box :steps, class: "custom-control-input"
          %br/
          = f.label :steps, t("bilbos.steps"), class: "custom-control-label"
          %br/
      .col-6.pd-t-10
      .col-6.pd-t-10
        = f.label :multiplier, t("bilbos.multiplier")
        = f.number_field :multiplier, class: "form-control"
        %br/
      .col-6.pd-t-10
        = f.label t("bilbos.rotation_degrees")
        %br/
        = f.number_field :rotation_degrees, class: "form-control", required: true, value: board.rotation_degrees, step: 90, max: 360, min: -360
    = f.label "Imagenes para mostrar en el mapa"
    = f.file_field :images, multiple: true, class: "form-control", accept: 'image/png, image/jpeg, video/mp4'
  - if board.images.attached?
    .d-flex
      - board.images.each do |img|
        %figure.img-caption.pos-relative.mg-b-0.fit-content{:signed_id => img.signed_id}
          = image_tag url_from_media(img), class: "img-thumbnail", width: "200px"
          %figcaption.pos-absolute.a-0.wd-100p.pd-20.d-flex.flex-column.justify-content-center.bg-white-9.transition-base.op-0
            = link_to delete_image_board_path(board.slug, signed_id: img.signed_id), method: :delete, remote: true, class: "btn btn-dark btn-icon", data: { confirm: t("general_inputs.confirm_deletion") } do
              %i.fe.fe-trash
        = f.hidden_field :images, multiple: true, value: img.signed_id, signed_id: img.signed_id
  .form-group
    = f.label "Multimedia default"
    %iframe.no-pointer{:src => "https://via.placeholder.com/458x250?text=Type+link+to+preview", class: "ht-250 wd-100p", :scrolling => "no", id: "iframe-modal"}
    .input-group
      = f.url_field :url, pattern: "https?://.*", class: "form-control", placeholder: "https://www.google.com/", id: "content_url"
      .input-group-append
        %button#button-addon2.btn.btn-outline-light{:type => "button", onclick: "preview_iframe('#content_url', '#iframe-modal')"} Preview
  .form-group
    = file_field_tag "content[]", multiple: true, class: "form-control", :accept => 'image/png, image/jpeg, video/mp4'
  - if board.board_default_contents.present?
    .d-flex
      - board.board_default_contents.each do |b|
        %figure.img-caption.pos-relative.mg-b-0.fit-content{:default_id => b.id}
          - begin
            -if b.content.is_video?
              = video_tag(b.content.multimedia_url, class: "img-thumbnail", width: "200px", autoplay: true, loop: true, preload: "auto", muted: "muted")
            -elsif b.content.is_image?
              = image_tag b.content.multimedia_url(:large), class: "img-thumbnail", width: "200px"
            -else
              = content_tag("iframe", '', src: b.content.url, height: "100%", width: "100%",  class: "img-thumbnail", width: "200px", :scrolling => "no")
          - rescue
            = image_tag "construction_video.gif", class: "img-thumbnail", width: "200px"
          %figcaption.pos-absolute.a-0.wd-100p.pd-20.d-flex.flex-column.justify-content-center.bg-white-9.transition-base.op-0
            = link_to delete_default_image_board_path(b.board.slug, default_id: b.id, content_id: b.content.id), method: :delete, remote: true, class: "btn btn-dark btn-icon", data: { confirm: t("general_inputs.confirm_deletion") } do
              %i.fe.fe-trash

  .actions.col-sm-12.col-md-6.m-auto
    = f.submit t("general_inputs.update"), class: "btn btn-primary btn-block", id: "submit_board", data: {disable_with: "Actualizando..."}
