- if current_user
  = f.select(:boards, options_for_select(@campaign_boards), {include_blank: "#{@campaign_boards.size} #{t('campaign.wizard.selected_bilbos')}"},
 {:class => "d-none pos-absolute r-0 t-0 wd-300 z-index-10 bg-dark tx-white form-select pd-15 bd-transparent", :id => "selected_boards"})
  = f.text_field :boards, :class => "d-none", value: @campaign.boards.pluck(:id).join(","), required: true, data:{required_msg: t("campaign.errors.no_boards")}
- else
  = select_tag("",options_for_select(""), {include_blank: "0 #{t('campaign.wizard.selected_bilbos')}",
 :class => "d-none pos-absolute r-0 t-0 wd-300 z-index-10 bg-dark tx-white form-select pd-15 bd-transparent", :id => "selected_boards"})
  = text_field_tag "", nil, :class => "d-none", :id => "campaign_boards", value: nil, required: true, data:{required_msg: t("campaign.errors.no_boards")}
.pos-absolute.r-0.t-0.wd-300.z-index-10.bg-dark.tx-white.rounded-bl{selected_bilbos_list_view: ""}
  %a.btn.tx-white.wd-100p.text-left.hover-white.pd-15#list_view_title{ "data-toggle": "collapse", href: "#collapseExample", role: "button", aria: { expanded: "false", controls: "collapseExample" } }
  -# content filled with js
  %i.fe.fe-arrow-up.position-absolute.tx-20.t-15.r-10.tab-arrow.transition-delay
  .collapse.border.border-secondary.rounded-bl#collapseExample
    .perfectScrollbar.position-relative.mx-ht-200{selected_bilbos_list: ""}
      = render partial: 'boards/list_view_element', collection: @campaign_boards, as: :board, locals: {board_info: false}
    - if !current_user
      %button{:class => "btn btn-primary-custom wd-90p mg-15 d-none", :onclick => "addBilbo(this)", :type => "button", download_quote: ""}
        = t("bilbos.wizard.download_quote")
        %i.fe.fe-download
