<%= render 'shared/header', menu: "boards" %>

<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="#"><%= t("home") %></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Bilbos</li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Bilbos</h4>
      </div>
    </div>

    <div class="row row-xs">
      <div class="d-flex flex-wrap">
        <%= form_with url: boards_path, method: :get, id: "filter-bilbos",class: "row", remote: true do |f|%>
        <div class="form-group col-6 col-lg-2">
          <%= f.text_field :location, class: 'form-control rounded', id: "search_autocomplete", placeholder: t('bilbos.search.location'),
            value: (params[:location].present?)? params[:location] : "" ,
            lat: (params[:location].present?)? params[:lat] : "",
            lng: (params[:location].present?)? params[:lng] : "" %>
        </div>
        <div class="form-group col-6 col-lg-2">
          <%= f.select(:social_class, options_for_select([["A", "A"], ["AA", "AA"], ["AAA", "AAA"], ["AAA+", "AAA+"]], selected: params[:social_class]),{include_blank: t('bilbos.search.classification')}, {class: 'custom-select'}) %>
        </div>
        <div class="form-group col-6 col-lg-2">
          <%= f.select(:category, options_for_select([["Espectacular", "billboard"], ["Televisión", "television"], ["Cartelón", "wallboard"]], selected: params[:category]),{include_blank: t('bilbos.search.media_type')}, {class: 'custom-select'}) %>
        </div>
        <div class="form-group col-6 col-lg-2">
          <%= f.number_field :cycle_price, class: "form-control", placeholder: t('bilbos.search.max_per_impression'), value: params[:cycle_price], step: "0.001", autocomplete: "off" %>
        </div>
        <div class="form-group col-6 col-lg-2">
          <%= f.number_field :min_width, class: "form-control", placeholder: t('bilbos.search.min_width'), value: params[:min_width], autocomplete: "off" %>
        </div>
        <div class="form-group col-6 col-lg-2">
          <%= f.number_field :min_height, class: "form-control", placeholder: t('bilbos.search.min_height'), value: params[:min_height], autocomplete: "off" %>
        </div>
        <%= f.submit "Enviar", class: "d-none" %>
        <% end %>
      </div>
      <div id="boardInfo" class="col-md-12 col-xl-3 mg-t-10 order-1 d-none">
        <!-- card -->
        <ul class="nav nav-tabs nav-justified d-none" id="boardTab" role="tablist">
          <!-- content filled with js -->
        </ul>
        <ul class="nav nav-tabs nav-justified pd-b-5" role="tablist">
          <li class="nav-item">
            <select class="custom-select custom-select-blue" id="boardSelect">
              <!-- content filled with js -->
            </select>
          </li>
        </ul>
        <div id="boardTabContent" class="tab-content bd bd-gray-300 bd-t-0 pd-5 rounded">
          <!-- content filled with js -->
        </div>
      </div>

          <!-- end card -->

          <!-- loading effect -->
          <%= render partial: 'boards/map/loading_effect' %>
          <!-- loading effect end -->

      <!-- map start -->
      <%= render partial: 'boards/board_map' %>
      <!-- map end -->
    </div>
  </div>
  <!-- container -->
</div>
<!-- content -->
