- if user_signed_in?
  = render 'shared/header', menu: "boards"
- else
  = render 'devise/shared/header'

.filemgr-wrapper
  = render "boards/sidebar"
  #multimediaTab.filemgr-content.map-left-space
    = render partial: 'boards/map/loading_effect'
    = render partial: 'boards/board_map'
