- if user_signed_in?
  = render 'shared/header', menu: "boards"
- else
  = render 'devise/shared/header'

.filemgr-wrapper
  = render "boards/sidebar"
  .pos-absolute.t-0.b-0.r-0.transition-delay.map-left-space
    = render partial: 'boards/board_map'
    = render partial: "boards/selected_bilbos_list_view"
  = form_with url: boards_path, method: :get, id: "filter-bilbos",class: "send-on-change d-none", remote: true do |f| # content in [data-form='filter-bilbos'] div, because this form cant be inside edit campaigns form
    = f.submit "Enviar", class: "d-none"
