- if user_signed_in?
  - if current_user.is_admin?
    = render 'shared/header_admin', menu: "account"
  - else
    = render 'shared/header', menu: "dashboard"
- else
  = render 'devise/shared/header'


.content.content-fixed.bg-white
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .row
      .col-12.col-lg-6
        %h1#bilboName.d-block.tx-bold= @board.name
        .d-flex.align-items-center
          %span
            .badge.tx-uppercase{class: "#{@board.category}-badge"}
              %i.fe{class: "icon-#{@board.category}"}
              = t("bilbos.#{@board.category}")
          %span.mg-l-10{class: "#{'d-none' if !@board.smart}"}
            .badge.wizard-badge-smart
              %i.fe.fe-star
              SMART
          %span.tx-gray-700.mg-l-10
            .fe.fe-location
            = @board.short_address
        %p.mg-t-20= @board.address

        #carouselBilboLanding.carousel.slide{"data-ride" => "carousel", "align" => "center"}
          .carousel-inner.ht-400.d-flex.align-items-center.bg-gray-700.rounded
            - @board.images.each.with_index do |media,i|
              %div{class: "carousel-item #{'active' if i == 0}"}
                = image_tag url_from_media(media), class: "d-block img-fluid"
        .row.row-xs.ht-80.mg-t-10{style: "overflow-x: scroll; overflow-y: hidden; opacity: 0.7;"}
          - @board.images.each.with_index do |media,i|
            .col.pd-x-5.mx-wd-25p.cursor-pointer
              %a.selected{"id" => "carousel-selector-#{i}", "data-slide-to" => i, "data-target" => "#carouselBilboLanding"}
                = image_tag url_from_media(media), class: "ht-100p wd-100p o-fit-cover rounded"
        %input#bilboLat{type: "hidden", value: @board.lat}
        %input#bilboLng{type: "hidden", value: @board.lng}
        #landing-map-frame.ht-350.mg-t-20.rounded.mg-b-10
        %a.tx-gray-500{href: "#"}
          Street View
          .fe.fe-link-external.mg-l-5
          

      .col-12.col-lg-6.pd-lg-x-80.mg-t-20.mg-lg-t-0
        %div.sticky-top.t-150.z-index-50
          .row
            .col-4
              %h3.d-block.tx-bold= number_to_currency_usd(@board.cycle_price)
              %strong.tx-gray-500.tx-uppercase= t("bilbos.price_per_print")
            .col-4.bd-x.bd-2
              %h3.d-block.tx-bold= number_with_delimiter(@board.avg_daily_views, :delimiter => ',')
              %strong.tx-gray-500.tx-uppercase= t("bilbos.avg_views")
            .col-4
              %h3.d-block.tx-bold= @board.displays_number
              %strong.tx-gray-500.tx-uppercase= t("bilbos.displays_number")
          .b-block 
            %table.table.borderless{style: "background-color: initial;"}
              %thead
                %tr
                  %th
                  %th
              %tbody
                %tr
                  %td.tx-gray-600.pd-l-0-f= t("bilbos.face")
                  %td.tx-gray-800= @board.face
                %tr
                  %td.tx-gray-600.pd-l-0-f= t("bilbos.duration")
                  %td.tx-gray-800= "#{@board.duration} #{t("bilbos.seconds")}"
                %tr
                  %td.tx-gray-600.pd-l-0-f= t("bilbos.dimensions")
                  %td.tx-gray-800= "#{@board.width} x #{@board.height} mts"
                %tr
                  %td.tx-gray-600.pd-l-0-f= t("bilbos.image_size")
                  %td.tx-gray-800= "#{@board.recommended_image_size} px"
                %tr
                  %td.tx-gray-600.pd-l-0-f= t("bilbos.type")
                  %td.tx-gray-800t= t("bilbos.#{@board.category}")
                %tr
                  %td.tx-gray-600.pd-l-0-f= t("bilbos.social_class")
                  %td.tx-gray-800= @board.social_class
                %tr
                  %td.tx-gray-600.pd-l-0-f= t("bilbos.hour_start")
                  %td.tx-gray-800= "#{@board.start_time.to_s(:time)} - #{@board.end_time.to_s(:time)}"
          .d-block
            = link_to campaigns_path(fetchModal: "modalNewCampaign"), class: "btn btn-outline-primary btn-lg" do
              .fe.fe-plus
              Agregar a Cotización
            = link_to campaigns_path(fetchModal: "modalNewCampaign"), class: "btn btn-primary btn-lg mg-l-10" do
              Crear Campaña

      .col-12.tx-center.mg-t-50
        %strong.tx-26.tx-gradient-landing Desde $50 MXN diarios
        %h1.tx-bold.mg-t-15 Publicidad exterior en México
        %p.tx-gray-600.tx-16 Invierte en publicidad exterior digital para tu negocio con precios accesibles.

      .col-12.d-block#suggestedBilbos
        .row.row-xs
          = render partial: "landing_pages/single_board_suggestion", collection: @suggested_boards, as: :board
      
      .col-12.mg-t-20.mg-lg-t-50
        .row
          .col-12.col-lg-6.mg-t-20
            %strong.tx-26.tx-gradient-landing Desde $50 MXN diarios
            %h1.strong Bilbo es la nueva forma de anunciarte en exteriores.
            = link_to campaigns_path(fetchModal: "modalNewCampaign"), class: "btn btn-primary btn-lg mg-l-10" do
              Crear Campaña
          .col-12.col-lg-6.mg-t-20
            .accordion.accordion-style1
              %h6 ¿Qué es Bilbo?
              %div
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo laboriosam exercitationem ratione officia, incidunt quibusdam deserunt dolorem obcaecati doloribus magnam beatae soluta dolores impedit blanditiis aut aliquam iusto perferendis voluptatum!
              %h6 ¿Cómo puedo anunciar mi negocio?
              %div
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo laboriosam exercitationem ratione officia, incidunt quibusdam deserunt dolorem obcaecati doloribus magnam beatae soluta dolores impedit blanditiis aut aliquam iusto perferendis voluptatum!
              %h6 ¿Cuál es el precio?
              %div
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo laboriosam exercitationem ratione officia, incidunt quibusdam deserunt dolorem obcaecati doloribus magnam beatae soluta dolores impedit blanditiis aut aliquam iusto perferendis voluptatum!
              %h6 ¿En qué ciudades puedo anunciarme?
              %div
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo laboriosam exercitationem ratione officia, incidunt quibusdam deserunt dolorem obcaecati doloribus magnam beatae soluta dolores impedit blanditiis aut aliquam iusto perferendis voluptatum!

             
= render "footers/white"

:javascript
  $('.accordion').accordion({
    heightStyle: 'content',
    icons: { "header": "ui-icon-arrowthick-1-se", "activeHeader": "ui-icon-minus" },
    collapsible: true
  });