= render 'shared/header', menu: "my_bilbos"

.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0

    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item.active{"aria-current" => "page"}= t("header.my_bilbos")

        %h4.mg-b-0.tx-spacing--1
        = t("header.my_bilbos")

      = form_tag owned_boards_path, method: 'get' do
        .search-form
          = text_field_tag :search_board, params[:search_board], placeholder: "#{t("input.search")} Bilbo", class: "form-control"
          %button.btn{:type => "submit"}
            %i.fe.fe-search

    .row.row-xs#boardElements
      = render partial: "boards/provider/board_row", collection: @boards, as: :board
  .col-12
    .container#paginator.text-center.tx-13
      = link_to_next_page @boards, "#{t("ads.more_ads")}"'<i class="ion-arrow-down-c" style="padding-left:5px;"></i>'.html_safe, :remote => true, :param_name => "upcoming_page"
