<script src="//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script>
<script>Bugsnag.start({ apiKey: '<%= ENV.fetch("BUGSNAG_BOARD_FRONTEND_API_KEY") {""} %>' })</script>
<div class="content content-fixed content-auth-alt board-display m-0 p-0 minh-100-vh maxh-100-vh w-100">
  <div class="container ht-100p tx-center">
    <div class="row justify-content-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg-3 mg-t-40 mg-sm-t-0 d-flex flex-column">
        <div class="start-stream" data-board="<%= @board.slug %>">
          <div class="tx-100 lh-1"><i class="fe fe-play"></i></div>
          <h3 class="mg-b-25 tx-white"><%= t("bilbos.start_stream") %></h3>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- container -->
  <div class="board-ads">
    <% @active_campaigns.each do |campaign| %>
      <% if @board.images_only %>
        <%= render partial: "campaigns/board_campaign", collection: campaign.ad.images, as: :media, locals: {campaign: campaign, board: @board} %>
      <% else %>
        <%= render partial: "campaigns/board_campaign", collection: campaign.ad.multimedia, as: :media, locals: {campaign: campaign, board: @board} %>
      <% end %>
    <% end %>
  </div>
  <div id="bilbo-ad">
    <%= render partial: "ads/bilbo_ad" %>
  </div>
  <input readonly class="d-none" id="ads_rotation" value="<%= @board.add_bilbo_campaigns %>">
  <input readonly class="d-none" id="board_id" value="<%= @board.id %>">
  <input readonly class="d-none" id="start_time" value="<%= @board.start_time %>">
  <input readonly type="number" class="d-none" id="duration" value="10">
  <input readonly type="text" class="d-none" id="api_token" value="<%= @board.api_token %>">
</div>
