= render 'shared/header', menu: "boards"

.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-25.mg-xl-b-30
      %div
        %nav{ 'aria-label' => 'breadcrumb' }
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              = link_to t('campaign.home'), root_path
        %h4.mg-b-0.tx-spacing--1
          = t('header.statistics')

      .d-none.d-md-block
        %button{ 'class' => 'btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5', 'onclick' => 'window.print()' }
          %i.wd-10.mg-r-5.fe.fe-print
          = t('dashboards.print')
        = link_to generate_provider_report_csv_index_path(format: "csv"), class: 'btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5' do
          %i.wd-10.mg-r-5.fe.fe-export
          = t('dashboards.export_to_csv')

    .row.row-xs
      = render 'boards/bilbo_statistics/earnings'
      = render 'boards/bilbo_statistics/impressions_count'
      = render 'boards/bilbo_statistics/ads_top'
      = render 'boards/bilbo_statistics/campaign_of_day'
      = render 'boards/bilbo_statistics/top_campaigns'
      = render 'boards/bilbo_statistics/active_campaigns'
