#modalNewPayment.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    - if @project.owner == current_user
      .modal-content.pos-relative
        .modal-body.pd-20.pd-sm-30
          %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h5.tx-18.tx-sm-20.mg-b-10= t("payments.buy_credits")
          #carouselPayment.carousel.slide{"data-interval" => "false"}
            .carousel-inner
              .carousel-item.carousel-item-fast
                .text-center
                  = image_tag image_path("paypal.svg"), class: "img-fluid-50"
                .row
                  .col-12.m-auto
                    .pd-md-20.pd-xs-10.pd-b-0-f
                      = form_with(url: express_payments_path, method: :post, :html => { data: { parsley_validate: true } }, local: false) do |f|
                        %span.tx-13.tx-color-03.mg-b-0
                          = t("payments.daily_credit_limit", credit_limit: current_user.credit_limit)
                          %a.tx-color-03.tx-underline{:href => "https://bilbo.freshdesk.com/support/tickets/new", :target => "_blank"}= t('payments.request_limit_increase').downcase
                        .form-group.tx-right
                          = f.text_field :total, class: "form-control input-number_integer", placeholder: "500", value: params[:creditsPrefill], required: true, min: "50", max: current_user.credit_limit
                        .actions
                          = button_tag type: 'submit', class: "btn btn-outline-paypal btn-block", data: { disable_with: t("general_inputs.please_wait") } do
                            %i.fa.fa-paypal{"aria-hidden" => "true"}
                            = t("general_inputs.pay_with")
                            Paypal
                      .tx-center.mg-t-10
                        %small.tx-color-03.choose-another-payment-method.cursor-pointer= t("payments.pick_another_payment_method")
              .carousel-item.active
                %p= t("payments.credits_text")
                - if params[:creditsPrefill].present?
                  .alert.alert-danger.tx-center{role: "alert"} Tu campaña correrá hasta que recargues créditos
                .divider-text= t("payments.choose_payment_method")
                .row
                  .col-6.tx-center
                    %a#pay-with-paypal.btn.btn-block.btn-primary{:href => "#"} Paypal
                    = image_tag image_path("paypal OPT.svg"), class: "img-fluid-50 mg-t-5"
                  .col-6.tx-center
                    %a#pay-with-spei.btn.btn-block.btn-primary{:href => "#"}= t("payments.bank_transfer")
                    = image_tag image_path("spei OPT.svg"), class: "img-fluid-50 mg-t-5"
              .carousel-item
                .text-center
                  = image_tag image_path("spei OPT.svg"), class: "img-fluid-50"
                .row
                  #spei_div.col-12.m-auto
                    .pd-md-20.pd-xs-10.pd-b-0-f
                      = form_with(model: Payment.new, url: create_spei_payments_path, method: :post, :html => { data: { parsley_validate: true } }, remote: true, id: "spei_payment") do |f|
                        %span.tx-13.tx-color-03.mg-b-0= t("payments.enter_desired_payment")
                        .form-group.tx-right
                          = f.text_field :total, class: "form-control input-number", placeholder: "500", value: params[:creditsPrefill], required: true
                        .actions
                          = button_tag type: 'submit', class: "btn btn-primary btn-block", data: { disable_with: t("general_inputs.please_wait") } do
                            = t("general_inputs.generate_payment_sheet")
                      .tx-center.mg-t-10
                        %small.tx-color-03.choose-another-payment-method.cursor-pointer= t("payments.pick_another_payment_method")
        .modal-footer
          %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
    -else
      .modal-content.pos-relative
        .marker-icon.marker-primary.pos-absolute.t-0.l-0
        %i.fe.fe-info.tx-22.mg-l-3.mg-t-3.z-index-10.tx-white
        .modal-body.pd-20.pd-sm-30
          %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h5.tx-18.tx-sm-20.mg-b-10= t("payments.buy_credits")
          =t("payments.no_owner_buying_credits")
          .input-group.mg-t-15
            %input.form-control#creditBuyUrl{readonly: true, value: change_project_project_url(@project.slug)}
            .input-group-append
              %button.clipboard-btn.btn-primary.rounded.tx-10{"data-clipboard-action" => "copy", "data-clipboard-target" => "#creditBuyUrl"}
                %i.material-icons &#xe14d;
        .modal-footer
          %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
      / modal-footer
    / modal-content
  / modal-dialog
/ modal
