<div class="modal fade effect-slide-in-top" id="modalNewPayment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pd-20 pd-sm-30">
        <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h5 class="tx-18 tx-sm-20 mg-b-30"><%= t("payments.buy_credits") %></h5>
        <p><%= t("payments.credits_text") %></p>
        <div class="row">
          <div class="col-12 m-auto">
            <div class="pd-20">
              <%= form_with(model: Payment, url: payment_path, method: :post, :html => { :id => "new_payment", data: { parsley_validate: true } }, local: false) do |f| %>

              <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
              
              <div class="actions col-sm-12 col-md-6 m-auto">
                <%= f.submit t("general_inputs.create"), class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal"><%= t("general_inputs.close") %></button>
    </div>
    <!-- modal-footer -->
  </div>
  <!-- modal-content -->
</div>
<!-- modal-dialog -->
</div>
<!-- modal -->
