<div class="modal fade effect-slide-in-top" id="modalNewPayment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body pd-20 pd-sm-30">
        <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <h5 class="tx-18 tx-sm-20 mg-b-30"><%= t("payments.buy_credits") %></h5>
        <p><%= t("payments.credits_text") %></p>
        <div class="row">
          <div class="col-12 m-auto">
            <div class="pd-20">
              <%= form_with(url: express_payment_path, method: :post, :html => { data: { parsley_validate: true } }, local: false) do |f| %>
              <span class="tx-13 tx-color-03 mg-b-0"><%= t("payments.daily_credit_limit", credit_limit: current_user.credit_limit) %></span>
              <div class="form-group tx-right">
                <%= f.text_field :total, class: "form-control input-number_integer", placeholder: "500", required: true, min: "50", max: current_user.credit_limit %>
                <a href="https://bilbo.freshdesk.com/support/tickets/new" target="_blank" class="tx-13 mg-b-0"><%= t('payments.request_limit_increase') %></a>
              </div>

              <div class="actions">
                <%= button_tag type: 'submit', class: "btn btn-outline-paypal btn-block", data: { disable_with: t("general_inputs.please_wait") } do %>
                    <i class="fa fa-paypal" aria-hidden="true"></i> <%= t("general_inputs.pay_with") %> Paypal
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal"><%= t("general_inputs.close") %></button>
    </div>
    <!-- modal-footer -->
  </div>
  <!-- modal-content -->
</div>
<!-- modal-dialog -->
</div>
<!-- modal -->
