.col-sm-5.col-md-4.col-lg-3.mg-t-10
  .card
    .card-header
      %h6.mg-b-0
        = t('dashboards.active_campaigns')
    .card-body.tx-center
      %h4.tx-normal.tx-rubik.tx-40.tx-spacing--1.mg-b-0
        = @board.approved_campaign_by_board
      %p.tx-12.tx-uppercase.tx-semibold.tx-spacing-1.tx-color-02
        = t('dashboards.active_campaigns')
      %hr
      %p.tx-12.tx-color-03.mg-b-20
        = t('dashboards.active_campaigns_description')
    .card-footer.bd-t-0.pd-t-0
      = link_to t('dashboards.view_all'), provider_index_campaigns_path(:bilbo => @board.slug), class: "btn btn-sm btn-block btn-outline-primary btn-uppercase tx-spacing-1"
