-if Campaign.find_by_name(campaign.to_s).present? && @board.board_campaigns.find_by(board_id: @board.id, campaign_id: Campaign.find_by_name(campaign.to_s).id).contents_board_campaign.present?
  -@board.board_campaigns.find_by(board_id: @board.id, campaign_id: Campaign.find_by_name(campaign.to_s).id).contents_board_campaign.each.with_index do |media, i|
    %div.carousel-item
      -if media.content.is_video?
        = link_to media.content.multimedia_url(:transcoded), class: "glightbox" do
          = image_tag media.content.multimedia_url(:small), size:"600x300", class: "d-block w-100 obj-fit-scale-down", autoplay: true, loop: true, muted: 'muted', style: "object-fit: contain;"
      -elsif media.content.is_url?
        = link_to media.content.url, class: "glightbox", :data => {caption: media.content.url, group: ""} do
          %iframe{:src => "#{media.content.url}", class: "d-block w-100", :height => "300", :width => "600", :scrolling => "no"}
      -else
        = link_to media.content.multimedia_url(:large), class: "glightbox", :data => {type: "image"} do
          = image_tag media.content.multimedia_url(:small), size:"600x300", class: "d-block w-100 obj-fit-scale-down"
