.col-md-6.col-lg-4.col-xl-3.mg-t-10
  .card
    .card-header.d-flex.justify-content-between
      %h6.mg-b-0 Top Campaigns
    .card-body.pd-lg-25
      .chart-seven
        = pie_chart top_campaigns_chart_path(@board.slug), download: false
    .card-footer.pd-20
      .col-12.tx-12{style: "padding: 0"}
        .d-flex.align-items-center
          .wd-10.ht-10.bg-primary.rounded-circle.pos-relative.t--1
          %span.tx-medium.mg-l-10{:title => "#{@bilbo_top.first[0] rescue ""}"}= truncate(@bilbo_top.first[0], length: 12) rescue "-"
          %span.tx-rubik.mg-l-auto= number_to_currency_usd(@bilbo_top.first[1]) rescue "-"
          %span.wd-60.tx-right.tx-rubik.mg-l-5.tx-success
            #{@percentage_top_1}%
        .d-flex.align-items-center.mg-t-10
          .wd-10.ht-10.bg-success.rounded-circle.pos-relative.t--1
          %span.tx-medium.mg-l-10{:title => "#{@bilbo_top.second[0] rescue ""}"}= truncate(@bilbo_top.second[0], length: 12) rescue "-"
          %span.tx-rubik.mg-l-auto= number_to_currency_usd(@bilbo_top.second[1]) rescue "-"
          %span.wd-60.tx-right.tx-rubik.mg-l-5.tx-success
            #{@percentage_top_2}%
        .d-flex.align-items-center.mg-t-10
          .wd-10.ht-10.bg-warning.rounded-circle.pos-relative.t--1
          %span.tx-medium.mg-l-10{:title => "#{@bilbo_top.third[0] rescue ""}"}= truncate(@bilbo_top.third[0], length: 12) rescue "-"
          %span.tx-rubik.mg-l-auto= number_to_currency_usd(@bilbo_top.third[1]) rescue "-"
          %span.wd-60.tx-right.tx-rubik.mg-l-5.tx-success
            #{@percentage_top_3}%
        .d-flex.align-items-center.mg-t-10
          .wd-10.ht-10.bg-danger.rounded-circle.pos-relative.t--1
          %span.tx-medium.mg-l-10{:title => "#{@bilbo_top.fourth[0] rescue ""}"}= truncate(@bilbo_top.fourth[0], length: 12) rescue "-"
          %span.tx-rubik.mg-l-auto= number_to_currency_usd(@bilbo_top.fourth[1]) rescue "-"
          %span.wd-60.tx-right.tx-rubik.mg-l-5.tx-success
            #{@percentage_top_4}%
