<%= render 'shared_user/header' %>

<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="#"><%= t("dashboard.home") %></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= t("dashboard.dashboard") %></li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1"><%= t("dashboard.dashboard") %></h4>
      </div>
      <div class="d-none d-md-block">
        <button class="btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5">
          <i class="wd-10 mg-r-5 fe fe-plus"></i>
          <%= t("dashboard.new_campaign") %></button>
      </div>
    </div>

  </div>
  <!-- container -->
</div>
<!-- content -->
