- danger = @project.campaigns_for_review.positive? ? true : false
.col-sm-5.col-md-4.col-lg-3.mg-t-10
  %div{ class: "card #{'bd-danger' if danger}" }
    .card-header
      %h6.mg-b-0.tx-bold
        = t('dashboards.pending_campaigns')
    .card-body.tx-center
      %h4{ class: "tx-rubik tx-40 tx-spacing--1 mg-b-0 #{'tx-danger' if danger}" }
        = @project.campaigns_for_review
      %p{ class: "tx-12 tx-uppercase tx-semibold tx-spacing-1 tx-color-02 #{'tx-danger' if danger}" }
        = t('dashboards.pending_campaigns')
      %hr
      %p.tx-12.mg-b-20
        = t('dashboards.pending_campaigns_description')
    .card-footer.bd-t-0.pd-t-0
      -if @project.campaigns_for_review > 0
        = link_to t('dashboards.review_now'), provider_index_campaigns_path(q: "review"), class: "btn btn-sm btn-block btn-uppercase tx-spacing-1 #{'btn-outline-danger' if danger}"
      -else
        %button.btn.btn-sm.btn-block.btn-uppercase.tx-spacing-1.disabled{style: "background-color: gray; color: white;"}= t('dashboards.review_now')
