.col-lg-9.mg-t-10
  .card.mg-b-10{:style => "height: 705px;"}
    .card-header.pd-t-20.d-sm-flex.align-items-start.justify-content-between.bd-b-0.pd-b-0
      %div
        %h6.mg-b-5.tx-bold= t('dashboards.recent_earnings')
        %p.tx-13.tx-color-03.mg-b-0= t('dashboards.recent_earnings_description')
      .d-flex.mg-t-20.mg-sm-t-0
        = link_to impressions_path, class: 'btn btn-sm  pd-x-15 btn-white mg-l-5' do
          %i.wd-10.mg-r-5.fe.fe-list-order
          = t('dashboards.view_impressions')
    .table-responsive
      %table.table.table-dashboard.mg-b-0
        %thead
          %tr
            %th= t('dashboards.date')
            %th.text-right= t('dashboards.impressions_count')
            %th.text-right= t('dashboards.net_earnings')
        %tbody
          - @earnings.sort_by {|k,v| k}.reverse.each do |earning|
            %tr
              %td.tx-color-03.tx-normal= I18n.l(earning[0], format: :long)
              %td.tx-medium.text-right= earning[1][:impressions_count]
              %td.tx-medium.text-right.tx-success= number_to_currency_usd(earning[1][:gross_earnings])
