<div class="col-md-6 col-lg-4 col-xl-3 mg-t-10 mg-lg-t-0">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h6 class="mg-b-0">Top Campaigns</h6>
    </div>
    <!-- card-header -->
    <div class="card-body pd-lg-25">
      <div class="chart-seven">
        <%= pie_chart @tops, download: false %>
      </div>
    </div>
    <!-- card-body -->
    <div class="card-footer pd-20">
      <div class="col-12 tx-12">
        <div class="d-flex align-items-center">
          <div class="wd-10 ht-10 bg-primary rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10"><%= @tops.first[0].first(10) rescue "-" %></span>
          <span class="tx-rubik mg-l-auto"><%= number_to_currency_usd(@tops.first[1]) rescue "-" %></span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">7.96%
            <i class="icon ion-md-arrow-up"></i>
          </span>
        </div>
        <div class="d-flex align-items-center mg-t-10">
          <div class="wd-10 ht-10 bg-teal rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10"><%= @tops.second[0].first(10) rescue "-" %></span>
          <span class="tx-rubik mg-l-auto"><%= number_to_currency_usd(@tops.second[1]) rescue "-" %></span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">4.75%
            <i class="icon ion-md-arrow-up"></i>
          </span>
        </div>
        <div class="d-flex align-items-center mg-t-10">
          <div class="wd-10 ht-10 bg-warning rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10"><%= @tops.third[0].first(10) rescue "-" %></span>
          <span class="tx-rubik mg-l-auto"><%= number_to_currency_usd(@tops.third[1]) rescue "-" %></span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">2.58%
            <i class="icon ion-md-arrow-down"></i>
          </span>
        </div>
        <div class="d-flex align-items-center mg-t-10">
          <div class="wd-10 ht-10 bg-pink rounded-circle pos-relative t--1"></div>
          <span class="tx-medium mg-l-10"><%= @tops.fourth[0].first(10) rescue "-" %></span>
          <span class="tx-rubik mg-l-auto"><%= number_to_currency_usd(@tops.fourth[1]) rescue "-" %></span>
          <span class="wd-60 tx-right tx-rubik mg-l-5 tx-success">1.69%
            <i class="icon ion-md-arrow-down"></i>
          </span>
        </div>
      </div>
    </div>
    <!-- card-footer -->
  </div>
  <!-- card -->
</div>
