<tr>
  <th scope="row">
    <div class="custom-control custom-switch px-4">
      <input type="checkbox" class="custom-control-input" id="customSwitch<%= campaign.id %>" checked="checked">
      <label class="custom-control-label" for="customSwitch<%= campaign.id %>"></label>
    </div>
  </th>
  <td data-toggle="tooltip" data-placement="top" title="<%= campaign.description %>"><%= campaign.name %> <a href="<%= edit_campaign_path(campaign) %>"><i class="fe fe-edit float-right"></i></a></td>
  <td><%= campaign.boards.length %></td>
  <td><%= campaign.ads.first.name rescue t("ads.no_ad") %></td>
  <td><%= campaign.starts_at || "-" %></td>
  <td><%= campaign.ends_at || "-" %></td>
  <td><%= campaign.prints.length %></td>
  <td><%= number_to_currency(campaign.budget, precision: 2, :unit => "$") %></td>
  <td><%= number_to_currency(campaign.total_invested, precision: 2, :unit => "$") %></td>
</tr>
