.carousel.slide.carousel-fade{"data-ride" => "carousel", style:"position: static !important;", id: "carousel-#{@board.slug}"}
  %ol.carousel-indicators
  .carousel-inner{style: "position: static !important;"}
    - if @selected_contents.present?
      - @selected_contents.each.with_index do |media, i|
        %div{class: "carousel-item #{'active' if i == 0} ", style: "position: static !important;", id: "wizard-content-#{media.id}-#{@board.slug}" }
          -if media.is_video?
            = image_tag media.multimedia_url(:large), class: "center-block d-block w-100 h-100", :controls => false, :controlslist => "nodownload" , autoplay: false, loop: true, muted: 'muted', style: "max-width: 100%; max-height: 100%; position: absolute; top: 0; bottom: 0; object-fit: contain;"
          -elsif media.is_url?
            %iframe{:src => "#{media.url}", class: "center-block d-block w-100 h-100", style: "max-width: 100%; max-height: 100%; position: absolute; top: 0; bottom: 0; object-fit: contain;", :scrolling => "no"}
          -else
            -if media.multimedia(:large).height <= 1080
              = image_tag media.multimedia_url(:small), class: "center-block d-block w-100 h-100", style: "max-width: 100%; max-height: 100%; position: absolute; top: 0; bottom: 0; object-fit: contain;"
            -else
              = image_tag "construction_video.webp", class: "center-block d-block w-100 h-100", style: "max-width: 100%; max-height: 100%; position: absolute; top: 0; bottom: 0; object-fit: contain;"
    %a.carousel-control-prev{"data-slide" => "prev", href: "#carousel-#{@board.slug}", role: "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
        %i.fe.fe-arrow-left.tx-30
      %span.sr-only Previous
    %a.carousel-control-next{"data-slide" => "next", href: "#carousel-#{@board.slug}", role: "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
        %i.fe.fe-arrow-right.tx-30
      %span.sr-only Next
