#modalCopyCampaign.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content#modalToCopyCampaign
      .modal-body.pd-20.pd-sm-30.pd-b-0-f
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h5.tx-18.tx-sm-20.mg-b-10= t("campaign.copy_campaign")
        %h5.tx-18.tx-sm-20.mg-b-30= @campaign rescue ""
        .row
          .col-12.m-auto
            = form_with(model: Campaign, url: create_copy_campaign_path(@campaign), method: :post, :html => { :id => "new_campaign", data: { parsley_validate: true } }, remote: true) do |f|
              .form-group
                = f.label t("general_inputs.name")
                %br/
                = f.text_field :name, class: "form-control", value: "", autocomplete: "off", required: true, placeholder: t("general_inputs.name")
              .form-group
                = f.label t('campaign.wizard.campaign_duration')
                %br/
                .form-row
                  .col-6= f.text_field :starts_at, :class => "white-background-f form-control", placeholder: t('campaign.wizard.start_date'), required: true, autocomplete: "off", readonly: "readonly"
                  .col-6= f.text_field :ends_at, :class => "white-background-f form-control", placeholder: t('campaign.wizard.end_date'), required: true, autocomplete: "off", readonly: "readonly"
              .actions
              = f.submit t("campaign.copy"), class: "btn btn-primary btn-block", style: "margin-top: 20px"
      .modal-footer.mg-t-10
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
