.d-flex.mg-t-10
  %nav.nav.nav-icon-only
    -@contents.each do |contents|
      .d-flex.pd-sm-x
        -if contents.content.is_video?
          = link_to contents.content.multimedia_url(:transcoded), class: "glightbox mg-r-5 mg-b-5 img wd-50 ht-50 rounded o-fit-cover", :data => {caption: contents.content.multimedia.metadata["filename"], group: ""} do
            = image_tag contents.content.multimedia_url(:small), {class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded o-fit-cover"}
        -elsif contents.content.is_url?
          = link_to contents.content.url, class: "glightbox mg-r-5 mg-b-5 img wd-50 ht-50 rounded o-fit-cover", :data => {caption: contents.content.url, group: ""} do
            %iframe{:src => "#{contents.content.url}", class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded o-fit-cover", scrolling: "no"}
        -else
          = link_to contents.content.multimedia_url(:large), class: "glightbox mg-r-5 mg-b-5 img wd-50 ht-50 rounded o-fit-cover", :data => {caption: contents.content.multimedia.metadata["filename"], group: "", type: "image"} do
            = image_tag contents.content.multimedia_url(:small), {class: "mg-r-5 mg-b-5 img wd-50 ht-50 rounded o-fit-cover"}
