#modalInteractionCampaign.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-body.pd-20.pd-sm-30
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        #carouselNewInteractiveCampaign.carousel.slide.pd-x-20
          .carousel-inner.tx-center.mg-b-30
            .carousel-item.active
              %h3.mg-y-30= t("campaign.objectives.interaction_carousel.congratulations")
              %p.tx-gray-700
                = t("campaign.objectives.interaction_carousel.initial_steps_description")
                &#128640;
              = image_tag image_path("interactive_campaigns/paso 1"), class: "mg-y-20 d-block m-0-auto ht-150"
              = link_to t("campaign.objectives.interaction_carousel.download_qr_code"), download_qr_instructions_campaign_path(@campaign),
              class: "btn btn-primary mg-t-20", target: "_blank", id: "downloadqrfrommodal"

            .carousel-item
              %h3.mg-y-30= t("campaign.objectives.interaction_carousel.how_to_use")
              %p.tx-gray-700
                = t("campaign.objectives.interaction_carousel.how_to_use_description")
                %a{href: "https://bilbo.freshdesk.com/support/solutions/articles/64000257671-c%C3%B3digos-qr", target: "_blank"}= t("campaign.objectives.interaction_carousel.best_practices")
                = t("campaign.objectives.interaction_carousel.to_get_better_results")
              = image_tag image_path("interactive_campaigns/paso 2"), class: "mg-y-20 d-block m-0-auto"
              .row.mg-t-20
                .col-6.pd-x-5.tx-right
                  %button.btn.btn-outline-primary{"data-target": "#carouselNewInteractiveCampaign", "data-slide-to": 0}= t("campaign.wizard.previous")
                .col-6.pd-x-5.tx-left
                  %button.btn.btn-primary{"data-target": "#carouselNewInteractiveCampaign", "data-slide-to": 2}= t("campaign.wizard.next")

            .carousel-item
              %h3.mg-y-30= t("campaign.objectives.interaction_carousel.time_to_upload_ad")
              %p.tx-gray-700.mg-y-40= t("campaign.objectives.interaction_carousel.upload_description")
              = image_tag image_path("interactive_campaigns/paso 3"), class: "mg-y-20 d-block m-0-auto ht-150"
              = link_to t("campaign.objectives.interaction_carousel.upload_ad"), edit_campaign_path(@campaign, gtm_campaign_edit: true), class: "btn btn-primary mg-y-20"



          %ol.carousel-indicators.carousel-circles-under
            %li.active.bg-secondary{"data-target": "#carouselNewInteractiveCampaign", "data-slide-to": 0}
            %li.bg-secondary{"data-target": "#carouselNewInteractiveCampaign", "data-slide-to": 1}
            %li.bg-secondary{"data-target": "#carouselNewInteractiveCampaign", "data-slide-to": 2}
