
#modalNewCampaign.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-body.pd-20.pd-sm-30
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h5.tx-18.tx-sm-20.mg-b-30= t("campaign.new_campaign")
        .row
          .col-12.m-auto
            .pd-20
              = form_with(model: Campaign, url: campaigns_path, method: :post, :html => { :id => "new_campaign", data: { parsley_validate: true } }, local: false) do |f|
                .form-group
                  = f.label t("general_inputs.name")
                  %br/
                  = f.text_field :name, class: "form-control", value: "", autocomplete: "off", required: true, placeholder: t("general_inputs.name")
                .form-group
                  = f.label t("general_inputs.description")
                  %br/
                  = f.text_area :description, class: "form-control", value: "", autocomplete: "off", placeholder: t("general_inputs.description")
                .divider-text= t('campaign.wizard.campaign_clasification') 
                .actions.col-sm-12.col-md-15.pd-t-10
                  .card
                    .card-body
                      %h5.card-title= t('campaign.wizard.budget')
                      %h6.card-subtitle.mb-2.text-muted= t('campaign.wizard.daily_budget_description')
                .actions.col-sm-12.col-md-15.pd-t-10      
                  .card
                    .card-body
                      %h5.card-title= t('campaign.wizard.campaign_minute')
                      %h6.card-subtitle.mb-2.text-muted=t('campaign.wizard.campaign_minute_description')
                .actions.col-sm-12.col-md-15.pd-t-10      
                  .card
                    .card-body
                      %h5.card-title= t('campaign.wizard.campaign_hour')
                      %h6.card-subtitle.mb-2.text-muted= t('campaign.wizard.campaign_hour_description')
                  .actions.col-sm-12.col-md-6.m-auto.pd-t-50
                  = f.submit t("general_inputs.create"), class: "btn btn-primary btn-block"
      .modal-footer
        %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
