%tr
  %td
    = check_box_tag "checkbox-boardCampaign-#{board_campaign.id}", board_campaign.id
  %td.tx-medium.truncate{"data-placement" => "top", "data-toggle" => "tooltip", title: ""}
    - if !board_campaign.campaign.owner.has_had_credits? && board_campaign.campaign.owner.is_user?
      %i.fe.fe-warning.tx-danger{"data-toggle" => "tooltip", :href => "#", :title => t("campaign.user_has_no_credits_disclaimer")}
    = board_campaign.campaign.name
  %td
    = link_to contents_modal_review_content_path(board_campaign.id, images_only: board_campaign.board.images_only),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do
      %i.fa.fa-picture-o
      = t("ads.view")
  #modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "adViewModal", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-dialog-centered{role: "document"}
      .modal-content.tx-14
  %td.text-between= l(board_campaign.campaign.starts_at, format: "%d %b %Y") rescue l(board_campaign.campaign.created_at, format: "%d %b %Y")
  %td.text-between= l(board_campaign.campaign.ends_at, format: "%d %b %Y") rescue t("campaign.wizard.ongoing_campaign")
  %td.text-between= link_to(board_campaign.board.name, statistics_board_path(board_campaign.board))
  %td.text-between= t("campaign.wizard.#{board_campaign.campaign.classification}")
  %td.text-between= number_to_currency_usd(board_campaign.budget) rescue ""
  %td.text-between= board_campaign.campaign.state.to_s == "true" ? t('campaign.status_on') : t('campaign.status_off')
