%tr
  %td.tx-medium.truncate{"data-placement" => "top", "data-toggle" => "tooltip", title: ""}= board_campaign.campaign.name
  %td
    = link_to modal_action_ad_path(board_campaign.campaign_id, images_only: board_campaign.board.images_only),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do
      %i.fa.fa-picture-o
      = t("ads.view")
  #modal-window.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "adViewModal", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-dialog-centered{role: "document"}
      .modal-content.tx-14
  %td.text-between= board_campaign.campaign.created_at.strftime("%d/%m/%Y")
  %td.text-between= link_to(board_campaign.board.name, statistics_board_path(board_campaign.board))
  %td.text-between= number_to_currency_usd(board_campaign.campaign.budget)
  -if board_campaign.campaign.state.to_s == "true"
    %td.text-between= t('campaign.status_on')
  -else
    %td.text-between= t('campaign.status_off')
  %td.d-flex.justify-content-between.align-center
    -if params[:q] == "review"
      = link_to '', campaign_board_approve_campaign_path(board_campaign.campaign_id,board_campaign.board_id), class: 'fe fe-check', title: t('campaign.accept'), data: { toggle: 'tooltip', placement: 'top', method: :put, confirm: t('campaign.approve_campaign') }
      = link_to '', campaign_board_deny_campaign_path(board_campaign.campaign_id,board_campaign.board_id), class: 'fe fe-trash', title: t('campaign.deny'), data: { toggle: 'tooltip', placement: 'top', method: :put, confirm: t('campaign.deny_campaign') }
    -else
      = link_to '', campaign_board_in_review_campaign_path(board_campaign.campaign_id,board_campaign.board_id), class: 'fe fe-pause', title: t('campaign.review'), data: { toggle: 'tooltip', placement: 'top', method: :put, confirm: t('campaign.in_review_campaign') }
      = link_to '', campaign_board_deny_campaign_path(board_campaign.campaign_id,board_campaign.board_id), class: 'fe fe-trash', title: t('campaign.deny'), data: { toggle: 'tooltip', placement: 'top', method: :put, confirm: t('campaign.deny_campaign') }
