#modalCampaignContentsUsed.modal.fade.effect-slide-in-top{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-body.pd-20
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h5.tx-18.tx-sm-20= t("content.content")
        %p.tx-14= "#{@campaign.name}"
        .row
          .col-12.m-auto
            %ul.list-group.list-group-flush.tx-13
            -@board_campaigns.each do |board_campaign|
              %li.list-group-item.d-flex.pd-sm-x-20
                .pd-l-10
                  %p.tx-medium.mg-b-0= board_campaign.board.name
                  %small.tx-12.tx-color-03.mg-b-0= board_campaign.board.face
                  .mg-l-auto.d-flex.align-self-center{id: "content#{board_campaign.board.slug}"}
                .mg-l-auto.d-flex.align-self-center{id: "button-content#{board_campaign.board.slug}"}
                  = button_to t("content.display_content"), get_contents_campaign_path(@campaign), :remote=> true, :method => "get", :class=> "btn btn-xs btn-outline-primary", params: { board_campaign: board_campaign.id }

      .modal-footer
        %button.btn.btn-secondary.mg-sm-l-5{"data-dismiss" => "modal", :type => "button"}= t("general_inputs.close")
      / modal-footer
    / modal-content
  / modal-dialog
/ modal
