- if user_signed_in?
  - if current_user.is_admin?
    = render 'shared/header_admin', menu: "account"
  - else
    = render 'shared/header', menu: "dashboard"
- else
  = render 'devise/shared/header'
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      .d-none.d-md-block
        %button{ 'class' => 'btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5', 'onclick' => 'window.print()' }
          %i.wd-10.mg-r-5.fe.fe-print
          = t('dashboards.print')
        = link_to generate_campaign_report_csv_index_path(campaign: @campaign.id), class: 'btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5' do
          %i.wd-10.mg-r-5.fe.fe-download
          = t('dashboards.export_to_csv')

    .row.row-xs
      = render 'campaigns/user_charts/daily_impressions'
      = render 'campaigns/user_charts/daily_invested'
      = render 'campaigns/user_charts/peak_hours'
      = render 'campaigns/user_charts/qr_tracking' if @campaign.interaction?
      = render 'campaigns/user_charts/history_data'
      = render 'campaigns/user_charts/campaign_activity'
    .card.card-body.ht-lg-100.mg-t-10
      .media
        %span.tx-color-04
          %a.tx-color-04{:href => "#{generate_campaign_report_csv_index_path(campaign: @campaign.id)}"}
            %i.ht-60.fe.fe-download.tx-50
        .media-body.mg-l-20
          %h6.mg-b-10= t('dashboards.download_report_in_csv')
          %p.tx-color-03.mg-b-0
            = t('dashboards.download_report_in_csv_description')
