- if user_signed_in?
  - if current_user.is_admin?
    = render 'shared/header_admin', menu: "account"
  - else
    = render 'shared/header', menu: "dashboard"
- else
  = render 'devise/shared/header'
.content.content-fixed
  .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
    %div
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb.breadcrumb-style1.mg-b-10
          %li.breadcrumb-item
            %a{:href => "/"}= t("campaign.home")
          %li.breadcrumb-item
            %a{:href => "/"}= t("campaign.campaign")
          %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
      %h4.mg-b-0.tx-spacing--1= @campaign.name
    .d-flex.flex-row-reverse
      .d-none.d-md-block
        - if @campaign.ongoing?
          = form_with(model: @witness, local: true) do |form|
            = form.hidden_field :campaign_id, value: "#{@campaign.id}"
            = form.submit "#{t('witness.request_witnesses')}", class: 'btn btn-sm pd-x-15 btn-white btn-uppercase'
        %button{ 'class' => 'btn btn-sm pd-x-15 btn-white btn-uppercase', 'onclick' => 'window.print()'}
          %i.fe.fe-print
          = t('dashboards.print')
        = link_to generate_campaign_report_csv_index_path(campaign: @campaign.id), class: 'btn btn-sm pd-x-15 btn-primary btn-uppercase', 'style' => "margin-right: 5px;" do
          %i.fe.fe-download
          = t('dashboards.export_to_csv')
      .dropdown
        %button.btn.btn-secondary.mg-r-5{'class'=>'btn btn-sm btn-white', "aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %i.fe.fe-calendar
        .dropdown-menu.tx-13.align-items-center
          = form_for("", url: analytics_campaign_path, method: :get, :html => { data: { parsley_validate: true } }, remote: false) do |f|
            .form-group.mg-b-0
              %a.dropdown-item{:href => analytics_campaign_path(:date_start => 1.month.ago.beginning_of_day, date_end: Time.zone.now)}
                %i.fe.fe-clock.mg-r-5
                = t('campaign.1_month')
              %a.dropdown-item{:href => analytics_campaign_path(:date_start => 2.months.ago.beginning_of_day, date_end: Time.zone.now)}
                %i.fe.fe-clock.mg-r-5
                = t('campaign.2_months')
              %a.dropdown-item{:href => analytics_campaign_path(:date_start => 3.months.ago.beginning_of_day,  date_end: Time.zone.now)}
                %i.fe.fe-clock.mg-r-5
                = t('campaign.3_months')
              %a.dropdown-item{:href => analytics_campaign_path(:date_start => 4.months.ago.beginning_of_day, date_end: Time.zone.now)}
                %i.fe.fe-clock.mg-r-5
                = t('campaign.4_months')
              %a.dropdown-item{:href => analytics_campaign_path(:date_start => 5.months.ago.beginning_of_day, date_end: Time.zone.now)}
                %i.fe.fe-clock.mg-r-5
                = t('campaign.5_months')
              %a.dropdown-item{:href => analytics_campaign_path(:date_start => 6.months.ago.beginning_of_day, date_end: Time.zone.now)}
                %i.fe.fe-clock.mg-r-5
                = t('campaign.6_months')

  .row.row-xs
    = render 'campaigns/user_charts/top_cards'
    = render 'campaigns/user_charts/daily_impressions'
    = render 'campaigns/user_charts/daily_invested'
    = render 'campaigns/user_charts/peak_hours'
    = render 'campaigns/user_charts/qr_tracking' if @campaign.interaction?
    = render 'campaigns/user_charts/history_data'
    = render 'campaigns/user_charts/witnesses'
    = render 'campaigns/user_charts/campaign_activity'
    .col-md-4.col-xl-4.mg-t-10.order-md-3
      .card
        .card-header
          %h6.mg-b-0.tx-bold
            = t('dashboards.download_report_in_csv')
        .card-body.ht-lg-100{:style => "height: 255px;"}
          .media
            .media-body.mg-l-20
              %p.tx-color-03.mg-b-0
                = t('dashboards.download_report_in_csv_description')
              .mg-l-auto.text-center
                %span.tx-color-04
                  %a.tx-color-04{:href => "#{generate_campaign_report_csv_index_path(campaign: @campaign.id)}"}
                    %i.ht-60.fnt-xlg.fe.fe-download.tx-50
