= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      .d-md-block
      %div
        %a{:href => edit_campaign_path(@campaign)}
        %button.btn.btn-primary.btn-icon{:type => "button"}
          %i.fe.fe-edit.arrow-left.pd-5
          = t("general_inputs.edit")
    .row.row-xs
      .col-sm-6.col-lg-3
        .card.card-body
          %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8 Conversion Rate
          .d-flex.d-lg-block.d-xl-flex.align-items-end
            %h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1 0.81%
            %p.tx-11.tx-color-03.mg-b-0
              %span.tx-medium.tx-success
                1.2%
                %i.icon.ion-md-arrow-up
              than last week
          .chart-three
            #flotChart3.flot-chart.ht-30
          / chart-three
      / col
      .col-sm-6.col-lg-3.mg-t-10.mg-sm-t-0
        .card.card-body
          %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8 Unique Purchases
          .d-flex.d-lg-block.d-xl-flex.align-items-end
            %h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1 3,137
            %p.tx-11.tx-color-03.mg-b-0
              %span.tx-medium.tx-danger
                0.7%
                %i.icon.ion-md-arrow-down
              than last week
          .chart-three
            #flotChart4.flot-chart.ht-30
          / chart-three
      / col
      .col-sm-6.col-lg-3.mg-t-10.mg-lg-t-0
        .card.card-body
          %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8 Avg. Order Value
          .d-flex.d-lg-block.d-xl-flex.align-items-end
            %h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1 $306.20
            %p.tx-11.tx-color-03.mg-b-0
              %span.tx-medium.tx-danger
                0.3%
                %i.icon.ion-md-arrow-down
              than last week
          .chart-three
            #flotChart5.flot-chart.ht-30
          / chart-three
      / col
      .col-sm-6.col-lg-3.mg-t-10.mg-lg-t-0
        .card.card-body
          %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8 Order Quantity
          .d-flex.d-lg-block.d-xl-flex.align-items-end
            %h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1 1,650
            %p.tx-11.tx-color-03.mg-b-0
              %span.tx-medium.tx-success
                2.1%
                %i.icon.ion-md-arrow-up
              than last week
          .chart-three
            #flotChart6.flot-chart.ht-30
          / chart-three
      / col
      .col-lg-8.col-xl-7.mg-t-10
        .card
          .card-header.pd-y-20.d-md-flex.align-items-center.justify-content-between
            %h6.mg-b-0 Account  Monthly Recurring Revenue Growth
            %ul.list-inline.d-flex.mg-t-20.mg-sm-t-10.mg-md-t-0.mg-b-0
              %li.list-inline-item.d-flex.align-items-center
                %span.d-block.wd-10.ht-10.bg-df-1.rounded.mg-r-5
                %span.tx-sans.tx-uppercase.tx-10.tx-medium.tx-color-03 Growth Actual
              %li.list-inline-item.d-flex.align-items-center.mg-l-5
                %span.d-block.wd-10.ht-10.bg-df-2.rounded.mg-r-5
                %span.tx-sans.tx-uppercase.tx-10.tx-medium.tx-color-03 Actual
              %li.list-inline-item.d-flex.align-items-center.mg-l-5
                %span.d-block.wd-10.ht-10.bg-df-3.rounded.mg-r-5
                %span.tx-sans.tx-uppercase.tx-10.tx-medium.tx-color-03 Plan
          / card-header
          .card-body.pos-relative.pd-0
            .pos-absolute.t-20.l-20.wd-xl-100p.z-index-10
              .row
                .col-sm-5
                  %h3.tx-normal.tx-rubik.tx-spacing--2.mg-b-5 $620,076
                  %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-10 MRR Growth
                  %p.mg-b-0.tx-12.tx-color-03
                    Measure How Fast You’re Growing Monthly Recurring Revenue.
                    %a{:href => ""} Learn More
                / col
                .col-sm-5.mg-t-20.mg-sm-t-0
                  %h3.tx-normal.tx-rubik.tx-spacing--2.mg-b-5 $1,200
                  %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-10 Avg. MRR/Customer
                  %p.mg-b-0.tx-12.tx-color-03
                    The revenue generated per account on a monthly or yearly basis.
                    %a{:href => ""} Learn More
                / col
              / row
            .chart-one
              #flotChart.flot-chart
            / chart-one
          / card-body
        / card
      .col-lg-4.col-xl-5.mg-t-10
        .card
          .card-header.pd-t-20.pd-b-0.bd-b-0
            %h6.mg-b-5 Account Retention
            %p.tx-12.tx-color-03.mg-b-0 Number of customers who have active subscription with you.
          / card-header
          .card-body.pd-20
            .chart-two.mg-b-20
              #flotChart2.flot-chart
            / chart-two
            .row
              .col-sm
                %h4.tx-normal.tx-rubik.tx-spacing--1.mg-b-5
                  $1,680
                  %small .50
                %p.tx-11.tx-uppercase.tx-spacing-1.tx-semibold.mg-b-10.tx-primary Expansions
                .tx-12.tx-color-03 Customers who have upgraded the level of your products or service.
              / col
              .col-sm.mg-t-20.mg-sm-t-0
                %h4.tx-normal.tx-rubik.tx-spacing--1.mg-b-5
                  $1,520
                  %small .00
                %p.tx-11.tx-uppercase.tx-spacing-1.tx-semibold.mg-b-10.tx-pink Cancellations
                .tx-12.tx-color-03 Customers who have ended their subscription with you.
              / col
            / row
          / card-body
        / card
      .col-md-6.col-xl-4.mg-t-10.order-md-1.order-xl-0
        .card.ht-lg-100p
          .card-header.d-flex.align-items-center.justify-content-between
            %h6.mg-b-0 Sales Revenue
            .tx-13.d-flex.align-items-center
              %span.mg-r-5 Country:
              %a.d-flex.align-items-center.link-03.lh-0{:href => ""}
                USA
                %i.icon.ion-ios-arrow-down.mg-l-5
          / card-header
          .card-body.pd-0
            .pd-y-25.pd-x-20
              #vmap.ht-200
            .table-responsive
              %table.table.table-borderless.table-dashboard.table-dashboard-one
                %thead
                  %tr
                    %th.wd-40 States
                    %th.wd-25.text-right Orders
                    %th.wd-35.text-right Earnings
                %tbody
                  %tr
                    %td.tx-medium California
                    %td.text-right 12,201
                    %td.text-right $150,200.80
                  %tr
                    %td.tx-medium Texas
                    %td.text-right 11,950
                    %td.text-right $138,910.20
                  %tr
                    %td.tx-medium Wyoming
                    %td.text-right 11,198
                    %td.text-right $132,050.00
                  %tr
                    %td.tx-medium Florida
                    %td.text-right 9,885
                    %td.text-right $127,762.10
                  %tr
                    %td.tx-medium New York
                    %td.text-right 8,560
                    %td.text-right $117,087.50
            / table-responsive
          / card-body
        / card
      / col
      .col-lg-12.col-xl-8.mg-t-10
        .card.mg-b-10
          .card-header.pd-t-20.d-sm-flex.align-items-start.justify-content-between.bd-b-0.pd-b-0
            %div
              %h6.mg-b-5 Your Most Recent Earnings
              %p.tx-13.tx-color-03.mg-b-0 Your sales and referral earnings over the last 30 days
            .d-flex.mg-t-20.mg-sm-t-0
              .btn-group.flex-fill
                %button.btn.btn-white.btn-xs.active Range
                %button.btn.btn-white.btn-xs Period
          / card-header
          .card-body.pd-y-30
            .d-sm-flex
              .media
                .wd-40.wd-md-50.ht-40.ht-md-50.bg-teal.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-6
                  %i.fe.fe-bar-chart.fnt-md
                .media-body
                  %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.tx-nowrap.mg-b-5.mg-md-b-8 Gross Earnings
                  %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0 $1,958,104
              .media.mg-t-20.mg-sm-t-0.mg-sm-l-15.mg-md-l-40
                .wd-40.wd-md-50.ht-40.ht-md-50.bg-pink.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-5
                  %i.fe.fe-bar-chart.fnt-md
                .media-body
                  %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.mg-b-5.mg-md-b-8 Tax Withheld
                  %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0
                    $234,769
                    %small .50
              .media.mg-t-20.mg-sm-t-0.mg-sm-l-15.mg-md-l-40
                .wd-40.wd-md-50.ht-40.ht-md-50.bg-primary.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-4
                  %i.fe.fe-bar-chart.fnt-md
                .media-body
                  %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.mg-b-5.mg-md-b-8 Net Earnings
                  %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0
                    $1,608,469
                    %small .50
          / card-body
          .table-responsive
            %table.table.table-dashboard.mg-b-0
              %thead
                %tr
                  %th Date
                  %th.text-right Sales Count
                  %th.text-right Gross Earnings
                  %th.text-right Tax Withheld
                  %th.text-right Net Earnings
              %tbody
                %tr
                  %td.tx-color-03.tx-normal 03/05/2018
                  %td.tx-medium.text-right 1,050
                  %td.text-right.tx-teal + $32,580.00
                  %td.text-right.tx-pink - $3,023.10
                  %td.tx-medium.text-right
                    $28,670.90
                    %span.mg-l-5.tx-10.tx-normal.tx-success
                      %i.icon.ion-md-arrow-up
                      4.5%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
          / table-responsive
        / card
        .card.card-body.ht-lg-100
          .media
            %span.tx-color-04
              %i.wd-60.ht-60{"data-feather" => "download"}
            .media-body.mg-l-20
              %h6.mg-b-10 Download your earnings in CSV format.
              %p.tx-color-03.mg-b-0
                Open it in a spreadsheet and perform your own calculations, graphing etc. The CSV file contains additional details, such as the buyer location.
          / media
      / col
      .col-md-6.col-xl-4.mg-t-10
        .card.ht-100p
          .card-header.d-flex.align-items-center.justify-content-between
            %h6.mg-b-0 Transaction History
            .d-flex.tx-18
              %a.link-03.lh-0{:href => ""}
                %i.icon.ion-md-refresh
              %a.link-03.lh-0.mg-l-10{:href => ""}
                %i.icon.ion-md-more
          %ul.list-group.list-group-flush.tx-13
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-teal
                  %i.icon.ion-md-checkmark
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment from #10322
                %small.tx-12.tx-color-03.mg-b-0 Mar 21, 2019, 3:30pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 + $250.00
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-indigo.op-5
                  %i.icon.ion-md-return-left
              .pd-sm-l-10
                %p.tx-medium.mg-b-2 Process refund to #00910
                %small.tx-12.tx-color-03.mg-b-0 Mar 21, 2019, 1:00pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-2 -$16.50
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-orange.op-5
                  %i.icon.ion-md-bus
              .pd-sm-l-10
                %p.tx-medium.mg-b-2 Process delivery to #44333
                %small.tx-12.tx-color-03.mg-b-0 Mar 20, 2019, 11:40am
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-2 3 Items
                %small.tx-12.tx-info.mg-b-0 For pickup
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-teal
                  %i.icon.ion-md-checkmark
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment from #023328
                %small.tx-12.tx-color-03.mg-b-0 Mar 20, 2019, 10:30pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 + $129.50
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-gray-400
                  %i.icon.ion-md-close
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment failed from #087651
                %small.tx-12.tx-color-03.mg-b-0 Mar 19, 2019, 12:54pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 $150.00
                %small.tx-12.tx-danger.mg-b-0 Declined
          .card-footer.text-center.tx-13
            %a.link-03{:href => ""}
              View All Transactions
              %i.icon.ion-md-arrow-down.mg-l-5
          / card-footer
        / card
      .col-md-6.col-xl-4.mg-t-10
        .card.ht-100p
          .card-header.d-flex.align-items-center.justify-content-between
            %h6.mg-b-0 New Customers
            .d-flex.align-items-center.tx-18
              %a.link-03.lh-0{:href => ""}
                %i.icon.ion-md-refresh
              %a.link-03.lh-0.mg-l-10{:href => ""}
                %i.icon.ion-md-more
          %ul.list-group.list-group-flush.tx-13
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar
                %span.avatar-initial.rounded-circle.bg-gray-600 s
              .pd-l-10
                %p.tx-medium.mg-b-0 Socrates Itumay
                %small.tx-12.tx-color-03.mg-b-0 Customer ID#00222
              .mg-l-auto.d-flex.align-self-center
                %nav.nav.nav-icon-only
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "mail"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "slash"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "user"}
                  %a.nav-link.d-sm-none{:href => ""}
                    %i{"data-feather" => "more-vertical"}
            %li.list-group-item.d-flex.pd-x-20
              .avatar
                %img.rounded-circle{:alt => "", :src => "https://via.placeholder.com/500"}/
              .pd-l-10
                %p.tx-medium.mg-b-0 Reynante Labares
                %small.tx-12.tx-color-03.mg-b-0 Customer ID#00221
              .mg-l-auto.d-flex.align-self-center
                %nav.nav.nav-icon-only
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "mail"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "slash"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "user"}
                  %a.nav-link.d-sm-none{:href => ""}
                    %i{"data-feather" => "more-vertical"}
            %li.list-group-item.d-flex.pd-x-20
              .avatar
                %img.rounded-circle{:alt => "", :src => "https://via.placeholder.com/500"}/
              .pd-l-10
                %p.tx-medium.mg-b-0 Marianne Audrey
                %small.tx-12.tx-color-03.mg-b-0 Customer ID#00220
              .mg-l-auto.d-flex.align-self-center
                %nav.nav.nav-icon-only
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "mail"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "slash"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "user"}
                  %a.nav-link.d-sm-none{:href => ""}
                    %i{"data-feather" => "more-vertical"}
            %li.list-group-item.d-flex.pd-x-20
              .avatar
                %span.avatar-initial.rounded-circle.bg-indigo.op-5 o
              .pd-l-10
                %p.tx-medium.mg-b-0 Owen Bongcaras
                %small.tx-12.tx-color-03.mg-b-0 Customer ID#00219
              .mg-l-auto.d-flex.align-self-center
                %nav.nav.nav-icon-only
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "mail"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "slash"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "user"}
                  %a.nav-link.d-sm-none{:href => ""}
                    %i{"data-feather" => "more-vertical"}
            %li.list-group-item.d-flex.pd-x-20
              .avatar
                %span.avatar-initial.rounded-circle.bg-primary.op-5 k
              .pd-l-10
                %p.tx-medium.mg-b-0 Kirby Avendula
                %small.tx-12.tx-color-03.mg-b-0 Customer ID#00218
              .mg-l-auto.d-flex.align-self-center
                %nav.nav.nav-icon-only
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "mail"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "slash"}
                  %a.nav-link.d-none.d-sm-block{:href => ""}
                    %i{"data-feather" => "user"}
                  %a.nav-link.d-sm-none{:href => ""}
                    %i{"data-feather" => "more-vertical"}
          .card-footer.text-center.tx-13
            %a.link-03{:href => ""}
              View More Customers
              %i.icon.ion-md-arrow-down.mg-l-5
          / card-footer
        / card
      .col-md-6.col-xl-4.mg-t-10
        .card.ht-lg-100p
          .card-header.d-flex.align-items-center.justify-content-between
            %h6.mg-b-0 Real-Time Sales
            %ul.list-inline.d-flex.mg-b-0
              %li.list-inline-item.d-flex.align-items-center
                %span.d-block.wd-10.ht-10.bg-df-2.rounded.mg-r-5
                %span.tx-sans.tx-uppercase.tx-10.tx-medium.tx-color-03 Today
              %li.list-inline-item.d-flex.align-items-center.mg-l-10
                %span.d-block.wd-10.ht-10.bg-df-3.rounded.mg-r-5
                %span.tx-sans.tx-uppercase.tx-10.tx-medium.tx-color-03 Yesterday
          / card-header
          .card-body.pd-b-0
            .row.mg-b-20
              .col
                %h4.tx-normal.tx-rubik.tx-spacing--1.mg-b-10
                  $150,200
                  %small.tx-11.tx-success.letter-spacing--2
                    %i.icon.ion-md-arrow-up
                    0.20%
                %p.tx-11.tx-uppercase.tx-spacing-1.tx-medium.tx-color-03 Total Sales
              .col
                %h4.tx-normal.tx-rubik.tx-spacing--1.mg-b-10
                  $21,880
                  %small.tx-11.tx-danger.letter-spacing--2
                    %i.icon.ion-md-arrow-down
                    1.04%
                %p.tx-11.tx-uppercase.tx-spacing-1.tx-medium.tx-color-03 Avg. Sales Per Day
            / row
            .chart-five
              %div
                %canvas#chartBar1
          / card-body
      / row
      / container
      / content
