= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      .d-md-block
      %div
        %a{:href => edit_campaign_path(@campaign)}
        %button.btn.btn-primary.btn-icon{:type => "button"}
          %i.fe.fe-edit.arrow-left.pd-5
          = t("general_inputs.edit")
    .row.row-xs
      = render 'campaigns/user_charts/daily_impressions'
      = render 'campaigns/user_charts/daily_invested'
      = render 'campaigns/user_charts/peak_hours'
      .col-sm-2.col-lg-6
      .col-lg-12.col-xl-8.mg-t-10
        .card.mg-b-10
          .card-header.pd-t-20.d-sm-flex.align-items-start.justify-content-between.bd-b-0.pd-b-0
            %div
              %h6.mg-b-5 Your Most Recent Earnings
              %p.tx-13.tx-color-03.mg-b-0 Your sales and referral earnings over the last 30 days
            .d-flex.mg-t-20.mg-sm-t-0
              .btn-group.flex-fill
                %button.btn.btn-white.btn-xs.active Range
                %button.btn.btn-white.btn-xs Period
          / card-header
          .card-body.pd-y-30
            .d-sm-flex
              .media
                .wd-40.wd-md-50.ht-40.ht-md-50.bg-teal.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-6
                  %i.fe.fe-bar-chart.fnt-md
                .media-body
                  %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.tx-nowrap.mg-b-5.mg-md-b-8 Gross Earnings
                  %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0 $1,958,104
              .media.mg-t-20.mg-sm-t-0.mg-sm-l-15.mg-md-l-40
                .wd-40.wd-md-50.ht-40.ht-md-50.bg-pink.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-5
                  %i.fe.fe-bar-chart.fnt-md
                .media-body
                  %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.mg-b-5.mg-md-b-8 Tax Withheld
                  %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0
                    $234,769
                    %small .50
              .media.mg-t-20.mg-sm-t-0.mg-sm-l-15.mg-md-l-40
                .wd-40.wd-md-50.ht-40.ht-md-50.bg-primary.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-4
                  %i.fe.fe-bar-chart.fnt-md
                .media-body
                  %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.mg-b-5.mg-md-b-8 Net Earnings
                  %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0
                    $1,608,469
                    %small .50
          / card-body
          .table-responsive
            %table.table.table-dashboard.mg-b-0
              %thead
                %tr
                  %th Date
                  %th.text-right Sales Count
                  %th.text-right Gross Earnings
                  %th.text-right Tax Withheld
                  %th.text-right Net Earnings
              %tbody
                %tr
                  %td.tx-color-03.tx-normal 03/05/2018
                  %td.tx-medium.text-right 1,050
                  %td.text-right.tx-teal + $32,580.00
                  %td.text-right.tx-pink - $3,023.10
                  %td.tx-medium.text-right
                    $28,670.90
                    %span.mg-l-5.tx-10.tx-normal.tx-success
                      %i.icon.ion-md-arrow-up
                      4.5%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
                %tr
                  %td.tx-color-03.tx-normal 03/04/2018
                  %td.tx-medium.text-right 980
                  %td.text-right.tx-teal + $30,065.10
                  %td.text-right.tx-pink - $2,780.00
                  %td.tx-medium.text-right
                    $26,930.40
                    %span.mg-l-5.tx-10.tx-normal.tx-danger
                      %i.icon.ion-md-arrow-down
                      0.8%
          / table-responsive
        / card
        .card.card-body.ht-lg-100
          .media
            %span.tx-color-04
              %i.wd-60.ht-60{"data-feather" => "download"}
            .media-body.mg-l-20
              %h6.mg-b-10 Download your earnings in CSV format.
              %p.tx-color-03.mg-b-0
                Open it in a spreadsheet and perform your own calculations, graphing etc. The CSV file contains additional details, such as the buyer location.
          / media
      / col
      .col-md-6.col-xl-4.mg-t-10
        .card.ht-100p
          .card-header.d-flex.align-items-center.justify-content-between
            %h6.mg-b-0 Transaction History
            .d-flex.tx-18
              %a.link-03.lh-0{:href => ""}
                %i.icon.ion-md-refresh
              %a.link-03.lh-0.mg-l-10{:href => ""}
                %i.icon.ion-md-more
          %ul.list-group.list-group-flush.tx-13
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-teal
                  %i.icon.ion-md-checkmark
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment from #10322
                %small.tx-12.tx-color-03.mg-b-0 Mar 21, 2019, 3:30pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 + $250.00
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-indigo.op-5
                  %i.icon.ion-md-return-left
              .pd-sm-l-10
                %p.tx-medium.mg-b-2 Process refund to #00910
                %small.tx-12.tx-color-03.mg-b-0 Mar 21, 2019, 1:00pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-2 -$16.50
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-orange.op-5
                  %i.icon.ion-md-bus
              .pd-sm-l-10
                %p.tx-medium.mg-b-2 Process delivery to #44333
                %small.tx-12.tx-color-03.mg-b-0 Mar 20, 2019, 11:40am
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-2 3 Items
                %small.tx-12.tx-info.mg-b-0 For pickup
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-teal
                  %i.icon.ion-md-checkmark
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment from #023328
                %small.tx-12.tx-color-03.mg-b-0 Mar 20, 2019, 10:30pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 + $129.50
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-gray-400
                  %i.icon.ion-md-close
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment failed from #087651
                %small.tx-12.tx-color-03.mg-b-0 Mar 19, 2019, 12:54pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 $150.00
                %small.tx-12.tx-danger.mg-b-0 Declined
          .card-footer.text-center.tx-13
            %a.link-03{:href => ""}
              View All Transactions
              %i.icon.ion-md-arrow-down.mg-l-5
          / card-footer
        / card
