= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      .d-none.d-md-block
        %button{ 'class' => 'btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5', 'onclick' => 'window.print()' }
          %i.wd-10.mg-r-5.fe.fe-print
          = t('dashboards.print')
        = link_to root_path, class: 'btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5' do
          %i.wd-10.mg-r-5.fe.fe-export
          = t('dashboards.export_to_csv')

    .row.row-xs
      = render 'campaigns/user_charts/daily_impressions'
      = render 'campaigns/user_charts/daily_invested'
      = render 'campaigns/user_charts/peak_hours'
      = render 'campaigns/user_charts/total_impressions'
      / media
      / col
      .col-md-6.col-xl-4.mg-t-10
        .card.ht-100p
          .card-header.d-flex.align-items-center.justify-content-between
            %h6.mg-b-0 Transaction History
            .d-flex.tx-18
              %a.link-03.lh-0{:href => ""}
                %i.icon.ion-md-refresh
              %a.link-03.lh-0.mg-l-10{:href => ""}
                %i.icon.ion-md-more
          %ul.list-group.list-group-flush.tx-13
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-teal
                  %i.icon.ion-md-checkmark
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment from #10322
                %small.tx-12.tx-color-03.mg-b-0 Mar 21, 2019, 3:30pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 + $250.00
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-indigo.op-5
                  %i.icon.ion-md-return-left
              .pd-sm-l-10
                %p.tx-medium.mg-b-2 Process refund to #00910
                %small.tx-12.tx-color-03.mg-b-0 Mar 21, 2019, 1:00pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-2 -$16.50
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-orange.op-5
                  %i.icon.ion-md-bus
              .pd-sm-l-10
                %p.tx-medium.mg-b-2 Process delivery to #44333
                %small.tx-12.tx-color-03.mg-b-0 Mar 20, 2019, 11:40am
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-2 3 Items
                %small.tx-12.tx-info.mg-b-0 For pickup
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-teal
                  %i.icon.ion-md-checkmark
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment from #023328
                %small.tx-12.tx-color-03.mg-b-0 Mar 20, 2019, 10:30pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 + $129.50
                %small.tx-12.tx-success.mg-b-0 Completed
            %li.list-group-item.d-flex.pd-sm-x-20
              .avatar.d-none.d-sm-block
                %span.avatar-initial.rounded-circle.bg-gray-400
                  %i.icon.ion-md-close
              .pd-sm-l-10
                %p.tx-medium.mg-b-0 Payment failed from #087651
                %small.tx-12.tx-color-03.mg-b-0 Mar 19, 2019, 12:54pm
              .mg-l-auto.text-right
                %p.tx-medium.mg-b-0 $150.00
                %small.tx-12.tx-danger.mg-b-0 Declined
          .card-footer.text-center.tx-13
            %a.link-03{:href => ""}
              View All Transactions
              %i.icon.ion-md-arrow-down.mg-l-5
          / card-footer
        / card
    .card.card-body.ht-lg-100.mg-t-10
      .media
        %span.tx-color-04
          %i.wd-60.ht-60{"data-feather" => "download"}
        .media-body.mg-l-20
          %h6.mg-b-10 Download your earnings in CSV format.
          %p.tx-color-03.mg-b-0
            Open it in a spreadsheet and perform your own calculations, graphing etc. The CSV file contains additional details, such as the buyer location.
