= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      .d-none.d-md-block
        %button{ 'class' => 'btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5', 'onclick' => 'window.print()' }
          %i.wd-10.mg-r-5.fe.fe-print
          = t('dashboards.print')
        = link_to root_path, class: 'btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5' do
          %i.wd-10.mg-r-5.fe.fe-export
          = t('dashboards.export_to_csv')

    .row.row-xs
      = render 'campaigns/user_charts/daily_impressions'
      = render 'campaigns/user_charts/daily_invested'
      = render 'campaigns/user_charts/peak_hours'
      = render 'campaigns/user_charts/history_data'
      = render 'campaigns/user_charts/campaign_activity'
    .card.card-body.ht-lg-100.mg-t-10
      .media
        %span.tx-color-04
          %i.wd-60.ht-60{"data-feather" => "download"}
        .media-body.mg-l-20
          %h6.mg-b-10 Download your earnings in CSV format.
          %p.tx-color-03.mg-b-0
            Open it in a spreadsheet and perform your own calculations, graphing etc. The CSV file contains additional details, such as the buyer location.
