- if user_signed_in?
  - if current_user.is_admin?
    = render 'shared/header_admin', menu: "account"
  - else
    = render 'shared/header', menu: "dashboard"
- else
  = render 'devise/shared/header'
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      .d-none.d-md-block
        %button{ 'class' => 'btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5', 'onclick' => 'window.print()' }
          %i.wd-10.mg-r-5.fe.fe-print
          = t('dashboards.print')
        = link_to generate_campaign_report_csv_index_path(campaign: @campaign.id), class: 'btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5' do
          %i.wd-10.mg-r-5.fe.fe-download
          = t('dashboards.export_to_csv') 
      .dropdown.show
        %button.btn.btn-secondary{'class'=>'btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5', "aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          %svg.feather.feather-more-vertical{:fill => "none", :height => "24", :stroke => "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
            %circle{:cx => "12", :cy => "12", :r => "1"}
            %circle{:cx => "12", :cy => "5", :r => "1"}
            %circle{:cx => "12", :cy => "19", :r => "1"}   
        .dropdown-menu.tx-13
          = form_for(:campaign, url: analytics_campaign_path, method: :get, :html => { data: { parsley_validate: true } }, remote: false) do |f|
            %h5.tx-inverse.mg-b-20 Search
            .form-group
              %label{:for => "start_date"} Start date
              %input#campaign_starts_from{ :field_name => 'starts_at', :type => "date", required: true, value: @campaign.created_at.strftime("%Y-%m-%d"), class: 'form-control'}
            .form-group
              %label{:for => "end_date"} End date
              %input#campaign_ends_from{ :field_name => 'ends_at', :type => "date", required: true, value: @campaign.created_at.strftime("%Y-%m-%d"), class: 'form-control' }
            %button.btn.btn-primary.btn-block{:type => "submit"} Search
    .row.row-xs
      = render 'campaigns/user_charts/daily_impressions'
      = render 'campaigns/user_charts/daily_invested'
      = render 'campaigns/user_charts/peak_hours'
      = render 'campaigns/user_charts/history_data'
      = render 'campaigns/user_charts/campaign_activity'
    .card.card-body.ht-lg-100.mg-t-10
      .media
        %span.tx-color-04
          %a.tx-color-04{:href => "#{generate_campaign_report_csv_index_path(campaign: @campaign.id)}"}
            %i.ht-60.fe.fe-download.tx-50
        .media-body.mg-l-20
          %h6.mg-b-10= t('dashboards.download_report_in_csv')
          %p.tx-color-03.mg-b-0
            = t('dashboards.download_report_in_csv_description')
