= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      %a.btn.btn-outline-primary.off-canvas-menu{:href => "#campaignWizardOffCanvas"}= t("campaign.wizard.need_help")
      %span#steps_finish.d-none= t("campaign.wizard.finish")
      %span#steps_next.d-none= t("campaign.wizard.next")
      %span#steps_previous.d-none= t("campaign.wizard.previous")
    = form_for(@campaign, :html => { data: { parsley_validate: true, parsley_errors_messages_disabled: true } }, class: "edit_campaign", remote: true) do |f|
      #dashboardWizard.mg-b-10
        = f.submit("Enviar", class: "d-none")
        = render partial: "campaigns/wizard/pick_creative", locals: {f: f}
        = render partial: "campaigns/wizard/choose_bilbo", locals: {f: f}
        = render partial: "campaigns/wizard/#{@campaign.clasification}", locals: {f: f}
        = render partial: "campaigns/wizard/track", locals: {f: f}
        = render partial: "campaigns/wizard/summary", locals: {f: f}

    - if @campaign.interaction?
      .alert.alert-success.alert-dismissible.fade.show{:role => "alert"}
        %h4.alert-heading Descarga tu código QR
        %p= t('campaign.wizard.analize_description')
        %hr/
        %p.mb-0.justify-content-between.d-flex.align-items-center
          = link_to download_qr_instructions_campaign_path(@campaign), method: :get, class: "" do
            %i.fe.fe-download
            = t("campaign.download_qr")
          = link_to "google.com", method: :get, class: "" do
            %i.fe.fe-book
            = t("general_inputs.read_more")
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} ×
= render partial: "ads/new"
= render 'campaign_offcanvas_wizard'
= render partial: 'edit_map_filter'
