= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
    %div
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb.breadcrumb-style1.mg-b-10
          %li.breadcrumb-item
            %a{:href => "/"}= t("campaign.home")
          %li.breadcrumb-item
            %a{:href => "/"}= t("campaign.campaign")
          %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
      %h4.mg-b-0.tx-spacing--1= @campaign.name
    %a.btn.btn-outline-primary.off-canvas-menu{:href => "#campaignWizardOffCanvas"}= t("campaign.wizard.need_help")
    %span#steps_finish.d-none= t("campaign.wizard.finish")
    %span#steps_next.d-none= t("campaign.wizard.next")
    %span#steps_previous.d-none= t("campaign.wizard.previous")
  = form_for(@campaign, :html => { data: { parsley_validate: true, parsley_errors_messages_disabled: true } }, class: "edit_campaign", remote: true) do |f|
    #dashboardWizard.mg-b-10
      %input.d-none{id: "campaign_starts_at", value: "#{@campaign.starts_at.present?? @campaign.starts_at.strftime("%Y/%m/%d") : ''}"}
      %input.d-none{id: "campaign_ends_at", value: "#{@campaign.ends_at.present?? @campaign.ends_at.strftime("%Y/%m/%d") : ''}"}
      = f.submit("Enviar", class: "d-none")
      = render partial: "campaigns/wizard/choose_bilbo", locals: {f: f}
      = render partial: "campaigns/wizard/pick_content", locals: {f: f}
      = render partial: "campaigns/wizard/#{@campaign.classification}", locals: {f: f}
      - if @campaign.interaction?
        = render partial: "campaigns/wizard/track", locals: {f: f}
      = render partial: "campaigns/wizard/summary", locals: {f: f}
      = f.hidden_field :content_ids, value: "", id: "content_ids"

= render partial: "ads/new"
= render 'campaign_offcanvas_wizard'
= render partial: 'edit_map_filter'
