= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .container.pd-x-0.pd-lg-x-10.pd-xl-x-0
    .d-sm-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
      %div
        %nav{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.breadcrumb-style1.mg-b-10
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.home")
            %li.breadcrumb-item
              %a{:href => "/"}= t("campaign.campaign")
            %li.breadcrumb-item.active{"aria-current" => "page"}= @campaign.name
        %h4.mg-b-0.tx-spacing--1= @campaign.name
      %a.btn.btn-outline-primary.off-canvas-menu{:href => "#campaignWizardOffCanvas"}= t("campaign.wizard.need_help")
    = form_for(@campaign, :html => { data: { parsley_validate: true, parsley_errors_messages_disabled: true } }, class: "edit_campaign") do |f|
      = render partial: "campaigns/wizard/pick_creative", locals: {f: f}
      = render partial: "campaigns/wizard/choose_bilbo", locals: {f: f}
      = render partial: "campaigns/wizard/date_and_budget_provider", locals: {f: f}
      = render partial: "campaigns/wizard/summary", locals: {f: f}