<%= render 'shared/header', menu: "dashboard" %>

<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="/"><%= t("campaign.home") %></a>
            </li>
            <li class="breadcrumb-item">
              <a href="/"><%= t("campaign.campaign") %></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= @campaign.name %></li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1"><%= @campaign.name %></h4>
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <%= form_with url: boards_path, method: :get, id: "filter-bilbos",class: "row", remote: true do |f|%>
      <div class="form-group col-6 col-lg-2 ">
        <%= f.text_field :location, class: 'form-control rounded', id: "search_autocomplete", placeholder: t('bilbos.search.location'),
          value: (params[:location].present?)? params[:location] : "" ,
          lat: (params[:location].present?)? params[:lat] : "",
          lng: (params[:location].present?)? params[:lng] : "" %>
      </div>
      <div class="form-group col-6 col-lg-2 ">
        <%= f.select(:social_class, options_for_select([["A", "A"], ["AA", "AA"], ["AAA", "AAA"], ["AAA+", "AAA+"]], selected: params[:social_class]),{include_blank: t('bilbos.search.classification')}, {class: 'custom-select'}) %>
      </div>
      <div class="form-group col-6 col-lg-2 ">
        <%= f.select(:category, options_for_select([["Espectacular", "billboard"], ["Televisión", "television"], ["Cartelón", "wallboard"]], selected: params[:category]),{include_blank: t('bilbos.search.media_type')}, {class: 'custom-select'}) %>
      </div>
      <div class="form-group col-6 col-lg-2 ">
        <%= f.number_field :cycle_price, class: "form-control", placeholder: t('bilbos.search.max_per_impression'), value: params[:cycle_price], step: "0.001", autocomplete: "off" %>
      </div>
      <div class="form-group col-6 col-lg-2 ">
        <%= f.number_field :min_width, class: "form-control", placeholder: t('bilbos.search.min_width'), value: params[:min_width], autocomplete: "off" %>
      </div>
      <div class="form-group col-6 col-lg-2 ">
        <%= f.number_field :min_height, class: "form-control", placeholder: t('bilbos.search.min_height'), value: params[:min_height], autocomplete: "off" %>
      </div>
      <%= f.submit "Enviar", class: "d-none" %>
      <% end %>
    </div>

    <%= form_for(@campaign, :html => { data: { parsley_validate: true, parsley_errors_messages_disabled: true } }, class: "edit_campaign") do |f| %>
    <div id="dashboardWizard">
      <h3><%= t("campaign.wizard.pick_ad") %></h3>
      <section>
        <%= f.text_field :ad_id, :class => "d-none", readonly: true, required: true %>
        <hr>
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
          <div class="row wizard-height">
            <%= render partial: "ads/new_ad_card" %>
            <%= render partial: 'ads/overview_card', collection: @ads, as: :ad %>
          </div>
        </div>
      </section>
      <h3><%= t("campaign.wizard.choose_bilbos") %></h3>
      <section>
        <hr>
        <div class="row row-xs">
          <div class="input-group mg-b-10 col-sm-12 col-md-6 ml-auto">
            <div class="input-group-prepend">
              <span class="input-group-text pd-x-15" id="boards_counter"><%= @campaign_boards.size %></span>
            </div>
            <%= f.select(:boards, options_for_select(@campaign_boards), {:include_blank => 'Bilbos seleccionados'}, {:class => "custom-select", id: "selected_boards"}) %>
          </div>
          <%= f.text_field :boards, :class => "d-none", value: @campaign.boards.pluck(:id).join(","), required: true %>
          <!-- AQUI IBAN LOS FILTROS -->
          <div id="boardInfo" class="col-md-12 col-xl-3 mg-t-10 order-1 d-none">
            <!-- card -->
            <ul class="nav nav-tabs nav-justified d-none" id="boardTab" role="tablist">
              <!-- content filled with js -->
            </ul>
            <ul class="nav nav-tabs nav-justified pd-b-5" role="tablist">
              <li class="nav-item">
                <select class="custom-select custom-select-blue" id="boardSelect">
                  <!-- content filled with js -->
                </select>
              </li>
            </ul>
            <div id="boardTabContent" class="tab-content bd bd-gray-300 bd-t-0 pd-5 rounded">
              <!-- content filled with js -->
            </div>
          </div>

          <!-- end card -->

          <!-- loading effect -->
          <%= render partial: 'boards/map/loading_effect' %>
          <!-- loading effect end -->

          <!-- map start -->
          <%= render partial: 'boards/board_map' %>
          <!-- map end -->
        </div>
      </section>
      <h3><%= t("campaign.wizard.date_and_budget") %></h3>
      <section>
        <form>
          <div class="divider-text"><%= t("campaign.wizard.budget") %></div>

          <label for="formGroupExampleInput" class="d-block"><%= t("campaign.wizard.daily_budget_description") %></label>
          <div class="input-group col-sm-12 col-md-6 col-xl-4 pd-x-0">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fe fe-wallet"></i>
              </span>
            </div>
            <%= f.text_field :budget, :class => "form-control input-number", required: true %>
            <span id="budget_error_message" class="d-none"><%= t("campaign.minimum_budget_per_bilbo") %></span>
            <div class="input-group-append">
              <span class="input-group-text" data-toggle="tooltip" data-placement="top" title="<%= t("campaign.wizard.impressions_forecast") %>"><strong id="impressions">0</strong><i class=" pd-l-5 fe fe-desktop"></i></span>
            </div>
          </div>
          <div class="col-4"></div>
          <div class="divider-text"><%= t("campaign.wizard.campaign_duration") %></div>
          <div class="form-row">
            <div class="col-12">
              <div class="custom-control custom-radio">
                <input type="radio" id="ongoing_campaign" name="customRadio" class="custom-control-input" <%= "checked" if @campaign.ongoing? %>>
                <label class="custom-control-label" for="ongoing_campaign"><%= t("campaign.wizard.ongoing_campaign") %></label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="date_campaign" name="customRadio" class="custom-control-input" <%= "checked" if !@campaign.ongoing? %>>
                <label class="custom-control-label" for="date_campaign"><%= t("campaign.wizard.pick_date") %></label>
              </div>
            </div>
            <div class="col-12 form-row">
              <div class="col-6"><%= f.text_field :starts_at, :class => "form-control", placeholder: t("campaign.wizard.start_date") %></div>
              <div class="col-6"><%= f.text_field :ends_at, :class => "form-control", placeholder: t("campaign.wizard.end_date") %></div>
            </div>
          </div>
        </form>
      </section>
      <h3><%= t("campaign.wizard.summary") %></h3>
      <section>
        <hr>
        <div class="row">
          <div class="col-xl-6">
          <details open="open">
            <summary>
              <strong>Bilbos (<span id="bilbosNum"></span>)</strong>
            </summary>
            <ul style="list-style: none;" id="bilbosAddress"></ul>
          </details>
          <hr>
          <p>
            <strong>Anuncio:</strong>
            <br><span id="adName">Ad Name</span>
            <!-- <a href="/" target="_blank" id=""> <i class="fe fe-link-external tx-20"></i> </a> -->
          </p>
          <hr>
          <p>
            <strong>Presupuesto Diario:</strong>
            <br><span id="dailyBudget">Budget</span>
            <i class="fe fe-wallet"></i>
          </p>
          <hr>
          <p>
            <strong>Duracion de la campaña:</strong>
            <br><span id="campaignStarts"></span>
            -
            <span id="campaignEnds"></span></p>
            </div>
            <div class="divider-text divider-vertical" data-text="and">Preview</div>
            <div class="col-xl-5">
              <div class="modal-body pd-x-25 pd-sm-x-30 pd-t-40 pd-sm-t-20 pd-b-15 pd-sm-b-20">
                  <div class="nav-wrapper mg-b-20 tx-13">
                      <div>
                        <nav class="nav tx-medium d-flex justify-content-center" style="overflow-x: auto;">
                          <a href="#c1" class="nav-link active" data-toggle="tab">350 X 150</a>
                          <a href="#c2" class="nav-link" data-toggle="tab">200 X 150</a>
                          <a href="#c3" class="nav-link" data-toggle="tab">150 X 150</a>
                        </nav>
                      </div>
                    </div><!-- nav-wrapper -->

                    <div class="tab-content bg-dark h-300 w-200">
                      <div id="c1" class="tab-pane fade active show">

                        <div data-label="Example" class="df-example">
                          <div id="carouselExample5" class="carousel slide carousel-fade" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExample5" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExample5" data-slide-to="1"></li>
                              <li data-target="#carouselExample5" data-slide-to="2"></li>
                            </ol>
                            <style media="screen">

                            </style>
                            <div class="carousel-inner bg-dark">
                              <div class="carousel-item active d-flex justify-content-center">
                                  <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" style="width:300px; height:150px;" class="d-block" alt="...">
                              </div>
                              <div class="carousel-item d-flex justify-content-center"">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" style="width:300px; height:150px;" class="d-block" alt="...">
                              </div>
                              <div class="carousel-item d-flex justify-content-center">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" style="width:300px; height:150px;" class="d-block" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExample5" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"><i data-feather="chevron-left"></i></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExample5" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"><i data-feather="chevron-right"></i></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div><!-- df-example -->

                      </div><!-- tab-pane -->

                      <div id="c2" class="tab-pane fade">

                        <div data-label="Examplea" class="df-exampleaq">
                          <div id="carouselExample6" class="carousel slide carousel-fade" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExample6" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExample6" data-slide-to="1"></li>
                              <li data-target="#carouselExample6" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner bg-dark">
                              <div class="carousel-item active d-flex justify-content-center">
                                  <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" style="width:200px; height:150px;" class="d-block" alt="...">
                              </div>
                              <div class="carousel-item d-flex justify-content-center">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" style="width:200px; height:150px;" class="d-block" alt="...">
                              </div>
                              <div class="carousel-item d-flex justify-content-center">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" style="width:200px; height:150px;" class="d-block" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExample6" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"><i data-feather="chevron-left"></i></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExample6" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"><i data-feather="chevron-right"></i></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div><!-- df-example -->


                      </div>


                      <div id="c3" class="tab-pane fade">
                        <div data-label="Example" class="df-examplea">
                          <div id="carouselExample7" class="carousel slide carousel-fade" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExample7" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExample7" data-slide-to="1"></li>
                              <li data-target="#carouselExample7" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner bg-dark">
                              <div class="carousel-item active d-flex justify-content-center">
                                  <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg" style="width:150px; height:150px;" class="d-block" alt="...">
                              </div>
                              <div class="carousel-item d-flex justify-content-center">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg" style="width:150px; height:150px;" class="d-block" alt="...">
                              </div>
                              <div class="carousel-item d-flex justify-content-center">
                                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg" style="width:150px; height:150px;" class="d-block" alt="...">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExample7" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"><i data-feather="chevron-left"></i></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExample7" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"><i data-feather="chevron-right"></i></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                        </div><!-- df-example -->
                      </div>


                    </div><!-- tab-content -->
                  </div><!-- modal-body -->
                </div>
              </div>
            </section>
          </div>
          <% end %>
        </div>

<%= render partial: "ads/new" %>
