<%= render 'shared_user/header', menu: "dashboard" %>
<div class="content content-fixed">
  <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-30">
      <div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">
              <a href="/"><%= t("campaign.home") %></a>
            </li>
            <li class="breadcrumb-item">
              <a href="/"><%= t("campaign.campaign") %></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><%= @campaign.name %></li>
          </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1"><%= @campaign.name %></h4>
      </div>
    </div>

    <%= form_for(@campaign, :html => { data: { parsley_validate: true } }) do |f| %>
    <div id="dashboardWizard">
      <h3><%= t("campaign.wizard.choose_bilbos") %></h3>
      <section>
        <hr>
        <div class="row row-xs">
          <%= f.select(:boards, @campaign_boards, {:include_blank => 'Bilbos seleccionados'}, {:class => "custom-select col-sm-12 col-md-6 ml-auto", id: "selected_boards"})  %>
          <%= f.text_field :boards, :class => "d-none", value: @campaign.boards.pluck(:id).join(",") %>
          <div id="boardInfo" class="col-md-12 col-xl-3 mg-t-10 order-1 d-none">
            <!-- card -->
            <ul class="nav nav-tabs nav-justified" id="boardTab" role="tablist">
              <!-- content filled with js -->
            </ul>
            <div id="boardTabContent" class="tab-content bd bd-gray-300 bd-t-0 pd-5 rounded-bottom">
              <!-- content filled with js -->
            </div>
          </div>

          <!-- end card -->

          <!-- map start -->
          <%= render partial: 'boards/board_map' %>
          <!-- map end -->
        </div>
      </section>
      <h3><%= t("campaign.wizard.pick_ad") %></h3>
      <section>
        <%= f.text_field :ad_id, :class => "d-none", readonly: true  %>
        <hr>
        <div class="card-columns">
          <%= render partial: "ads/new_ad_card" %>
          <%= render partial: 'ads/overview_card', collection: @ads, as: :ad %>
        </div>
      </section>
      <h3><%= t("campaign.wizard.date_and_budget") %></h3>
      <section>
        <form>
          <div class="divider-text"><%= t("campaign.wizard.budget") %></div>

          <label for="formGroupExampleInput" class="d-block"><%= t("campaign.wizard.daily_budget_description") %></label>
          <div class="input-group col-sm-12 col-md-6 col-xl-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fe fe-wallet"></i></span>
            </div>
            <%= f.text_field :budget, :class => "form-control input-number" %>
          </div>
          <div class="divider-text"><%= t("campaign.wizard.campaign_duration") %></div>
          <div class="form-row">
            <div class="col-12">
              <div class="custom-control custom-radio">
                <input type="radio" id="ongoing_campaign" name="customRadio" class="custom-control-input" <%= "checked" if @campaign.ongoing? %>>
                <label class="custom-control-label" for="ongoing_campaign"><%= t("campaign.wizard.ongoing_campaign") %></label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" id="date_campaign" name="customRadio" class="custom-control-input" <%= "checked" if !@campaign.ongoing? %>>
                <label class="custom-control-label" for="date_campaign"><%= t("campaign.wizard.pick_date") %></label>
              </div>
            </div>
            <div class="col-12 form-row">
              <div class="col-6"><%= f.text_field :starts_at, :class => "form-control", placeholder: t("campaign.wizard.start_date") %></div>
              <div class="col-6"><%= f.text_field :ends_at, :class => "form-control", placeholder: t("campaign.wizard.end_date") %></div>
            </div>
          </div>
        </form>
      </section>
      <h3><%= t("campaign.wizard.summary") %></h3>
      <section>
        <hr>
        <div>
          <details open="open">
            <summary>
              <strong>Bilbos (4)</strong>
            </summary>
            <ul style="list-style: none;">
              <li>Apt. 189 5460 Harris Plaza, North Doris, VT 49761</li>
              <li>Apt. 189 5460 Harris Plaza, North Doris, VT 49761</li>
              <li>Apt. 189 5460 Harris Plaza, North Doris, VT 49761</li>
              <li>Apt. 189 5460 Harris Plaza, North Doris, VT 49761</li>
            </ul>
          </details>
          <p>
            <strong>Anuncio:
            </strong>
            Anuncio Doritos
            <a href="/" target="_blank">
              <i class="fe fe-link-external tx-20"></i>
            </a>
          </p>
          <p>
            <strong>Presupuesto Diario:</strong>
            $100.00 <i class="fe fe-wallet"></i></p>
          <p>
            <strong>Duracion de la campaña:</strong>
            01/02/1999 - 04/05/2019</p>
        </div>
      </section>
    </div>
    <% end %>
  </div>
</div>
<%= render partial: "ads/new" %>
