= render 'shared/header', menu: "dashboard"
.content.content-fixed
  .d-flex.align-items-center.justify-content-between.mg-b-20.mg-lg-b-30
    %div
      %nav{"aria-label" => "breadcrumb"}
        %ol.breadcrumb.breadcrumb-style1.mg-b-10
          %li.breadcrumb-item
            %a{:href => "/"}= t("campaign.home")
          %li.breadcrumb-item.active{"aria-current" => "page"}= t("campaign.campaign")
      %h4.mg-b-0.tx-spacing--1= t("campaign.campaign")
    .d-block
      = link_to new_campaign_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modalNewCampaign', class: "btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"} do
        %i.wd-10.mg-r-5.fe.fe-plus
        = t("campaign.new_campaign")
  - if @project.user? # check if this is a normal user project
    - if current_user.is_user?
      - if !@project.owner.verified
        .alert.alert-solid.alert-danger.d-flex.align-items-center.alert-dismissible.fade.show{:role => "alert"}
          %i.mg-r-10{class: "fe fe-warning"}
          = t('alert.verify_profile')
          %a{class: "pd-l-5", "data-toggle" => "modal", :href => "#modalVerify", :style => "color:white; font-weight: bold;"}= t('campaign.enable_campaigns').downcase
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      - elsif current_user == @project.owner && current_user.balance < 20 && @project.campaigns.any?
        .alert.alert-warning.d-flex.align-items-center.alert-dismissible.fade.show{:role => "alert"}
          %i.mg-r-10{class: "fe fe-warning"}
          %a{class: "pd-l-5", "data-toggle" => "modal", :href => "#modalNewPayment", :style => "color: #856404;font-weight: bold; text-decoration:underline"}= " #{t('alert.purchase_credits')}."
          %span.mg-l-5= "#{t('alert.project_out_of_credits')}"
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      - elsif @project.owner.balance < 20 && @project.campaigns.any?
        .alert.alert-solid.alert-danger.d-flex.align-items-center.alert-dismissible.fade.show{:role => "alert"}
          %i.mg-r-10{class: "fe fe-warning"}
          = t('alert.more_credits')
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
  - if @project.campaigns.active.size > 0
    .table-responsive
      .custom-control.custom-switch.pos-xs-relative.pos-xl-absolute.pos-lg-absolute.pos-md-absolute.pos-sm-absolute.pd-xl-t-5.pd-lg-t-5.pd-md-t-5.pd-sm-t-5
        = check_box_tag "campaignsSwitch", nil, current_user.show_recent_campaigns, class: "custom-control-input", data: {url: toggle_show_recent_campaigns_admin_user_path(current_user.id), :remote => :true, :method => :post}
        %label.custom-control-label{:for => "campaignsSwitch"}=t('account_settings.show_recent_campaigns')
      %table#userCampaignTable.table
        %thead
          %tr
            %th
            %th= t("campaign.campaign_name")
            %th= t("campaign.objective")
            %th= t("campaign.type")
            %th= t("campaign.bilbos_in_use")
            %th= t("campaign.start_date")
            %th= t("campaign.end_date")
            %th= t("campaign.impressions")
            %th= t("campaign.daily_budget")
            %th= t("campaign.total_invested")
            %th.no-sort
              %span
                = t("campaign.qr_code")
                %i.fe.fe-question.tx-primary{"data-toggle" => "tooltip", :title => t("campaign.qr_code_tooltip")}
            %th.no-sort
        %tbody= render partial: "campaigns/campaign_row", collection: @campaigns, as: :campaign
  - else
    .ht-100p.d-flex.flex-column.align-items-center.justify-content-center
      .wd-150.wd-sm-250.mg-b-30
        = image_tag image_path("humaaans/illustration_nothinghere"), class: "img-fluid"
      = link_to new_campaign_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modalNewCampaign', class: "btn btn-sm pd-x-15 btn-primary btn-uppercase mg-l-5"} do
        %i.wd-10.mg-r-5.fe.fe-plus
        = t("campaign.new_campaign")
  / container
/ content
- if @project.owned?(current_user.id) && current_user.is_user? && @show_hint
  = render partial: "notifications/missing_steps"
  = render partial: "ads/new"
-if current_user.is_user? && current_user.sign_in_count == 0
  = render partial: "campaigns/business_type"
-if current_user.is_provider? && @witness.present?
  = render "witnesses/upload_evidences"
