- project.boards.each do |board|
  .col-sm-12.col-md-6.col-lg-4.mg-b-10
    .card
      .card-header.pd-t-20.d-sm-flex.align-items-start.justify-content-between.bd-b-0.pd-b-0
        %div
          %h6.mg-b-5= link_to board.name, statistics_board_path(board)
        .d-flex.mg-t-20.mg-sm-t-0
          %p.flex-fill.tx-13.tx-color-03.mg-b-0= board.face
      / card-header
      .card-body.tx-center
        %h4.tx-normal.tx-rubik.tx-40.tx-spacing--1.mg-b-0= number_to_currency_usd(board.monthly_earnings)
        %p.tx-12.tx-uppercase.tx-semibold.tx-spacing-1.tx-color-02 Earnings this month
        %p.tx-30.mg-b-0
          %a.clipboard-btn{"data-clipboard-text" => board_url(board, access_token: board.access_token), :href => ""}
            %i.mg-r-5.material-icons &#57677;
          = link_to board_path(board, access_token: board.access_token), target: "blank" do
            %i.mg-r-5.fe.fe-play
      .card-footer.pd-20
        .row
          .col-6
            %p.tx-10.tx-uppercase.tx-medium.tx-color-03.tx-spacing-1.tx-nowrap.mg-b-5 Active Campaigns
            .d-flex.align-items-center
              .wd-10.ht-10.rounded-circle.bg-pink.mg-r-5
              %h5.tx-normal.tx-rubik.mg-b-0
                = board.active_campaigns.size
                %small.tx-color-04 25%
          / col
          .col-6
            %p.tx-10.tx-uppercase.tx-medium.tx-color-03.tx-spacing-1.mg-b-5 Monthly Impressions
            .d-flex.align-items-center
              .wd-10.ht-10.rounded-circle.bg-primary.mg-r-5
              %h5.tx-normal.tx-rubik.mg-b-0
                = board.monthly_impressions_count
                %small.tx-color-04 20%
          / col
          .col-6.mg-t-20
            %p.tx-10.tx-uppercase.tx-medium.tx-color-03.tx-spacing-1.mg-b-5 Status
            .d-flex.align-items-center
              .wd-10.ht-10.rounded-circle.bg-teal.mg-r-5
              %h5.tx-normal.tx-rubik.mg-b-0= board.connected? ? t("bilbos.streaming") : t("bilbos.not_streaming")
          / col
          .col-6.mg-t-20
            %p.tx-10.tx-uppercase.tx-medium.tx-color-03.tx-spacing-1.mg-b-5 Max profit per month
            .d-flex.align-items-center
              .wd-10.ht-10.rounded-circle.bg-orange.mg-r-5
              %h5.tx-normal.tx-rubik.mg-b-0= number_to_currency_usd(board.calculate_max_earnings)
          / col
          .col-12.mg-t-20
            .row
              .col-4.pd-x-5
                = link_to("Edit", edit_board_path(board.slug), class: "btn btn-sm btn-block btn-outline-primary btn-uppercase tx-spacing-1")
              -# .col-4.pd-x-5
              -#   = button_to("Stats", statistics_admin_board_path(board), method: :get, :class => "btn btn-sm btn-block btn-outline-primary btn-uppercase tx-spacing-1")
              .col-4.pd-x-5
                - if board.enabled?
                  = link_to("Disable bilbo", toggle_status_board_path(board.slug, status: "disabled"), class: "btn btn-sm btn-block btn-warning", :data => {:confirm => 'Are you sure you want to DISABLE this bilbo?'})
                - else
                  = link_to("Enable bilbo", toggle_status_board_path(board.slug, status: "enabled"), class: "btn btn-sm btn-block btn-info", :data => {:confirm => 'Are you sure you want to ENABLE this bilbo?'})
          / row
        / card-footer
  %end
