#modalNewContact.modal.fade.effect-scale{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered{:role => "document"}
    .modal-content
      .modal-body.pd-20.pd-sm-30
        %button.close.pos-absolute.t-15.r-20{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &#215;
        %h5.tx-18.tx-sm-20.mg-b-20= t("projects.invite")
        .flex-fill
          = form_with(model: User, url: user_invitation_path, method: :post) do |f|
            %h6.mg-b-10= t("account_settings.company_name")
            .form-group.mg-b-10
            = f.text_field :project_name, class: "form-control", value: "", autocomplete: "off", required: true, placeholder: "Nombre de la empresa"
            / form-group
            %h6.mg-t-20.mg-b-10
            .form-group.mg-b-10= t("bilbos.provider")
            = f.text_field :email, class: "form-control", value: "", autocomplete: "off", required: true, placeholder: t("bilbos.provider")
            / form-group
            %h6.mg-t-20.mg-b-10
            .form-group.mg-b-10
            = f.hidden_field :role, class: "form-control", value: "provider", autocomplete: "off"
            / form-group
            %h6.mg-t-20.mg-b-10= t("general_inputs.name")
            = f.text_field :name, class: "form-control", value: "", autocomplete: "off", required: true, placeholder: t("general_inputs.name")
            %h6.mg-t-20.mg-b-10
            %div.actions.col-sm-12.col-md-8.m-auto
              = f.submit t("projects.send_invite"), class: "btn btn-primary btn-block"
