.tab-content
  #userInformation.tab-pane.show.active.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-25
      %h6.mg-b-0 Personal Details
      .d-flex
        - if verification.present?
          = image_tag verification.official_id, class: "d-none", id: "id_picture", :data => {lity: true}, alt: "No Image"
          .btn.btn-sm.d-flex.align-items-center.mg-r-5.btn-outline-primary{ onclick: '$("#id_picture").click()' }
            %i.fe.fe-picture-square
            %span.d-none.d-sm-inline.mg-l-5 View ID Picture
        - if not user.verified?
          = link_to verify_admin_user_path(user.id), method: :patch, data: { confirm: "You sure you want to verify?" } do
            .btn.btn-sm.btn-outline-primary.d-flex.align-items-center.mg-r-5
              %i.fe.fe-check-circle
              %span.d-none.d-sm-inline.mg-l-5 Verify Profile
        - else
          %a
            .btn.btn-sm.d-flex.align-items-center.mg-r-5.btn-outline-success
              %i.fe.fe-check-verified
              %span.d-none.d-sm-inline.mg-l-5 Verified
        %a{"data-toggle" => "modal", :href => "#modalEditContact"}
          .btn.btn-sm.btn-white.d-flex.align-items-center.mg-r-5
            %i.fe.fe-edit
            %span.d-none.d-sm-inline.mg-l-5 Edit
        = link_to verify_admin_user_path(user.id), method: :patch,class: "btn btn-sm btn-white d-flex align-items-center mg-r-5", data: { confirm: "You sure you want to ban?" } do
          %i.fe.fe-disabled
          %span.d-none.d-sm-inline.mg-l-5 Ban
    .row
      .col-4.col-sm
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Name
        %p.mg-b-0= user.name
      / col
      .col-4.col-sm
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Balance
        %p.mg-b-0= user.balance.round(2)
      / col
      .col-4.mg-t-20.mg-sm-t-0
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Member Since
        %p.mg-b-0= user.created_at.strftime("%A %b %d %Y")
      / col
    / row
    .divider-text Verification Details
    - if verification.present?
      .row.row-sm
        .col-6.col-sm-4
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Full Name
          %p.tx-rubik.mg-b-0= verification.name
        .col-6.col-sm-4
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Phone
          %p.tx-rubik.mg-b-0= verification.phone
        .col-6.col-sm-4.mg-t-20.mg-sm-t-0
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Country
          %p.tx-rubik.mg-b-0= verification.country
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Email Address
          %p.tx-primary.mg-b-0= user.email
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Company (Unofficial)
          %p.mg-b-0= verification.business_name
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Verification Status
          - if verification.pending?
            %p.mg-b-0.tx-warning= verification.status
          - else
            %p.mg-b-0.tx-success= verification.status
        .col-sm-12.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Business Address
          %p.mg-b-0
            = verification.full_address
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Business Website
          %p.tx-primary.mg-b-0
            %a{ href: verification.website, target: "_blank" }= verification.website
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Business Code (RFC)
          %p.mg-b-0= verification.business_code
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Official Business Name (Razon Social)
          %p.mg-b-0= verification.official_business_name
        / col
        .col-sm.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Notes
          %p.tx-13.mg-b-0 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    / row
  #userInvoices.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Invoices
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
  / tab-pane
  #userCampaigns.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Campaigns
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
  #userAds.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Ads
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
/ tab-content
