.tab-content
  #userInformation.tab-pane.show.active.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-25
      %h6.mg-b-0 Personal Details
      .d-flex
        - if verification.present?
          = link_to url_from_media(verification.official_id), id: "id_picture", class: "glightbox d-none", type: "image" do
            = image_tag url_from_media(verification.official_id)
          .btn.btn-sm.d-flex.align-items-center.mg-r-5.btn-outline-primary{ onclick: '$("#id_picture").click()' }
            %i.fe.fe-picture-square
            %span.d-none.d-sm-inline.mg-l-5 View ID Picture
        - if !user.verified? && !user.is_provider?
          - if user.verifications.present?
            -if user.verifications.first.pending?
              = link_to verify_admin_user_path(user.id), method: :patch, data: { confirm: "You sure you want to verify?" } do
                .btn.btn-sm.btn-outline-primary.d-flex.align-items-center.mg-r-5
                  %i.fe.fe-check-circle
                  %span.d-none.d-sm-inline.mg-l-5 Verify Profile
              %button.btn.btn-sm.btn-outline-danger.d-flex.align-items-center.mg-r-5{"data-target" => "#modalDeny", "data-toggle" => "modal", :type => "button" , id:'deny_id' , data: {user_id: user.id}}
                %i.fe.fe-close
                %span.d-none.d-sm-inline.mg-l-5= t('verification.profile')
          - else
            %button.btn.btn-sm.btn-outline-primary.d-flex.align-items-center.mg-r-5{"data-target" => "#modalVerify", "data-toggle" => "modal", :type => "button" , id:'verify_id' , data: {user_id: user.id}}
              %i.fe.fe-check-circle
              %span.d-none.d-sm-inline.mg-l-5 Verify Profile
        - elsif user.is_provider?
          %a{href: provider_statistics_admin_board_action_path(user)}
            .btn.btn-sm.btn-success.d-flex.align-items-center.mg-r-5
              %i.fe.fe-bar-chart
              %span.d-none.d-sm-inline.mg-l-5 Monthly reports
        %a{"data-toggle" => "modal", :href => "#modalEditContact"}
          .btn.btn-sm.btn-white.d-flex.align-items-center.mg-r-5
            %i.fe.fe-edit
            %span.d-none.d-sm-inline.mg-l-5 Edit

        -if !user.banned?
          = link_to toggle_ban_admin_user_path(user_id: @user), method: :post,class: "btn btn-sm btn-white d-flex align-items-center mg-r-5", data: { confirm: "You sure you want to ban?" } do
            %i.fe.fe-disabled
            %span.d-none.d-sm-inline.mg-l-5 Ban
        -else
          = link_to toggle_ban_admin_user_path(user_id: @user), method: :post, data: { confirm: "You sure you want to activate?" } do
            .btn.btn-sm.btn-outline-primary.d-flex.align-items-center.mg-r-5
              %i.fe.fe-check-circle
              %span.d-none.d-sm-inline.mg-l-5 Activate User


        = link_to impersonate_admin_user_path(user.id), method: :post,class: "btn btn-sm btn-dark d-flex align-items-center mg-r-5", data: { confirm: "You sure you want to impersonate as #{user.name}?" } do
          %i.fe.fe-users
          %span.d-none.d-sm-inline.mg-l-5 Impersonate

    .row
      .col-3.col-sm
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Email
        %p.mg-b-0= user.email
      .col-2.col-sm
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Name
        %p.mg-b-0= user.name
      / col
      .col-2.col-sm
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Balance
        %p.mg-b-0= user.balance.round(2)
      / col
      .col-3.mg-t-20.mg-sm-t-0
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Member Since
        %p.mg-b-0= user.created_at.strftime("%A %b %d %Y")

      .col-2.mg-t-20.mg-sm-t-0
        %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Phone number
        %p.mg-b-0= number_to_phone(user.phone_number)
      / col
      / row
    %br
    - if user.is_user?
      .row
        .col-4
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Position
          %p.mg-b-0= user.work_position
        .col-4
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Company Name
          %p.mg-b-0= user.company_name
        / col
        .col-4
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Type of organization
          %p.mg-b-0= user.business_type
        .col-4.pd-t-10
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Payment preference
          %p.mg-b-0= user.payment_preference
    - if user.verified
      .divider-text Verification Details
      .row.row-sm
        .col-6.col-sm-4
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Full Name
          %p.tx-rubik.mg-b-0= user.verifications.first.name rescue ""
        .col-6.col-sm-4
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Phone
          %p.tx-rubik.mg-b-0= user.verifications.first.phone rescue ""
        .col-6.col-sm-4.mg-t-20.mg-sm-t-0
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Country
          %p.tx-rubik.mg-b-0= user.verifications.first.country rescue ""
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Email Address
          %p.tx-primary.mg-b-0= user.email
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Company (Unofficial)
          %p.mg-b-0= user.verifications.first.business_name rescue ""
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Verification Status
          - begin
            - if user.verifications.first.pending?
              %p.mg-b-0.tx-warning= user.verifications.first.status
            - elsif user.verifications.first.denied?
              %p.mg-b-0.tx-danger= user.verifications.first.status
          - rescue
            %p.mg-b-0.tx-success= user.verified
        .col-sm-12.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Business Address
          %p.mg-b-0
            = user.verifications.first.full_address rescue ""
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Business Website
          %p.tx-primary.mg-b-0
            %a{ href: (user.verifications.first.website rescue ""), target: "_blank" }= user.verifications.first.website rescue ""
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Business Code (RFC)
          %p.mg-b-0= user.verifications.first.business_code rescue ""
        .col-sm-4.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Official Business Name (Razon Social)
          %p.mg-b-0= user.verifications.first.official_business_name rescue ""
        / col
        .col-sm-6.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Credit limit
          %p.mg-b-0
            $#{user.credit_limit}
        .col-sm-6.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Credit limit
          %p.mg-b-0
            = form_tag update_credit_admin_user_path(user), method: "put" do
              .form-inline
                .form-group
                  = number_field_tag :credit_limit, nil, placeholder: '2000', class: 'form-control', style:'width: 30%;'
                  = submit_tag "Update", class: 'btn btn-sm btn-outline-dark d-flex align-items-center mg-r-5 mg-l-10'
        .col-sm-6.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Assign credits
          %p.mg-b-0
          = form_with(url: increase_credits_admin_user_path, method: :put, :html => { data: { parsley_validate: true } }, local: false) do |f|
            .input-group.form-group
              .input-group-prepend
                %span.input-group-text
                  %i.fe.fe-wallet
              = f.text_field :total, class: "form-control input-number_integer", placeholder: "50", required: true, min: "50"
              = f.submit "Update", class: 'btn btn-sm btn-outline-dark d-flex align-items-center mg-r-5 mg-l-10'
        .col-sm.mg-t-20.mg-sm-t-30
          %label.tx-10.tx-medium.tx-spacing-1.tx-color-03.tx-uppercase.tx-sans.mg-b-10 Notes
          %p.tx-13.mg-b-0 It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
  - if user.is_provider?
    .divider-text Boards
    .row.row-xs
      = render partial: 'admin/users/users_tab/boards', collection: User.find(user.id).projects, as: :project
      / row
  #userInvoices.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Invoices
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
  / tab-pane
  #userCampaigns.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Campaigns
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
  #userAds.tab-pane.pd-20.pd-xl-25
    .d-flex.align-items-center.justify-content-between.mg-b-30
      %h6.tx-15.mg-b-0 Ads
      %a.btn.btn-sm.btn-white.d-flex.align-items-center{:href => "#"}
        %i.icon.ion-md-time.mg-r-5.tx-16.lh--9
        Clear History
