.col-sm-2.col-lg-6
.col-lg-12.col-xl-8.mg-t-10
  .card
    .card-header.pd-t-20.d-sm-flex.align-items-start.justify-content-between.bd-b-0.pd-b-0
      %div
        %h6.mg-b-5= t("campaign.history_data")
        %p.tx-13.tx-color-03.mg-b-0= t("campaign.month_impressions")
    .card-body.pd-y-30
      .d-sm-flex
        .media
          .wd-40.wd-md-50.ht-40.ht-md-50.bg-success.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-6
            %i.fe.fe-wallet.fnt-md
          .media-body
            %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.tx-nowrap.mg-b-5.mg-md-b-8= t("campaign.total_invested")
            %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0 $#{@total_invested}
        .media.mg-t-20.mg-sm-t-0.mg-sm-l-15.mg-md-l-40
          .wd-40.wd-md-50.ht-40.ht-md-50.bg-danger.tx-white.mg-r-10.mg-md-r-10.d-flex.align-items-center.justify-content-center.rounded.op-5
            %i.fe.fe-desktop.fnt-md
          .media-body
            %h6.tx-sans.tx-uppercase.tx-10.tx-spacing-1.tx-color-03.tx-semibold.mg-b-5.mg-md-b-8= t("campaign.total_impressions")
            %h4.tx-20.tx-sm-18.tx-md-24.tx-normal.tx-rubik.mg-b-0=@total_impressions
    / card-body
    .card.history-table.table-responsive{:style => "height: 218px;"}
      %table.table.table-dashboard.mg-b-0.history-table
        %thead
          %tr
            %th.text= t("campaign.campaign_date")
            %th.text-right= t("campaign.total_invested")
            %th.text-right= t("campaign.total_impressions")
            - @campaign_impressions.sort_by {|k,v| k}.reverse.each do |impression|
              %tbody.sidebar-body
                %tr
                %td.text= impression[0].strftime("%B %d, %Y")
                %td.text-right.tx-success= number_to_currency_usd(impression[1][:total_invested])
                %td.text-right.tx-danger= impression[1][:impressions_count]
