.col-lg-8.mg-t-10
  .card.ht-100p
    .card-header.pd-t-20.pd-b-0.bd-b-0
      %h6.mg-b-5
        = t('campaign.daily_qr_scans')
        %p.tx-12.tx-color-03.mg-b-0=t('campaign.daily_qr_scans_description')
        .card-body.pd-20
          .chart-two.-b-20
            = line_chart daily_qr_code_scans_chart_path(@campaign.slug),  colors: ["#69b2f8"]

.col-sm-12.col-md-4.col-lg-4.mg-t-10
  .card
    .card-header
      %h6.mg-b-0= t('campaign.total_qr_scans')
    / card-header
    .card-body.tx-center
      %h4.tx-normal.tx-rubik.tx-40.tx-spacing--1.mg-b-0= @campaign.qr_shortener.hits(@date_start)
      %p.tx-12.tx-uppercase.tx-semibold.tx-spacing-1.tx-color-02= t('campaign.scans')
      %p.tx-12.tx-color-03.mg-b-0= t('campaign.qr_scans_tips')
    / card-body
    .card-footer.bd-t-0.pd-t-0
      %button.btn.btn-sm.btn-block.btn-outline-primary.btn-uppercase.tx-spacing-1= t('general_inputs.learn_more')
    / card-footer
  / card
