.col-sm-6.col-lg-3.mg-t-5.mg-sm-t-0
    .card.card-body
        %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8t= t("campaign.total_impressions")
        .d-flex.d-lg-block.d-xl-flex.align-items-end
        %h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1
            = @campaign.impressions.count
        .chart-three

.col-sm-6.col-lg-3.mg-t-10.mg-sm-t-0
    .card.card-body
        %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8= t("campaign.total_invested")
        .d-flex.d-lg-block.d-xl-flex.align-items-end
        %h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1
            = number_to_currency_usd(@campaign.total_invested)
        .chart-three

.col-sm-6.col-lg-3.mg-t-10.mg-sm-t-0
    .card.card-body
        %h6.tx-uppercase.tx-11.tx-spacing-1.tx-color-02.tx-semibold.mg-b-8= t("campaign.frequency.title")
        .d-flex.d-lg-block.d-xl-flex.align-items-end
        %h3.tx-normal.tx-rubik.mg-b-0.mg-r-5.lh-1
            %small.tx-gray-700.tx-xs= t("campaign.frequency.x_times_every")
            = @campaign.frequency
            %small.tx-gray-700.tx-xs minutos
        .chart-three
