<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Admin Dashboard">
    <meta name="author" content="Bilbo">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://s3.us-east-2.amazonaws.com/cdn.mybilbo.com/Bilbo-Favicon.png">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ ENV.fetch("MAPS_API_KEY")+ '&libraries=places&callback=activatePlacesSearch', :defer => true, :async => true, 'data-turbolinks-track': 'reload' %>
    <title>Bilbo</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <body class="<%= "app-contact" if current_page?(action: "show_users", controller: "admins") %>">
  <%= render :partial => 'flash/flash', :flash => flash %>
  <%= yield %>
  <%= render 'shared/spinner' %>
  </body>
</html>
