<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta  tags-->
    <%= seo_meta_tags %>
    <%= opengraph_meta_tags %>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/cdn.bilbo.mx/Bilbo-Favicon.png">
    <%= javascript_include_tag 'https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js', :defer => true, 'data-turbolinks-eval': 'false' %>
    <%= javascript_include_tag 'https://unpkg.com/@googlemaps/markerwithlabel@1.2.2/dist/index.min.js', :defer => true, 'data-turbolinks-eval': 'false' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ ENV.fetch("MAPS_API_KEY")+"&libraries=places,geometry", :defer => true, 'data-turbolinks-eval': 'false' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if !user_signed_in? && request.fullpath == "/external_sources/setup" %>
      <link rel="manifest" href="/manifest.json" />
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <body>
    <%= google_tag_manager %>
    <%= render :partial => 'flash/flash'%>
    <%= yield %>
    <% if current_user != true_user %>
    <div class="alert alert-danger alert-server tx-center" role="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>WARNING</strong> You are impersonating a user, so be very careful. <a href="<%= stop_impersonating_admin_users_path %>">Stop impersonating</a>
    </div>
    <% end %>
    <%= render 'shared/spinner' %>
  </body>
</html>
