<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bilbo">
    <meta name="twitter:description" content="<%= t("meta_tags.description") %>">
    <meta name="twitter:image" content="http://themepixels.me/dashforge/img/dashforge-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="https://mybilbo.com">
    <meta property="og:title" content="Bilbo">
    <meta property="og:description" content="<%= t("meta_tags.description") %>">

    <!-- Meta -->
    <meta name="description" content="<%= t("meta_tags.description") %>">
    <meta name="author" content="Bilbo">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="https://s3.us-east-2.amazonaws.com/cdn.bilbo.mx/Bilbo-Favicon.png">
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+ ENV.fetch("MAPS_API_KEY"), :defer => true, :async => true, 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Bilbo</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <body>

    <%= render :partial => 'flash/flash', :flash => flash %>
    <%= yield %>
    <% flash.each do |name, msg| %>

  # New code (allow for flash elements to be arrays)
  <% if msg.class == Array %>
    <% msg.each do |message| %>
      <%= content_tag :div, message, :id => "flash_#{name}" %>
    <% end %>
  <% else %>

    # old code
    <%= content_tag :div, msg, :id => "flash_#{name}" %>

  <% end %> #don't forget the extra end
<% end %>

    <%= render 'shared/spinner' %>

  </body>
</html>
